USE [EVAL_Labs]
GO
/****** Object:  StoredProcedure [dbo].[sp_Eval_StudentLevelFile_Quarantine]    Script Date: 12/19/2016 4:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Eval_StudentLevelFile_Quarantine]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

/*Join dosage and enrollment information from tables 3 and 8, create dummy variables for program enrollment*/
SELECT	b.PROGRAM_DESC, 
		b.INDICATOR_AREA_DESC, 
		a.TTL_TIME, 
		b.CYSCHOOLHOUSE_STUDENT_ID, 
		b.SITE_NAME, 
		b.SCHOOL_NAME, 
		b.FIRST_INTERVENTION, 
		b.LAST_INTERVENTION, 
		B.ENROLLED_DAYS
INTO #LEVEL1
FROM [ReportCYData_Prod].[dbo].[8_RPT_STUDENT_TIME_LINEAR] a
FULL OUTER JOIN [ReportCYData_Prod].[dbo].[3_RPT_STUDENT_ENROLLMENT_WIP] b
on		a.PROGRAM_DESC = b.PROGRAM_DESC AND 
		a.INDICATOR_AREA_DESC=b.INDICATOR_AREA_DESC AND 
		a.FISCAL_YEAR=b.FISCAL_YEAR AND 
		a.CYSCHOOLHOUSE_STUDENT_ID=b.CYSCHOOLHOUSE_STUDENT_ID

		/*get min and max enrollment dates by program*/
		select cyschoolhouse_student_id, program_desc, datediff(d, min(first_intervention), max(last_intervention)) as programdatediff
		into #programdatediff
		from [ReportCYData_Prod].[dbo].[3_RPT_STUDENT_ENROLLMENT_WIP]
		group by cyschoolhouse_student_id, program_desc

		/*join program datediff back to program enrollment information to determine if students were enrolled for 1+ days*/
		select a.*,
		CASE WHEN b.programdatediff>0 and  a.PROGRAM_DESC = 'Tutoring: Math' THEN 1 ELSE 0 END AS MATH_TUTORING,
		CASE WHEN b.programdatediff>0 and a.PROGRAM_DESC = 'Tutoring: Literacy' THEN 1 ELSE 0 END AS LITERACY_TUTORING,
		CASE WHEN b.programdatediff>0 and a.PROGRAM_DESC = '50 Acts of Leadership' THEN 1 ELSE 0 END AS LEADERSHIP_50ACTS,
		CASE WHEN b.programdatediff>0 and a.PROGRAM_DESC = 'Attendance Check in Check Out' THEN 1 ELSE 0 END AS ATT_CICO,
		CASE WHEN b.programdatediff>0 and a.PROGRAM_DESC = 'Coaching: Attendance' THEN 1 ELSE 0 END AS ATTENDANCE_COACHING,
		CASE WHEN b.programdatediff>0 and a.PROGRAM_DESC = '50 Acts of Greatness' THEN 1 ELSE 0 END AS GREATNESS_50ACTS,
		CASE WHEN b.programdatediff>0 and a.PROGRAM_DESC = 'Coaching: Behavior (Local)' THEN 1 ELSE 0 END AS BEHAVIOR_COACHING,
		CASE WHEn b.programdatediff>0 and a.PROGRAM_DESC = 'SEL Check in Check Out' THEN 1 ELSE 0 END AS BEH_CICO,
		CASE WHEN b.programdatediff>0 and a.PROGRAM_DESC = 'Enrichment' THEN 1 ELSE 0 END AS ENRICHMENT,
		CASE WHEN b.programdatediff>0 and a.PROGRAM_DESC = 'Homework Assistance' THEN 1 ELSE 0 END AS HOMEWORK_ASSISTANCE, 
		CASE WHEN b.programdatediff>0 and a.PROGRAM_DESC = 'Starfish Corps' THEN 1 ELSE 0 END AS STARFISH_CORPS,
		CASE WHEN b.programdatediff>0 and a.PROGRAM_DESC = 'Afterschool Heroes' THEN 1 ELSE 0 END AS AFTERSCHOOL_HEROES  into #level1a from #level1 a
		left join #programdatediff b
		on a.cyschoolhouse_student_id=b.cyschoolhouse_student_id and a.program_desc=b.program_desc


/*Aggregrate the joined dosage and enrollment information from program-level to indicator area level*/
SELECT	SITE_NAME, 
		SCHOOL_NAME, 
		CYSCHOOLHOUSE_STUDENT_ID, 
		INDICATOR_AREA_DESC, 
		SUM(TTL_TIME) as TotalDosage, 
		MIN(FIRST_INTERVENTION) as EnrollDateEarliest, 
		MAX(LAST_INTERVENTION) as ExitDateLatest, 
		MAX (MATH_TUTORING) AS MATH_TUTORING, 
		MAX (LITERACY_TUTORING) AS LITERACY_TUTORING, 
		MAX (LEADERSHIP_50ACTS) AS LEADERSHIP_50ACTS,
		MAX (ATTENDANCE_COACHING) AS ATTENDANCE_COACHING, 
		MAX(GREATNESS_50ACTS) AS GREATNESS_50ACTS,
		MAX (BEHAVIOR_COACHING) AS BEHAVIOR_COACHING, 
		MAX(ENRICHMENT) AS ENRICHMENT, 
		MAX(HOMEWORK_ASSISTANCE) AS HOMEWORK_ASSISTANCE,
		MAX (STARFISH_CORPS) AS STARFISH_CORPS, 
		MAX (AFTERSCHOOL_HEROES) AS AFTERSCHOOL_HEROES, 
		MAX(ATT_CICO) AS ATT_CICO, 
		MAX(BEH_CICO) AS BEH_CICO
INTO #LEVEL2
FROM #LEVEL1a
GROUP BY SITE_NAME, SCHOOL_NAME, CYSCHOOLHOUSE_STUDENT_ID, INDICATOR_AREA_DESC

/*Create dosage and enrollment variables by indicator area*/
SELECT	*,
		CASE WHEN INDICATOR_AREA_DESC = 'ELA/Literacy' then TOTALDOSAGE ELSE NULL END AS TOTALDOSAGELIT,
		CASE WHEN INDICATOR_AREA_DESC = 'Math' then TOTALDOSAGE ELSE NULL END AS TOTALDOSAGEMTH,
		CASE WHEN INDICATOR_AREA_DESC = 'Attendance' THEN TOTALDOSAGE ELSE NULL END AS TOTALDOSAGEATT,
		CASE WHEN INDICATOR_AREA_DESC = 'Behavior' THEN TOTALDOSAGE ELSE NULL END AS TOTALDOSAGEBEH,
		CASE WHEN INDICATOR_AREA_DESC = 'Non-specific IA' THEN TOTALDOSAGE ELSE NULL END AS TOTALDOSAGEOTH,
		CASE WHEN INDICATOR_AREA_DESC = 'ELA/Literacy' then ENROLLDATEEARLIEST ELSE NULL END AS LITENROLLDATE,
		CASE WHEN INDICATOR_AREA_DESC = 'ELA/Literacy' then EXITDATELatest ELSE NULL END AS LITEXITDATE,
		CASE WHEN INDICATOR_AREA_DESC = 'Math' then ENROLLDATEEARLIEST ELSE NULL END AS MTHENROLLDATE,
		CASE WHEN INDICATOR_AREA_DESC = 'Math' then EXITDATELatest ELSE NULL END AS MTHEXITDATE,
		CASE WHEN INDICATOR_AREA_DESC = 'Attendance' then ENROLLDATEEARLIEST ELSE NULL END AS ATTENROLLDATE,
		CASE WHEN INDICATOR_AREA_DESC = 'Attendance' then EXITDATELatest ELSE NULL END AS ATTEXITDATE,
		CASE WHEN INDICATOR_AREA_DESC = 'Behavior' then ENROLLDATEEARLIEST ELSE NULL END AS BEHENROLLDATE,
		CASE WHEN INDICATOR_AREA_DESC = 'Behavior' then EXITDATELatest ELSE NULL END AS BEHEXITDATE,
		CASE WHEN INDICATOR_AREA_DESC = 'Non-specific IA' then ENROLLDATEEARLIEST ELSE NULL END AS OTHENROLLDATE,
		CASE WHEN INDICATOR_AREA_DESC = 'Non-specific IA' then EXITDATELatest ELSE NULL END AS OTHEXITDATE
INTO #LEVEL3
FROM #LEVEL2

/*GROUP BY STUDENT*/
SELECT	SITE_NAME, 
		SCHOOL_NAME, 
		CYSCHOOLHOUSE_STUDENT_ID, 
		MAX(MATH_TUTORING) AS MATH_TUTORING, 
		MAX(LITERACY_TUTORING) AS LITERACY_TUTORING, 
		MAX(LEADERSHIP_50ACTS) AS LEADERSHIP_50ACTS, 
		MAX(ATTENDANCE_COACHING) AS ATTENDANCE_COACHING,
		MAX(GREATNESS_50ACTS) AS GREATNESS_50ACTS, 
		MAX(BEHAVIOR_COACHING) AS BEHAVIOR_COACHING, 
		MAX(ENRICHMENT) AS ENRICHMENT,
		MAX(HOMEWORK_ASSISTANCE) AS HOMEWORK_ASSISTANCE, 
		MAX(STARFISH_CORPS) AS STARFISH_CORPS, 
		MAX(AFTERSCHOOL_HEROES) AS AFTERSCHOOL_HEROES, 
		max(ATT_CICO) as ATT_CICO, 
		max(beh_CICO) as BEH_CICO, 
		MAX(TOTALDOSAGELIT) AS TOTALDOSAGELIT, 
		MAX(TOTALDOSAGEMTH) AS TOTALDOSAGEMTH, 
		max(totaldosageatt) as totaldosageatt, 
		max(totaldosagebeh) as totaldosagebeh, 
		MAX(TOTALDOSAGEOTH) as TOTALDOSAGEOTH, 
		MAX(LITENROLLDATE) as LITENROLLDATE, 
		MAX(LITEXITDATE) as LITEXITDATE, 
		MAX(MTHENROLLDATE) as MTHENROLLDATE,
		MAX(MTHEXITDATE) as MTHEXITDATE, 
		MAX(ATTENROLLDATE) as ATTENROLLDATE, 
		MAX(ATTEXITDATE) as ATTEXITDATE, 
		MAX(BEHENROLLDATE) AS BEHENROLLDATE,
		MAX(BEHEXITDATE) AS BEHEXITDATE,
		MAX(OTHENROLLDATE) as OTHENROLLDATE, 
		MAX(OTHEXITDATE) as OTHEXITDATE 
INTO #LEVEL4
FROM #LEVEL3
GROUP BY SITE_NAME, SCHOOL_NAME, CYSCHOOLHOUSE_STUDENT_ID

/*Join student-level dosage and enrollement information with student info from Student Main and school info from School Main*/
SELECT	G.CYSCHOOLHOUSE_STUDENT_ID, 
		g.FIRST_NAME, 
		g.MIDDLE_NAME,
		g.LAST_NAME, 
		g.REGION_ID, 
		g.REGION_NAME, 
		g.CYCHANNEL_SCHOOL_ACCOUNT_NBR, 
		g.GENDER, 
		g.GRADE_ID, 
		CASE WHEN G.GRADE_ID= 'K' THEN 0 WHEN G.GRADE_ID = 'PK' THEN -1 WHEN G.GRADE_ID = 'UN Ungraded' then 9999 ELSE GRADE_ID END AS GRADE_ID_NUMERIC, 
		g.ATTENDANCE_IA, 
		g.ELA_IA, 
		g.MATH_IA, 
		g.BEHAVIOR_IA, 
		g.FISCAL_YEAR, 
		g.ELL, 
		g.RACE_ETHNICITY, 
		g.STUDENT_DISTRICT_ID, 
		g.CYSCHOOLHOUSE_SCHOOL_ID, 
		g.ELA_PRIMARY_CM_SF_ID,
        g.ELA_PRIMARY_CM_NAME,
		g.ELA_PRIMARY_CM_EMAIL,
		g.MATH_PRIMARY_CM_SF_ID,
        g.MATH_PRIMARY_CM_NAME,
		g.MATH_PRIMARY_CM_EMAIL,
        g.ATT_PRIMARY_CM_SF_ID,
        g.ATT_PRIMARY_CM_NAME,
		g.ATT_PRIMARY_CM_EMAIL,
        g.BEH_PRIMARY_CM_SF_ID,
        g.BEH_PRIMARY_CM_NAME,
		g.BEH_PRIMARY_CM_EMAIL,
		h.DIPLOMAS_NOW_SCHOOL, 
		h.site_name, 
		h.school_name, 
		h.CY_CHANNEL_SF_ID, 
		f.MATH_TUTORING,	
		f.LITERACY_TUTORING,	
		f.LEADERSHIP_50ACTS,	
		f.ATTENDANCE_COACHING,	
		f.GREATNESS_50ACTS,	
		f.BEHAVIOR_COACHING,	
		f.ENRICHMENT,	
		f.HOMEWORK_ASSISTANCE,	
		f.STARFISH_CORPS,	
		f.AFTERSCHOOL_HEROES, 
		F.ATT_CICO, 
		F.BEH_CICO,	
		f.TOTALDOSAGELIT,	
		f.TOTALDOSAGEMTH,	
		f.TOTALDOSAGEOTH, 
		f.totaldosageatt, 
		f.totaldosagebeh,
		datediff(d, litenrolldate, litexitdate) as ENROLLEDDAYSLIT,
		datediff(d, mthenrolldate, mthexitdate) as enrolleddaysmth,
		datediff(d, attenrolldate, attexitdate) as enrolleddaysatt,
		datediff(d, behenrolldate, behexitdate) as enrolleddaysbeh,
		datediff(d, othenrolldate, othexitdate) as enrolleddaysoth,
		f.LITENROLLDATE,	
		f.LITEXITDATE,	
		f.MTHENROLLDATE,	
		f.MTHEXITDATE,	
		f.ATTENROLLDATE,	
		f.ATTEXITDATE,	
		F.BEHENROLLDATE,
		F.BEHEXITDATE,
		f.OTHENROLLDATE,	
		f.OTHEXITDATE,  
		h.WSWC_ELA_39_EnrollGoal AS ELA_39_EnrollGoal, 
		h.ELA_out39_Enroll, 
		h.ELA_All_Enroll,
		h.WSWC_MTH_39_EnrollGoal as MTH_39_EnrollGoal, 
		h.MTH_out39_Enroll, 
		h.MTH_All_Enroll,  
		h.WSWC_ATT_39_EnrollGoal AS ATT_39_EnrollGoal, 
		h.ATT_out39_Enroll, 
		h.ATT_All_Enroll,
		h.WSWC_BEH_39_EnrollGoal AS BEH_39_EnrollGoal, 
		h.BEH_out39_Enroll, 
		h.BEH_All_Enroll,   
		h.FEB_ELA_DosageGoal, 
		h.MAR_ELA_DosageGoal, 
		h.APR_ELA_DosageGoal, 
		h.MAY_ELA_DosageGoal, 
		h.JUN_ELA_DosageGoal, 
		h.FEB_MTH_DosageGoal, 
		h.MAR_MTH_DosageGoal, 
		h.APR_MTH_DosageGoal,
		h.MAY_MTH_DosageGoal, 
		h.JUN_MTH_DosageGoal, 
		h.Q2_ELA_EnrollGoal, 
		h.Q2_MTH_EnrollGoal,
		h.Q2_ATT_EnrollGoal, 
		h.Q2_BEH_EnrollGoal, 
		h.Q3_ELA_EnrollGoal, 
		h.Q3_MTH_EnrollGoal, 
		h.Q3_ATT_EnrollGoal, 
		h.Q3_BEH_EnrollGoal,
		h.GrantCategory, 
		h.GrantSiteNum, 
		h.GrantSite, 
		h.GrantSite_GR, 
		h.ACREPORTLIT, 
		h.ACREPORTMTH, 
		h.ACREPORTATT,
		h.ACREPORTBEH, 
		h.ED1_ACAD_GOAL, 
		h.ED2_ACAD_GOAL, 
		h.ED5_ACAD_GOAL, 
		h.ED1_ENGAGE_GOAL, 
		h.ED2_ENGAGE_GOAL,
		h.ED27B_ENGAGE_GOAL, 
		h.AC_SEL_OUPUT1_GOAL, 
		h.AC_SEL_OUTPUT2_GOAL, 
		h.AC_SELOUTCOME_GOAL
INTO #LEVEL5
FROM #LEVEL4 F
RIGHT JOIN [ReportCYData_Prod].[dbo].[1_RPT_STUDENT_MAIN_wip] g
ON f.CYSCHOOLHOUSE_STUDENT_ID=g.CYSCHOOLHOUSE_STUDENT_ID
LEFT JOIN [ReportCYData_Prod].[dbo].[2_RPT_SCHOOL_MAIN] h
ON h.CYCHANNEL_SCHOOL_ACCOUNT_NBR = g.CYCHANNEL_SCHOOL_ACCOUNT_NBR


/*JOIN THE INFORMATION FROM ABOVE (DOSAGE, ENROLLMENT, DEMOGRAPHICS, SCHOOL INFO) WITH VARIABLES FROM IMPACT ANALYTICS TABLES, CREATE PLACEHOLDERS FOR CALCULATED VARIABLES*/
SELECT	A.*, 
		b.SKILL_DESCRIPTION as LitAssess_SKILL_DESCRIPTION,
		b.DATA_TYPE as LitAssess_DATA_TYPE,
		b.PRE_ASSESSMENT_DATE as LitAssess_PRE_ASSESSMENT_DATE,
		b.PRE_INTERVAL as LitAssess_PRE_INTERVAL,
		b.PRE_VALUE as LitAssess_PRE_VALUE,
		b.PRE_SCALE_LOCAL as LitAssess_PRE_SCALE_LOCAL,
		b.PRE_SCALE_NORM as LitAssess_PRE_SCALE_NORM,
		b.PRE_SCALE_RANK_LOCAL as LitAssess_PRE_SCALE_RANK_LOCAL,
		b.PRE_SCALE_RANK_NORM as LitAssess_PRE_SCALE_RANK_NORM,
		b.PRE_ALPHA_SCORE_RANK as LitAssess_PRE_ALPHA_SCORE_RANK,
		b.PRE_ALPHA_SCORE_RANK_NORM as LitAssess_PRE_ALPHA_SCORE_RANK_NORM,
		b.PRE_TARGET_SCORE as LitAssess_PRE_TARGET_SCORE,
		b.PRE_ALPHA_TARGET_SCORE_RANK as LitAssess_PRE_ALPHA_TARGET_SCORE_RANK,
		b.PRE_ALPHA_TARGET_SCORE_RANK_NORM as LitAssess_PRE_ALPHA_TARGET_SCORE_RANK_NORM,
		b.PRE_MET_TARGET_SCORE as LitAssess_PRE_MET_TARGET_SCORE,
		b.MY_ASSESSMENT_DATE as LitAssess_MY_ASSESSMENT_DATE,
		b.MY_INTERVAL as LitAssess_MY_INTERVAL,
		b.MY_VALUE as LitAssess_MY_VALUE,
		b.MY_SCALE_LOCAL as LitAssess_MY_SCALE_LOCAL,
		b.MY_SCALE_NORM as LitAssess_MY_SCALE_NORM,
		b.MY_SCALE_RANK_LOCAL as LitAssess_MY_SCALE_RANK_LOCAL,
		b.MY_SCALE_RANK_NORM as LitAssess_MY_SCALE_RANK_NORM,
		b.MY_ALPHA_SCORE_RANK as LitAssess_MY_ALPHA_SCORE_RANK,
		b.MY_ALPHA_SCORE_RANK_NORM as LitAssess_MY_ALPHA_SCORE_RANK_NORM,
		b.MY_TARGET_SCORE as LitAssess_MY_TARGET_SCORE,
		b.MY_ALPHA_TARGET_SCORE_RANK as LitAssess_MY_ALPHA_TARGET_SCORE_RANK,
		b.MY_ALPHA_TARGET_SCORE_RANK_NORM as LitAssess_MY_ALPHA_TARGET_SCORE_RANK_NORM,
		b.MY_MET_TARGET_SCORE as LitAssess_MY_MET_TARGET_SCORE,
		b.POST_ASSESSMENT_DATE as LitAssess_POST_ASSESSMENT_DATE,
		b.POST_INTERVAL as LitAssess_POST_INTERVAL,
		b.POST_VALUE as LitAssess_POST_VALUE,
		b.POST_SCALE_LOCAL as LitAssess_POST_SCALE_LOCAL,
		b.POST_SCALE_NORM as LitAssess_POST_SCALE_NORM,
		b.POST_SCALE_RANK_LOCAL as LitAssess_POST_SCALE_RANK_LOCAL,
		b.POST_SCALE_RANK_NORM as LitAssess_POST_SCALE_RANK_NORM,
		b.POST_ALPHA_SCORE_RANK as LitAssess_POST_ALPHA_SCORE_RANK,
		b.POST_ALPHA_SCORE_RANK_NORM as LitAssess_POST_ALPHA_SCORE_RANK_NORM,
		b.POST_TARGET_SCORE as LitAssess_POST_TARGET_SCORE,
		b.POST_ALPHA_TARGET_SCORE_RANK as LitAssess_POST_ALPHA_TARGET_SCORE_RANK,
		b.POST_ALPHA_TARGET_SCORE_RANK_NORM as LitAssess_POST_ALPHA_TARGET_SCORE_RANK_NORM,
		b.POST_MET_TARGET_SCORE as LitAssess_POST_MET_TARGET_SCORE,
		b.MY_RAWCHANGE as LitAssess_MY_RAWCHANGE,
		b.MY_RAWCHANGE_DEGREE as LitAssess_MY_RAWCHANGE_DEGREE,
		b.RAWCHANGE as LitAssess_RAWCHANGE,
		b.RAWCHANGE_DEGREE as LitAssess_RAWCHANGE_DEGREE,
		b.MY_SCALE_CHANGE_LOCAL as LitAssess_MY_SCALE_CHANGE_LOCAL,
		b.SCALE_CHANGE_LOCAL as LitAssess_SCALE_CHANGE_LOCAL,
		B.SCALE_CHANGE_LOCAL_DEGREE AS LitAssess_SCALE_CHANGE_LOCAL_DEGREE,
		b.MY_SCALE_CHANGE_NORM as LitAssess_MY_SCALE_CHANGE_NORM,
		b.SCALE_CHANGE_NORM as LitAssess_SCALE_CHANGE_NORM,
		B.SCALE_CHANGE_NORM_DEGREE AS LitAssess_SCALE_CHANGE_NORM_DEGREE,
		b.MY_SCALE_CHANGE_LOCAL_TEXT as LitAssess_MY_SCALE_CHANGE_LOCAL_TEXT,
		b.SCALE_CHANGE_LOCAL_TEXT as LitAssess_SCALE_CHANGE_LOCAL_TEXT,
		b.MY_SCALE_CHANGE_NORM_TEXT as LitAssess_MY_SCALE_CHANGE_NORM_TEXT,
		b.SCALE_CHANGE_NORM_TEXT as LitAssess_SCALE_CHANGE_NORM_TEXT,
		b.STARTOFFSLIDING as LitAssess_STARTOFFSLIDING,
		b.MY_SOS_MoveOn as LitAssess_MY_SOS_MoveOn,
		b.SOS_MoveOn as LitAssess_SOS_MoveOn,
		b.SRIGrade,
		b.SRIFallLexileMeasure,
		b.SRIFallLexileMeasureMax,
		b.SRISpringLexileMeasure,
		b.SRIFallToSpringGrowth,
		b.IOG_CRITERIA as LitAssess_IOG_CRITERIA,
		b.DN_CRITERIA as LitAssess_DN_CRITERIA,
		b.LITASSESS_ANYRAWDP,
		b.LITASSESS_2RAWDP,
		b.LITASSESS_2PerfLvlDP_LOCAL,
		b.LITASSESS_2PerfLvlDP_NORM,
		b.LITAssess_RawInc,
		b.LITAssess_StartOffSlid,
		b.LITAssess_SOSMoveOn,
		b.AC_MET_IMP as LitAssess_AC_MET_IMP,
		b.AC_MET_PERF_LVL as LitAssess_AC_MET_PERF_LVL,
		b.IOG_LITAssess35_anyRawDP,
		b.IOG_LITAssess35_2RawDP,
		b.IOG_LITAssess35_2PerfLvlDP_LOCAL,
		b.IOG_LITAssess35_2PerfLvlDP_NORM,
		b.IOG_LITAssess35_RawInc,
		b.IOG_LITAssess35_StartOffSlid,
		b.IOG_LITAssess35_SOSMoveOn,
		b.IOG_LITAssess69_anyRawDP,
		b.IOG_LITAssess69_2RawDP,
		b.IOG_LITAssess69_2PerfLvlDP_LOCAL,
		b.IOG_LITAssess69_2PerfLvlDP_NORM,
		b.IOG_LITAssess69_RawInc,
		b.IOG_LITAssess69_StartOffSlid,
		b.IOG_LITAssess69_SOSMoveOn,
		b.IOG_LITAssess39_anyRawDP,
		b.IOG_LITAssess39_2RawDP,
		b.IOG_LITAssess39_2PerfLvlDP_LOCAL,
		b.IOG_LITAssess39_2PerfLvlDP_NORM,
		b.IOG_LITAssess39_RawInc,
		b.IOG_LITAssess39_StartOffSlid,
		b.IOG_LITAssess39_SOSMoveOn,
		b.DN_LITAssess69_anyRawDP,
		b.DN_LITAssess69_2RawDP,
		b.DN_LITAssess69_2PerfLvlDP_LOCAL,
		b.DN_LITAssess69_2PerfLvlDP_NORM,
		b.DN_LITAssess69_RawInc,
		b.DN_LITAssess69_StartOffSlid,
		b.DN_LITAssess69_SOSMoveOn,
		b.OG_MET_IMP as LitAssess_OG_MET_IMP,
		b.OG_MET_PERF_LVL as LitAssess_OG_MET_PERF_LVL,
		b.LITASSESS_METPERFGROWTH,
		b.LITASSESS_AC_METGOAL,
		b.IOG_LITAssess35_MetPerfGrowth,
		b.IOG_LITAssess69_MetPerfGrowth,
		b.IOG_LITAssess39_MetPerfGrowth,
		c.SKILL_DESCRIPTION as MthAssess_SKILL_DESCRIPTION,
		c.DATA_TYPE as MthAssess_DATA_TYPE,
		c.PRE_ASSESSMENT_DATE as MthAssess_PRE_ASSESSMENT_DATE,
		c.PRE_INTERVAL as MthAssess_PRE_INTERVAL,
		c.PRE_VALUE as MthAssess_PRE_VALUE,
		c.PRE_SCALE_LOCAL as MthAssess_PRE_SCALE_LOCAL,
		c.PRE_SCALE_NORM as MthAssess_PRE_SCALE_NORM,
		c.PRE_SCALE_RANK_LOCAL as MthAssess_PRE_SCALE_RANK_LOCAL,
		c.PRE_SCALE_RANK_NORM as MthAssess_PRE_SCALE_RANK_NORM,
		c.PRE_ALPHA_SCORE_RANK as MthAssess_PRE_ALPHA_SCORE_RANK,
		c.PRE_ALPHA_SCORE_RANK_NORM as MthAssess_PRE_ALPHA_SCORE_RANK_NORM,
		c.PRE_TARGET_SCORE as MthAssess_PRE_TARGET_SCORE,
		c.PRE_ALPHA_TARGET_SCORE_RANK as MthAssess_PRE_ALPHA_TARGET_SCORE_RANK,
		c.PRE_ALPHA_TARGET_SCORE_RANK_NORM as MthAssess_PRE_ALPHA_TARGET_SCORE_RANK_NORM,
		c.PRE_MET_TARGET_SCORE as MthAssess_PRE_MET_TARGET_SCORE,
		c.MY_ASSESSMENT_DATE as MthAssess_MY_ASSESSMENT_DATE,
		c.MY_INTERVAL as MthAssess_MY_INTERVAL,
		c.MY_VALUE as MthAssess_MY_VALUE,
		c.MY_SCALE_LOCAL as MthAssess_MY_SCALE_LOCAL,
		c.MY_SCALE_NORM as MthAssess_MY_SCALE_NORM,
		c.MY_SCALE_RANK_LOCAL as MthAssess_MY_SCALE_RANK_LOCAL,
		c.MY_SCALE_RANK_NORM as MthAssess_MY_SCALE_RANK_NORM,
		c.MY_ALPHA_SCORE_RANK as MthAssess_MY_ALPHA_SCORE_RANK,
		c.MY_ALPHA_SCORE_RANK_NORM as MthAssess_MY_ALPHA_SCORE_RANK_NORM,
		c.MY_TARGET_SCORE as MthAssess_MY_TARGET_SCORE,
		c.MY_ALPHA_TARGET_SCORE_RANK as MthAssess_MY_ALPHA_TARGET_SCORE_RANK,
		c.MY_ALPHA_TARGET_SCORE_RANK_NORM as MthAssess_MY_ALPHA_TARGET_SCORE_RANK_NORM,
		c.MY_MET_TARGET_SCORE as MthAssess_MY_MET_TARGET_SCORE,
		c.POST_ASSESSMENT_DATE as MthAssess_POST_ASSESSMENT_DATE,
		c.POST_INTERVAL as MthAssess_POST_INTERVAL,
		c.POST_VALUE as MthAssess_POST_VALUE,
		c.POST_SCALE_LOCAL as MthAssess_POST_SCALE_LOCAL,
		c.POST_SCALE_NORM as MthAssess_POST_SCALE_NORM,
		c.POST_SCALE_RANK_LOCAL as MthAssess_POST_SCALE_RANK_LOCAL,
		c.POST_SCALE_RANK_NORM as MthAssess_POST_SCALE_RANK_NORM,
		c.POST_ALPHA_SCORE_RANK as MthAssess_POST_ALPHA_SCORE_RANK,
		c.POST_ALPHA_SCORE_RANK_NORM as MthAssess_POST_ALPHA_SCORE_RANK_NORM,
		c.POST_TARGET_SCORE as MthAssess_POST_TARGET_SCORE,
		c.POST_ALPHA_TARGET_SCORE_RANK as MthAssess_POST_ALPHA_TARGET_SCORE_RANK,
		c.POST_ALPHA_TARGET_SCORE_RANK_NORM as MthAssess_POST_ALPHA_TARGET_SCORE_RANK_NORM,
		c.POST_MET_TARGET_SCORE as MthAssess_POST_MET_TARGET_SCORE,
		c.MY_RAWCHANGE as MthAssess_MY_RAWCHANGE,
		c.MY_RAWCHANGE_DEGREE as MthAssess_MY_RAWCHANGE_DEGREE,
		c.RAWCHANGE as MthAssess_RAWCHANGE,
		c.RAWCHANGE_DEGREE as MthAssess_RAWCHANGE_DEGREE,
		c.MY_SCALE_CHANGE_LOCAL as MthAssess_MY_SCALE_CHANGE_LOCAL,
		c.SCALE_CHANGE_LOCAL as MthAssess_SCALE_CHANGE_LOCAL,
		C.SCALE_CHANGE_LOCAL_DEGREE AS MTHAssess_SCALE_CHANGE_LOCAL_DEGREE,
		c.MY_SCALE_CHANGE_NORM as MthAssess_MY_SCALE_CHANGE_NORM,
		c.SCALE_CHANGE_NORM as MthAssess_SCALE_CHANGE_NORM,
		C.SCALE_CHANGE_NORM_DEGREE AS MTHAssess_SCALE_CHANGE_NORM_DEGREE,
		c.MY_SCALE_CHANGE_LOCAL_TEXT as MthAssess_MY_SCALE_CHANGE_LOCAL_TEXT,
		c.SCALE_CHANGE_LOCAL_TEXT as MthAssess_SCALE_CHANGE_LOCAL_TEXT,
		c.MY_SCALE_CHANGE_NORM_TEXT as MthAssess_MY_SCALE_CHANGE_NORM_TEXT,
		c.SCALE_CHANGE_NORM_TEXT as MthAssess_SCALE_CHANGE_NORM_TEXT,
		c.STARTOFFSLIDING as MthAssess_STARTOFFSLIDING,
		c.MY_SOS_MoveOn as MthAssess_MY_SOS_MoveOn,
		c.SOS_MoveOn as MthAssess_SOS_MoveOn,
		c.F1 as SMIGrade,
		c.[Below Basic] as SMIBelowBasic_GrowthTarget,
		c.[Basic] as SMIBasic_GrowthTarget,
		c.[Proficient] as SMIProficient_GrowthTarget,
		c.[Advanced] as SMIAdvanced_GrowthTarget,
		c.IOG_CRITERIA as MthAssess_IOG_CRITERIA,
		c.DN_CRITERIA as MthAssess_DN_CRITERIA,
		c.MATHASSESS_ANYRAWDP,
		c.MATHASSESS_2RAWDP,
		c.MATHASSESS_2PerfLvlDP_LOCAL,
		c.MATHASSESS_2PerfLvlDP_NORM,
		c.MathAssess_RawInc,
		c.MathAssess_StartOffSlid,
		c.MathAssess_SOSMoveOn,
		c.SMI_Target,
		c.IOG_MATHAssess35_anyRawDP,
		c.IOG_MATHAssess35_2RawDP,
		c.IOG_MATHAssess35_2PerfLvlDP_LOCAL,
		c.IOG_MATHAssess35_2PerfLvlDP_NORM,
		c.IOG_MATHAssess35_RawInc,
		c.IOG_MATHAssess35_StartOffSlid,
		c.IOG_MATHAssess35_SOSMoveOn,
		c.IOG_MATHAssess69_anyRawDP,
		c.IOG_MATHAssess69_2RawDP,
		c.IOG_MATHAssess69_2PerfLvlDP_LOCAL,
		c.IOG_MATHAssess69_2PerfLvlDP_NORM,
		c.IOG_MATHAssess69_RawInc,
		c.IOG_MATHAssess69_StartOffSlid,
		c.IOG_MATHAssess69_SOSMoveOn,
		c.IOG_MATHAssess39_anyRawDP,
		c.IOG_MATHAssess39_2RawDP,
		c.IOG_MATHAssess39_2PerfLvlDP_LOCAL,
		c.IOG_MATHAssess39_2PerfLvlDP_NORM,
		c.IOG_MATHAssess39_RawInc,
		c.IOG_MATHAssess39_StartOffSlid,
		c.IOG_MATHAssess39_SOSMoveOn,
		c.DN_MATHAssess69_anyRawDP,
		c.DN_MATHAssess69_2RawDP,
		c.DN_MATHAssess69_2PerfLvlDP_LOCAL,
		c.DN_MATHAssess69_2PerfLvlDP_NORM,
		c.DN_MATHAssess69_RawInc,
		c.DN_MATHAssess69_StartOffSlid,
		c.DN_MATHAssess69_SOSMoveOn,
		c.AC_MET_IMP as MthAssess_AC_MET_IMP,
		c.AC_MET_PERF_LVL as MthAssess_AC_MET_PERF_LVL,
		c.OG_MET_IMP as MthAssess_OG_MET_IMP,
		c.OG_MET_PERF_LEVEL as MthAssess_OG_MET_PERF_LEVEL,
		c.MATHASSESS_IOG_METPERFGROWTH,
		c.MATHASSESS_AC_METGOAL,
		c.IOG_MATHAssess35_MetPerfGrowth,
		c.IOG_MATHAssess69_MetPerfGrowth,
		c.IOG_MATHAssess39_MetPerfGrowth,
		d.SKILL_DESCRIPTION as ATT_SKILL_DESCRIPTION,
		d.PRE_DATE as ATT_PRE_DATE,
		d.PRE_INTERVAL as ATT_PRE_INTERVAL,
		d.PRE_VALUE as ATT_PRE_VALUE,
		d.PRE_SCALE_LOCAL as ATT_PRE_SCALE_LOCAL,
		d.PRE_SCALE_NORM as ATT_PRE_SCALE_NORM,
		d.PRE_SCALE_RANK_LOCAL as ATT_PRE_SCALE_RANK_LOCAL,
		d.PRE_SCALE_RANK_NORM as ATT_PRE_SCALE_RANK_NORM,
		d.MY_DATE as ATT_MY_DATE,
		d.MY_INTERVAL as ATT_MY_INTERVAL,
		d.MY_VALUE as ATT_MY_VALUE,
		d.MY_SCALE_LOCAL as ATT_MY_SCALE_LOCAL,
		d.MY_SCALE_NORM as ATT_MY_SCALE_NORM,
		d.MY_SCALE_RANK_LOCAL as ATT_MY_SCALE_RANK_LOCAL,
		d.MY_SCALE_RANK_NORM as ATT_MY_SCALE_RANK_NORM,
		d.POST_DATE as ATT_POST_DATE,
		d.INTERVAL as ATT_INTERVAL,
		d.POST_VALUE as ATT_POST_VALUE,
		d.POST_SCALE_LOCAL as ATT_POST_SCALE_LOCAL,
		d.POST_SCALE_NORM as ATT_POST_SCALE_NORM,
		d.POST_SCALE_RANK_LOCAL as ATT_POST_SCALE_RANK_LOCAL,
		d.POST_SCALE_RANK_NORM as ATT_POST_SCALE_RANK_NORM,
		d.MY_RAWCHANGE as ATT_MY_RAWCHANGE,
		d.MY_RAWCHANGE_DEGREE as ATT_MY_RAWCHANGE_DEGREE,
		d.RAWCHANGE as ATT_RAWCHANGE,
		d.RAWCHANGE_DEGREE as ATT_RAWCHANGE_DEGREE,
		d.MY_SCALE_CHANGE_LOCAL as ATT_MY_SCALE_CHANGE_LOCAL,
		d.MY_SCALE_CHANGE_LOCAL_TEXT as ATT_MY_SCALE_CHANGE_LOCAL_TEXT,
		d.SCALE_CHANGE_LOCAL as ATT_SCALE_CHANGE_LOCAL,
		D.SCALE_CHANGE_LOCAL_DEGREE AS ATT_SCALE_CHANGE_LOCAL_DEGREE,
		d.SCALE_CHANGE_LOCAL_TEXT as ATT_SCALE_CHANGE_LOCAL_TEXT,
		d.MY_SCALE_CHANGE_NORM as ATT_MY_SCALE_CHANGE_NORM,
		D.SCALE_CHANGE_NORM_DEGREE AS ATT_SCALE_CHANGE_NORM_DEGREE,
		d.MY_SCALE_CHANGE_NORM_TEXT as ATT_MY_SCALE_CHANGE_NORM_TEXT,
		d.SCALE_CHANGE_NORM as ATT_SCALE_CHANGE_NORM,
		d.SCALE_CHANGE_NORM_TEXT as ATT_SCALE_CHANGE_NORM_TEXT,
		d.MY_SOS_MoveOn as ATT_MY_SOS_MoveOn,
		d.MY_SHOW_1PERC_INC as ATT_MY_SHOW_1PERC_INC,
		d.SHOW_1PERC_INC as ATT_SHOW_1PERC_INC,
		d.MY_SHOW_2PERC_INC as ATT_MY_SHOW_2PERC_INC,
		d.SHOW_2PERC_INC as ATT_SHOW_2PERC_INC,
		d.ATT_anyRawDP,
		d.ATT_2RawDP,
		D.IOG_ATT_ANYRAWDP,
		D.IOG_ATT_2RAWDP,
		d.ATT_2PerfLvlDP_Local,
		d.ATT_2PerfLvlDP_Norm,
		d.ATT_StartLTE99ADA,
		d.ATT_StartLTE98ADA,
		d.ATT_StartLT90ADA,
		d.ATT_SOSMoveOn,
		d.ATT_1PercInc,
		d.ATT_2PERCINC,
		d.ATT_StartOnStayOn,
		d.IOG_CRITERIA as ATT_IOG_CRITERIA,
		d.DN_CRITERIA as ATT_DN_CRITERIA,
		d.IOG_ATT69_anyRawDP,
		d.IOG_ATT69_2RawDP,
		d.IOG_ATT69_2PerfLvlDP_Local,
		d.IOG_ATT69_2PerfLvlDP_Norm,
		d.IOG_ATT69_StartLTE99ADA,
		d.IOG_ATT69_StartLTE98ADA,
		d.IOG_ATT69_StartLT90ADA,
		d.IOG_ATT69_SOSMoveOn,
		d.IOG_ATT69_1PercInc,
		d.IOG_ATT69_2PercInc,
		d.IOG_ATT69_StartOnStayOn,
		d.DN_ATT69_anyRawDP,
		d.DN_ATT69_2RawDP,
		d.DN_ATT69_2PerfLvlDP_Local,
		d.DN_ATT69_2PerfLvlDP_Norm,
		d.DN_ATT69_StartLTE99ADA,
		d.DN_ATT69_StartLTE98ADA,
		d.DN_ATT69_StartLT90ADA,
		d.DN_ATT69_SOSMoveOn,
		d.DN_ATT69_1PercInc,
		d.DN_ATT69_2PercInc,
		d.DN_ATT69_StartOnStayOn,
		d.ATT_METACGOAL,
		E.SKILL_DESCRIPTION AS DESSA_SKILL_DESCRIPTION,
		E.PRE_DATE AS DESSA_PRE_DATE,
		E.PRE_VALUE AS DESSA_PRE_VALUE,
		E.PRE_VALUE_DESC AS DESSA_PRE_VALUE_DESC,
		E.MY_DATE AS DESSA_MY_DATE,
		E.MY_VALUE AS DESSA_MY_VALUE,
		E.MY_VALUE_DESC AS DESSA_MY_VALUE_DESC,
		E.POST_DATE AS DESSA_POST_DATE,
		E.POST_VALUE AS DESSA_POST_VALUE,
		E.POST_VALUE_DESC AS DESSA_POST_VALUE_DESC,
		E.MY_DAYS_BETWEEN_ASSESSMENTS AS DESSA_MY_DAYS_BETWEEN_ASSESSMENTS,
		E.DAYS_BETWEEN_ASSESSMENTS AS DESSA_DAYS_BETWEEN_ASSESSMENTS,
		E.MY_RAWCHANGE AS DESSA_MY_RAWCHANGE,
		E.RAWCHANGE AS DESSA_RAWCHANGE,
		E.MY_RAWCHANGE_DEGREE AS DESSA_MY_RAWCHANGE_DEGREE,
		E.RAWCHANGE_DEGREE AS DESSA_RAWCHANGE_DEGREE,
		E.MY_DESC_CHANGE AS DESSA_MY_DESC_CHANGE,
		E.DESC_CHANGE AS DESSA_DESC_CHANGE,
		E.MY_DESC_CHANGE_DEGREE AS DESSA_MY_DESC_CHANGE_DEGREE,
		E.DESC_CHANGE_DEGREE AS DESSA_DESC_CHANGE_DEGREE,
		E.DESSA_ANYRAWDP AS DESSA_ANYRAWDP,
E.DESSA_2RAWDP AS DESSA_2RAWDP,
E.DESSA_4PTIMP AS DESSA_4PTIMP,
E.DESSA_ANYRAWIMP AS DESSA_ANYRAWIMP,
E.DESSA_START_NEED,
E.DESSA_STARTN_ENDTS,
E.DESSA_STARTTS_ENDTS,
E.AC_MET_IMP AS DESSA_AC_MET_IMP,
E.IOG_DESSA35_anyRawDP,
E.IOG_DESSA35_2RAWDP,
E.IOG_DESSA35_4PTIMP,
E.IOG_DESSA35_ANYRAWIMP,
E.IOG_DESSA35_START_NEED,
E.IOG_DESSA35_STARTN_ENDTS,
E.IOG_DESSA35_STARTTS_ENDTS,
E.IOG_DESSA69_anyRawDP,
E.IOG_DESSA69_2RAWDP,
E.IOG_DESSA69_4PTIMP,
E.IOG_DESSA69_ANYRAWIMP,
E.IOG_DESSA69_START_NEED,
E.IOG_DESSA69_STARTN_ENDTS,
E.IOG_DESSA69_STARTTS_ENDTS,
E.IOG_DESSA39_anyRawDP,
E.IOG_DESSA39_2RAWDP,
E.IOG_DESSA39_4PTIMP,
E.IOG_DESSA39_ANYRAWIMP,
E.IOG_DESSA39_START_NEED,
E.IOG_DESSA39_STARTN_ENDTS,
E.IOG_DESSA39_STARTTS_ENDTS,
E.DN_DESSA69_anyRawDP,
E.DN_DESSA69_2RAWDP,
E.DN_DESSA69_4PTIMP,
E.DN_DESSA69_ANYRAWIMP,
E.DN_DESSA69_START_NEED,
E.DN_DESSA69_STARTN_ENDTS,
E.DN_DESSA69_STARTTS_ENDTS,
		f.SKILL_DESCRIPTION as BEHSUS_SKILL_DESCRIPTION,
		f.DATA_TYPE as BEHSUS_DATA_TYPE,
		f.PRE_INTERVAL as BEHSUS_PRE_INTERVAL,
		f.PRE_DATE as BEHSUS_PRE_DATE,
		f.PRE_VALUE as BEHSUS_PRE_VALUE,
		f.MY_INTERVAL as BEHSUS_MY_INTERVAL,
		f.MY_DATE as BEHSUS_MY_DATE,
		f.MY_VALUE as BEHSUS_MY_VALUE,
		f.POST_INTERVAL as BEHSUS_POST_INTERVAL,
		f.POST_DATE as BEHSUS_POST_DATE,
		f.POST_VALUE as BEHSUS_POST_VALUE,
		f.MY_RAWCHANGE as BEHSUS_MY_RAWCHANGE,
		f.MY_RAWCHANGE_DEGREE as BEHSUS_MY_RAWCHANGE_DEGREE,
		f.RAWCHANGE as BEHSUS_RAWCHANGE,
		f.RAWCHANGE_DEGREE as BEHSUS_RAWCHANGE_DEGREE,
		f.PRE_EWI as BEHSUS_PRE_EWI,
		f.PRE_EWI_TEXT as BEHSUS_PRE_EWI_TEXT,
		f.MY_EWI as BEHSUS_MY_EWI,
		f.MY_EWI_TEXT as BEHSUS_MY_EWI_TEXT,
		f.POST_EWI as BEHSUS_POST_EWI,
		f.POST_EWI_TEXT as BEHSUS_POST_EWI_TEXT,
		f.MY_EWI_CHANGE as BEHSUS_MY_EWI_CHANGE,
		f.POST_EWI_CHANGE as BEHSUS_POST_EWI_CHANGE,
		f.BEHSUS_ANYRAWDP as BEHSUS_BEHSUS_ANYRAWDP,
		f.BEHSUS_2RAWDP as BEHSUS_BEHSUS_2RAWDP,
		f.StartEWI_EndNoEWI as BEHSUS_StartEWI_EndNoEWI,
		F.Start_EWI AS BEHSUS_START_EWI,
F.RawImp as BEHSUS_RawImp,
F.AC_MET_IMP as BEHSUS_AC_MET_IMP,
F.IOG_BEHSUS35_ANYRAWDP,
F.IOG_BEHSUS35_2RAWDP,
F.IOG_BEHSUS35_StartEWI_EndNoEWI,
F.IOG_BEHSUS35_Start_EWI,
F.IOG_BEHSUS35_RawImp,
F.IOG_BEHSUS69_ANYRAWDP,
F.IOG_BEHSUS69_2RAWDP,
F.IOG_BEHSUS69_StartEWI_EndNoEWI,
F.IOG_BEHSUS69_RawImp,
F.IOG_BEHSUS69_Start_EWI,
F.IOG_BEHSUS39_ANYRAWDP,
F.IOG_BEHSUS39_2RAWDP,
F.IOG_BEHSUS39_StartEWI_EndNoEWI,
F.IOG_BEHSUS39_RawImp,
F.IOG_BEHSUS39_Start_EWI,
F.DN_BEHSUS69_ANYRAWDP,
F.DN_BEHSUS69_2RAWDP,
F.DN_BEHSUS69_StartEWI_EndNoEWI,
F.DN_BEHSUS69_RawImp,
F.DN_BEHSUS69_Start_EWI,
		g.SKILL_DESCRIPTION as ELACG_SKILL_DESCRIPTION,
		g.PRE_INTERVAL as ELACG_PRE_INTERVAL,
		g.PRE_DATE as ELACG_PRE_DATE,
		g.PRE_VALUE as ELACG_PRE_VALUE,
		g.PRE_VALUE_NUM_LOCAL as ELACG_PRE_VALUE_NUM_LOCAL,
		g.PRE_VALUE_NUM_NORM as ELACG_PRE_VALUE_NUM_NORM,
		g.PRE_SCALE_LOCAL as ELACG_PRE_SCALE_LOCAL,
		g.PRE_SCALE_NORM as ELACG_PRE_SCALE_NORM,
		g.PRE_SCALE_RANK_LOCAL as ELACG_PRE_SCALE_RANK_LOCAL,
		g.PRE_SCALE_NORM_RANK as ELACG_PRE_SCALE_NORM_RANK,
		g.MY_INTERVAL as ELACG_MY_INTERVAL,
		g.MY_DATE as ELACG_MY_DATE,
		g.MY_VALUE as ELACG_MY_VALUE,
		g.MY_VALUE_NUM_LOCAL as ELACG_MY_VALUE_NUM_LOCAL,
		g.MY_VALUE_NUM_NORM as ELACG_MY_VALUE_NUM_NORM,
		g.MY_SCALE_LOCAL as ELACG_MY_SCALE_LOCAL,
		g.MY_SCALE_NORM as ELACG_MY_SCALE_NORM,
		g.MY_SCALE_RANK_LOCAL as ELACG_MY_SCALE_RANK_LOCAL,
		g.MY_SCALE_NORM_RANK as ELACG_MY_SCALE_NORM_RANK,
		g.POST_INTERVAL as ELACG_POST_INTERVAL,
		g.POST_DATE as ELACG_POST_DATE,
		g.POST_VALUE as ELACG_POST_VALUE,
		g.POST_VALUE_NUM_LOCAL as ELACG_POST_VALUE_NUM_LOCAL,
		g.POST_VALUE_NUM_NORM as ELACG_POST_VALUE_NUM_NORM,
		g.POST_SCALE_LOCAL as ELACG_POST_SCALE_LOCAL,
		g.POST_SCALE_NORM as ELACG_POST_SCALE_NORM,
		g.POST_SCALE_RANK_LOCAL as ELACG_POST_SCALE_RANK_LOCAL,
		g.POST_SCALE_NORM_RANK as ELACG_POST_SCALE_NORM_RANK,
		g.MY_RAWCHANGE as ELACG_MY_RAWCHANGE,
		g.RAWCHANGE as ELACG_RAWCHANGE,
		g.MY_RAWCHANGE_NUM_LOCAL as ELACG_MY_RAWCHANGE_NUM_LOCAL,
		g.RAWCHANGE_NUM_LOCAL as ELACG_RAWCHANGE_NUM_LOCAL,
		g.MY_RAWCHANGE_NUM_NORM as ELACG_MY_RAWCHANGE_NUM_NORM,
		g.RAWCHANGE_NUM_NORM as ELACG_RAWCHANGE_NUM_NORM,
		g.MY_RAWCHANGE_NUM_LOCAL_DEGREE as ELACG_MY_RAWCHANGE_NUM_LOCAL_DEGREE,
		g.RAWCHANGE_NUM_LOCAL_DEGREE as ELACG_RAWCHANGE_NUM_LOCAL_DEGREE,
		g.MY_RAWCHANGE_NUM_NORM_DEGREE as ELACG_MY_RAWCHANGE_NUM_NORM_DEGREE,
		g.RAWCHANGE_NUM_NORM_DEGREE as ELACG_RAWCHANGE_NUM_NORM_DEGREE,
		g.MY_SCALE_CHANGE_LOCAL as ELACG_MY_SCALE_CHANGE_LOCAL,
		g.SCALE_CHANGE_LOCAL as ELACG_SCALE_CHANGE_LOCAL,
		G.SCALE_CHANGE_LOCAL_DEGREE AS ELACG_SCALE_CHANGE_LOCAL_DEGREE,
		g.MY_SCALE_CHANGE_NORM as ELACG_MY_SCALE_CHANGE_NORM,
		g.SCALE_CHANGE_NORM as ELACG_SCALE_CHANGE_NORM,
		G.SCALE_CHANGE_NORM_DEGREE AS ELACG_SCALE_CHANGE_NORM_DEGREE,
		g.MY_SCALE_CHANGE_LOCAL_TEXT as ELACG_MY_SCALE_CHANGE_LOCAL_TEXT,
		g.SCALE_CHANGE_LOCAL_TEXT as ELACG_SCALE_CHANGE_LOCAL_TEXT,
		g.MY_SCALE_CHANGE_NORM_TEXT as ELACG_MY_SCALE_CHANGE_NORM_TEXT,
		g.SCALE_CHANGE_NORM_TEXT as ELACG_SCALE_CHANGE_NORM_TEXT,
		g.MY_SOS_MoveOn as ELACG_MY_SOS_MoveOn,
		g.MY_INCGRADELEVEL as ELACG_MY_INCGRADELEVEL,
		g.ELACG_anyRawDP as ELACG_ELACG_anyRawDP,
		g.ELACG_2RawDP as ELACG_ELACG_2RawDP,
		g.ELACG_2LOCAL_PERFLVLDP as ELACG_ELACG_2LOCAL_PERFLVLDP,
		g.ELACG_2NORM_PERFLVLDP as ELACG_ELACG_2NORM_PERFLVLDP,
		g.ELACG_StartBelowB as ELACG_ELACG_StartBelowB,
		g.ELACG_StartOffSlid as ELACG_ELACG_StartOffSlid,
		g.ELACG_IncreaseGradeLevel as ELACG_ELACG_IncreaseGradeLevel,
		g.ELACG_SOSMoveON as ELACG_ELACG_SOSMoveON,
		g.ELACG_StartOnStayOn,
		g.IOG_ELACG69_anyRawDP,
		g.IOG_ELACG69_2RawDP,
		g.IOG_ELACG69_2LOCAL_PERFLVLDP,
		g.IOG_ELACG69_2NORM_PERFLVLDP,
		g.IOG_ELACG69_StartBelowB,
		g.IOG_ELACG69_StartOffSlid,
		g.IOG_ELACG69_IncreaseGradeLevel,
		g.IOG_ELACG69_SOSMoveON,
		g.IOG_ELACG69_StartOnStayOn,
		g.DN_ELACG69_anyRawDP,
		g.DN_ELACG69_2RawDP,
		g.DN_ELACG69_2LOCAL_PERFLVLDP,
		g.DN_ELACG69_2NORM_PERFLVLDP,
		g.DN_ELACG69_StartBelowB,
		g.DN_ELACG69_StartOffSlid,
		g.DN_ELACG69_IncreaseGradeLevel,
		g.DN_ELACG69_SOSMoveON,
		g.DN_ELACG69_StartOnStayOn,
		h.SKILL_DESCRIPTION as MATHCG_SKILL_DESCRIPTION,
		h.PRE_INTERVAL as MATHCG_PRE_INTERVAL,
		h.PRE_DATE as MATHCG_PRE_DATE,
		h.PRE_VALUE as MATHCG_PRE_VALUE,
		h.PRE_VALUE_NUM_LOCAL as MATHCG_PRE_VALUE_NUM_LOCAL,
		h.PRE_VALUE_NUM_NORM as MATHCG_PRE_VALUE_NUM_NORM,
		h.PRE_SCALE_LOCAL as MATHCG_PRE_SCALE_LOCAL,
		h.PRE_SCALE_NORM as MATHCG_PRE_SCALE_NORM,
		h.PRE_SCALE_RANK_LOCAL as MATHCG_PRE_SCALE_RANK_LOCAL,
		h.PRE_SCALE_NORM_RANK as MATHCG_PRE_SCALE_NORM_RANK,
		h.MY_INTERVAL as MATHCG_MY_INTERVAL,
		h.MY_DATE as MATHCG_MY_DATE,
		h.MY_VALUE as MATHCG_MY_VALUE,
		h.MY_VALUE_NUM_LOCAL as MATHCG_MY_VALUE_NUM_LOCAL,
		h.MY_VALUE_NUM_NORM as MATHCG_MY_VALUE_NUM_NORM,
		h.MY_SCALE_LOCAL as MATHCG_MY_SCALE_LOCAL,
		h.MY_SCALE_NORM as MATHCG_MY_SCALE_NORM,
		h.MY_SCALE_RANK_LOCAL as MATHCG_MY_SCALE_RANK_LOCAL,
		h.MY_SCALE_NORM_RANK as MATHCG_MY_SCALE_NORM_RANK,
		h.POST_INTERVAL as MATHCG_POST_INTERVAL,
		h.POST_DATE as MATHCG_POST_DATE,
		h.POST_VALUE as MATHCG_POST_VALUE,
		h.POST_VALUE_NUM_LOCAL as MATHCG_POST_VALUE_NUM_LOCAL,
		h.POST_VALUE_NUM_NORM as MATHCG_POST_VALUE_NUM_NORM,
		h.POST_SCALE_LOCAL as MATHCG_POST_SCALE_LOCAL,
		h.POST_SCALE_NORM as MATHCG_POST_SCALE_NORM,
		h.POST_SCALE_RANK_LOCAL as MATHCG_POST_SCALE_RANK_LOCAL,
		h.POST_SCALE_NORM_RANK as MATHCG_POST_SCALE_NORM_RANK,
		h.MY_RAWCHANGE as MATHCG_MY_RAWCHANGE,
		h.RAWCHANGE as MATHCG_RAWCHANGE,
		h.MY_RAWCHANGE_NUM_LOCAL as MATHCG_MY_RAWCHANGE_NUM_LOCAL,
		h.RAWCHANGE_NUM_LOCAL as MATHCG_RAWCHANGE_NUM_LOCAL,
		h.MY_RAWCHANGE_NUM_NORM as MATHCG_MY_RAWCHANGE_NUM_NORM,
		h.RAWCHANGE_NUM_NORM as MATHCG_RAWCHANGE_NUM_NORM,
		h.MY_RAWCHANGE_NUM_LOCAL_DEGREE as MATHCG_MY_RAWCHANGE_NUM_LOCAL_DEGREE,
		h.RAWCHANGE_NUM_LOCAL_DEGREE as MATHCG_RAWCHANGE_NUM_LOCAL_DEGREE,
		h.MY_RAWCHANGE_NUM_NORM_DEGREE as MATHCG_MY_RAWCHANGE_NUM_NORM_DEGREE,
		h.RAWCHANGE_NUM_NORM_DEGREE as MATHCG_RAWCHANGE_NUM_NORM_DEGREE,
		h.MY_SCALE_CHANGE_LOCAL as MATHCG_MY_SCALE_CHANGE_LOCAL,
		h.SCALE_CHANGE_LOCAL as MATHCG_SCALE_CHANGE_LOCAL,
		H.SCALE_CHANGE_LOCAL_DEGREE AS MATHCG_SCALE_CHANGE_LOCAL_DEGREE,
		h.MY_SCALE_CHANGE_NORM as MATHCG_MY_SCALE_CHANGE_NORM,
		h.SCALE_CHANGE_NORM as MATHCG_SCALE_CHANGE_NORM,
		H.SCALE_CHANGE_NORM_DEGREE AS MATHCG_SCALE_CHANGE_NORM_DEGREE,
		h.MY_SCALE_CHANGE_LOCAL_TEXT as MATHCG_MY_SCALE_CHANGE_LOCAL_TEXT,
		h.SCALE_CHANGE_LOCAL_TEXT as MATHCG_SCALE_CHANGE_LOCAL_TEXT,
		h.MY_SCALE_CHANGE_NORM_TEXT as MATHCG_MY_SCALE_CHANGE_NORM_TEXT,
		h.SCALE_CHANGE_NORM_TEXT as MATHCG_SCALE_CHANGE_NORM_TEXT,
		h.MY_SOS_MoveOn as MATHCG_MY_SOS_MoveOn,
		h.MY_INCGRADELEVEL as MATHCG_MY_INCGRADELEVEL,
		h.MATHCG_anyRawDP as MATHCG_MATHCG_anyRawDP,
		h.MATHCG_2RawDP as MATHCG_MATHCG_2RawDP,
		h.MATHCG_2LOCAL_PERFLVLDP as MATHCG_MATHCG_2LOCAL_PERFLVLDP,
		h.MATHCG_2NORM_PERFLVLDP as MATHCG_MATHCG_2NORM_PERFLVLDP,
		h.MATHCG_StartBelowB as MATHCG_MATHCG_StartBelowB,
		h.MATHCG_StartOffSlid as MATHCG_MATHCG_StartOffSlid,
		h.MATHCG_IncreaseGradeLevel as MATHCG_MATHCG_IncreaseGradeLevel,
		h.MATHCG_SOSMoveON as MATHCG_MATHCG_SOSMoveON,
		h.MATHCG_StartOnStayOn,
		h.IOG_MATHCG69_anyRawDP,
		h.IOG_MATHCG69_2RawDP,
		h.IOG_MATHCG69_2LOCAL_PERFLVLDP,
		h.IOG_MATHCG69_2NORM_PERFLVLDP,
		h.IOG_MATHCG69_StartBelowB,
		h.IOG_MATHCG69_StartOffSlid,
		h.IOG_MATHCG69_IncreaseGradeLevel,
		h.IOG_MATHCG69_SOSMoveON,
		h.IOG_MATHCG69_StartOnStayOn,
		h.DN_MATHCG69_anyRawDP,
		h.DN_MATHCG69_2RawDP,
		h.DN_MATHCG69_2LOCAL_PERFLVLDP,
		h.DN_MATHCG69_2NORM_PERFLVLDP,
		h.DN_MATHCG69_StartBelowB,
		h.DN_MATHCG69_StartOffSlid,
		h.DN_MATHCG69_IncreaseGradeLevel,
		h.DN_MATHCG69_SOSMoveON,
		h.DN_MATHCG69_StartOnStayOn,
		i.NewCYID_Pre as SAYOY_NewCYID_Pre,
i.ResponseID_Pre as SAYOY_ResponseID_Pre,
i.ResponseID_Post as SAYOY_ResponseID_Post,
i.DateSubmitted_Pre as SAYOY_DateSubmitted_Pre,
i.DateSubmitted_Post as SAYOY_DateSubmitted_Post,
i.Survey_Language_Pre as SAYOY_Survey_Language_Pre,
i.PE_1_Friendly_ALL_Pre as SAYOY_PE_1_Friendly_ALL_Pre,
i.PE_1_Teasing_ALL_Pre as SAYOY_PE_1_Teasing_ALL_Pre,
i.PE_1_Respect_ALL_Pre as SAYOY_PE_1_Respect_ALL_Pre,
i.PE_2_Friends_ALL_Pre as SAYOY_PE_2_Friends_ALL_Pre,
i.PE_2_Upset_ALL_Pre as SAYOY_PE_2_Upset_ALL_Pre,
i.PE_2_Listen_ALL_Pre as SAYOY_PE_2_Listen_ALL_Pre,
i.PE_3_LikeComing_ALL_Pre as SAYOY_PE_3_LikeComing_ALL_Pre,
i.PE_3_Fun_ALL_Pre as SAYOY_PE_3_Fun_ALL_Pre,
i.PE_3_Bored_ALL_Pre as SAYOY_PE_3_Bored_ALL_Pre,
i.PE_3_ThingsToDo_ALL_Pre as SAYOY_PE_3_ThingsToDo_ALL_Pre,
i.PE_4_LearnNew_ALL_Pre as SAYOY_PE_4_LearnNew_ALL_Pre,
i.PE_4_Challenged_ALL_Pre as SAYOY_PE_4_Challenged_ALL_Pre,
i.PE_4_NeverBefore_ALL_Pre as SAYOY_PE_4_NeverBefore_ALL_Pre,
i.PE_5_InterestedAdult_ALL_Pre as SAYOY_PE_5_InterestedAdult_ALL_Pre,
i.PE_5_AdultUpset_ALL_Pre as SAYOY_PE_5_AdultUpset_ALL_Pre,
i.PE_5_AdultHelp_ALL_Pre as SAYOY_PE_5_AdultHelp_ALL_Pre,
i.PE_5_AdultListen_ALL_Pre as SAYOY_PE_5_AdultListen_ALL_Pre,
i.PE_6_Teacher_ALL_Pre as SAYOY_PE_6_Teacher_ALL_Pre,
i.PE_6_Principal_ALL_Pre as SAYOY_PE_6_Principal_ALL_Pre,
i.PE_6_CityYear_ALL_Pre as SAYOY_PE_6_CityYear_ALL_Pre,
i.PE_6_Counselor_ALL_Pre as SAYOY_PE_6_Counselor_ALL_Pre,
i.PE_6_Coach_ALL_Pre as SAYOY_PE_6_Coach_ALL_Pre,
i.PE_6_Other_ALL_Pre as SAYOY_PE_6_Other_ALL_Pre,
i.PE_6_Other_TEXT_ALL_Pre as SAYOY_PE_6_Other_TEXT_ALL_Pre,
i.SC_7_TryNew_ALL_Pre as SAYOY_SC_7_TryNew_ALL_Pre,
i.SC_7_GoodInSchool_ALL_Pre as SAYOY_SC_7_GoodInSchool_ALL_Pre,
i.SC_7_ProblemSolving_ALL_Pre as SAYOY_SC_7_ProblemSolving_ALL_Pre,
i.SC_7_GoodLearning_ALL_Pre as SAYOY_SC_7_GoodLearning_ALL_Pre,
i.SC_7_TryUntilGetIt_ALL_Pre as SAYOY_SC_7_TryUntilGetIt_ALL_Pre,
i.SC_8_EasyGetAlong_ALL_Pre as SAYOY_SC_8_EasyGetAlong_ALL_Pre,
i.SC_8_LikedNew_ALL_Pre as SAYOY_SC_8_LikedNew_ALL_Pre,
i.SC_8_GetAlongOthers_ALL_Pre as SAYOY_SC_8_GetAlongOthers_ALL_Pre,
i.SC_8_EasyJoin_ALL_Pre as SAYOY_SC_8_EasyJoin_ALL_Pre,
i.FPE_9_Older_ALL_Pre as SAYOY_FPE_9_Older_ALL_Pre,
i.FPE_9_College_ALL_Pre as SAYOY_FPE_9_College_ALL_Pre,
i.FPE_9_Interests_ALL_Pre as SAYOY_FPE_9_Interests_ALL_Pre,
i.FPE_9_LifeGoals_ALL_Pre as SAYOY_FPE_9_LifeGoals_ALL_Pre,
i.FPE_10_Parent_ALL_Pre as SAYOY_FPE_10_Parent_ALL_Pre,
i.FPE_10_Teacher_ALL_Pre as SAYOY_FPE_10_Teacher_ALL_Pre,
i.FPE_10_Counselor_ALL_Pre as SAYOY_FPE_10_Counselor_ALL_Pre,
i.FPE_10_CityYear_ALL_Pre as SAYOY_FPE_10_CityYear_ALL_Pre,
i.FPE_11_HighSchool_ALL_Pre as SAYOY_FPE_11_HighSchool_ALL_Pre,
i.FPE_11_Graduate_ALL_Pre as SAYOY_FPE_11_Graduate_ALL_Pre,
i.FPE_11_College_ALL_Pre as SAYOY_FPE_11_College_ALL_Pre,
i.FPE_12_TryHard_ALL_Pre as SAYOY_FPE_12_TryHard_ALL_Pre,
i.FPE_12_TellMyself_ALL_Pre as SAYOY_FPE_12_TellMyself_ALL_Pre,
i.FPE_12_GetHelp_ALL_Pre as SAYOY_FPE_12_GetHelp_ALL_Pre,
i.FPE_12_SetGoals_ALL_Pre as SAYOY_FPE_12_SetGoals_ALL_Pre,
i.PE_1_Friendly_ALL_Post as SAYOY_PE_1_Friendly_ALL_Post,
i.PE_1_Teasing_ALL_Post as SAYOY_PE_1_Teasing_ALL_Post,
i.PE_1_Respect_ALL_Post as SAYOY_PE_1_Respect_ALL_Post,
i.PE_2_Friends_ALL_Post as SAYOY_PE_2_Friends_ALL_Post,
i.PE_2_Upset_ALL_Post as SAYOY_PE_2_Upset_ALL_Post,
i.PE_2_Listen_ALL_Post as SAYOY_PE_2_Listen_ALL_Post,
i.PE_3_LikeComing_ALL_Post as SAYOY_PE_3_LikeComing_ALL_Post,
i.PE_3_Fun_ALL_Post as SAYOY_PE_3_Fun_ALL_Post,
i.PE_3_Bored_ALL_Post as SAYOY_PE_3_Bored_ALL_Post,
i.PE_3_ThingsToDo_ALL_Post as SAYOY_PE_3_ThingsToDo_ALL_Post,
i.PE_4_LearnNew_ALL_Post as SAYOY_PE_4_LearnNew_ALL_Post,
i.PE_4_Challenged_ALL_Post as SAYOY_PE_4_Challenged_ALL_Post,
i.PE_4_NeverBefore_ALL_Post as SAYOY_PE_4_NeverBefore_ALL_Post,
i.PE_5_InterestedAdult_ALL_Post as SAYOY_PE_5_InterestedAdult_ALL_Post,
i.PE_5_AdultUpset_ALL_Post as SAYOY_PE_5_AdultUpset_ALL_Post,
i.PE_5_AdultHelp_ALL_Post as SAYOY_PE_5_AdultHelp_ALL_Post,
i.PE_5_AdultListen_ALL_Post as SAYOY_PE_5_AdultListen_ALL_Post,
i.PE_6_Teacher_ALL_Post as SAYOY_PE_6_Teacher_ALL_Post,
i.PE_6_Principal_ALL_Post as SAYOY_PE_6_Principal_ALL_Post,
i.PE_6_CityYear_ALL_Post as SAYOY_PE_6_CityYear_ALL_Post,
i.PE_6_Counselor_ALL_Post as SAYOY_PE_6_Counselor_ALL_Post,
i.PE_6_Coach_ALL_Post as SAYOY_PE_6_Coach_ALL_Post,
i.PE_6_Other_ALL_Post as SAYOY_PE_6_Other_ALL_Post,
i.PE_6_Other_TEXT_ALL_Post as SAYOY_PE_6_Other_TEXT_ALL_Post,
i.SC_7_TryNew_ALL_Post as SAYOY_SC_7_TryNew_ALL_Post,
i.SC_7_GoodInSchool_ALL_Post as SAYOY_SC_7_GoodInSchool_ALL_Post,
i.SC_7_ProblemSolving_ALL_Post as SAYOY_SC_7_ProblemSolving_ALL_Post,
i.SC_7_GoodLearning_ALL_Post as SAYOY_SC_7_GoodLearning_ALL_Post,
i.SC_7_TryUntilGetIt_ALL_Post as SAYOY_SC_7_TryUntilGetIt_ALL_Post,
i.SC_8_EasyGetAlong_ALL_Post as SAYOY_SC_8_EasyGetAlong_ALL_Post,
i.SC_8_LikedNew_ALL_Post as SAYOY_SC_8_LikedNew_ALL_Post,
i.SC_8_GetAlongOthers_ALL_Post as SAYOY_SC_8_GetAlongOthers_ALL_Post,
i.SC_8_EasyJoin_ALL_Post as SAYOY_SC_8_EasyJoin_ALL_Post,
i.FPE_9_Older_ALL_Post as SAYOY_FPE_9_Older_ALL_Post,
i.FPE_9_College_ALL_Post as SAYOY_FPE_9_College_ALL_Post,
i.FPE_9_Interests_ALL_Post as SAYOY_FPE_9_Interests_ALL_Post,
i.FPE_9_LifeGoals_ALL_Post as SAYOY_FPE_9_LifeGoals_ALL_Post,
i.FPE_10_Parent_ALL_Post as SAYOY_FPE_10_Parent_ALL_Post,
i.FPE_10_Teacher_ALL_Post as SAYOY_FPE_10_Teacher_ALL_Post,
i.FPE_10_Counselor_ALL_Post as SAYOY_FPE_10_Counselor_ALL_Post,
i.FPE_10_CityYear_ALL_Post as SAYOY_FPE_10_CityYear_ALL_Post,
i.FPE_11_HighSchool_ALL_Post as SAYOY_FPE_11_HighSchool_ALL_Post,
i.FPE_11_Graduate_ALL_Post as SAYOY_FPE_11_Graduate_ALL_Post,
i.FPE_11_College_ALL_Post as SAYOY_FPE_11_College_ALL_Post,
i.FPE_12_TryHard_ALL_Post as SAYOY_FPE_12_TryHard_ALL_Post,
i.FPE_12_TellMyself_ALL_Post as SAYOY_FPE_12_TellMyself_ALL_Post,
i.FPE_12_GetHelp_ALL_Post as SAYOY_FPE_12_GetHelp_ALL_Post,
i.FPE_12_SetGoals_ALL_Post as SAYOY_FPE_12_SetGoals_ALL_Post,
i.PE_1_Teasing_ALL_Pre_RC as SAYOY_PE_1_Teasing_ALL_Pre_RC,
i.PE_3_Bored_ALL_Pre_RC as SAYOY_PE_3_Bored_ALL_Pre_RC,
i.PE_1_Teasing_ALL_Post_RC as SAYOY_PE_1_Teasing_ALL_Post_RC,
i.PE_3_Bored_ALL_Post_RC as SAYOY_PE_3_Bored_ALL_Post_RC,
i.PE_1_ALL_Pre as SAYOY_PE_1_ALL_Pre,
i.PE_2_ALL_Pre as SAYOY_PE_2_ALL_Pre,
i.PE_4_ALL_Pre as SAYOY_PE_4_ALL_Pre,
i.PE_5_ALL_Pre as SAYOY_PE_5_ALL_Pre,
i.SC_7_ALL_Pre as SAYOY_SC_7_ALL_Pre,
i.SC_8_ALL_Pre as SAYOY_SC_8_ALL_Pre,
i.FPE_9_ALL_Pre as SAYOY_FPE_9_ALL_Pre,
i.FPE_11_ALL_Pre as SAYOY_FPE_11_ALL_Pre,
i.FPE_12_ALL_Pre as SAYOY_FPE_12_ALL_Pre,
i.PE_1_ALL_Post as SAYOY_PE_1_ALL_Post,
i.PE_2_ALL_Post as SAYOY_PE_2_ALL_Post,
i.PE_4_ALL_Post as SAYOY_PE_4_ALL_Post,
i.PE_5_ALL_Post as SAYOY_PE_5_ALL_Post,
i.SC_7_ALL_Post as SAYOY_SC_7_ALL_Post,
i.SC_8_ALL_Post as SAYOY_SC_8_ALL_Post,
i.FPE_9_ALL_Post as SAYOY_FPE_9_ALL_Post,
i.FPE_11_ALL_Post as SAYOY_FPE_11_ALL_Post,
i.FPE_12_ALL_Post as SAYOY_FPE_12_ALL_Post,
i.PE_1_ALL_Pre_Category as SAYOY_PE_1_ALL_Pre_Category,
i.PE_2_ALL_Pre_Category as SAYOY_PE_2_ALL_Pre_Category,
i.PE_3_ALL_Pre_Category as SAYOY_PE_3_ALL_Pre_Category,
i.PE_4_ALL_Pre_Category as SAYOY_PE_4_ALL_Pre_Category,
i.PE_5_ALL_Pre_Category as SAYOY_PE_5_ALL_Pre_Category,
i.SC_7_ALL_Pre_Category as SAYOY_SC_7_ALL_Pre_Category,
i.SC_8_ALL_Pre_Category as SAYOY_SC_8_ALL_Pre_Category,
i.FPE_9_ALL_Pre_Category as SAYOY_FPE_9_ALL_Pre_Category,
i.FPE_11_ALL_Pre_Category as SAYOY_FPE_11_ALL_Pre_Category,
i.FPE_12_ALL_Pre_Category as SAYOY_FPE_12_ALL_Pre_Category,
i.PE_1_ALL_Post_Category as SAYOY_PE_1_ALL_Post_Category,
i.PE_2_ALL_Post_Category as SAYOY_PE_2_ALL_Post_Category,
i.PE_3_ALL_Post_Category as SAYOY_PE_3_ALL_Post_Category,
i.PE_4_ALL_Post_Category as SAYOY_PE_4_ALL_Post_Category,
i.PE_5_ALL_Post_Category as SAYOY_PE_5_ALL_Post_Category,
i.SC_7_ALL_Post_Category as SAYOY_SC_7_ALL_Post_Category,
i.SC_8_ALL_Post_Category as SAYOY_SC_8_ALL_Post_Category,
i.FPE_9_ALL_Post_Category as SAYOY_FPE_9_ALL_Post_Category,
i.FPE_11_ALL_Post_Category as SAYOY_FPE_11_ALL_Post_Category,
i.FPE_12_ALL_Post_Category as SAYOY_FPE_12_ALL_Post_Category,
i.SAYOY_AC_MET_IMP as SAYOY_AC_MET_IMP,
i.PE_3_ALL_Post as SAYOY_PE_3_ALL_Post,
i.SAYOY_AC_Start_Below as SAYOY_AC_Start_Below,
i.PE_3_ALL_Pre as SAYOY_PE_3_ALL_Pre,


		CASE WHEN (ENROLLEDDAYSATT*1.0/7) BETWEEN 0 AND 3.99999 THEN '0 UP TO 4 WEEKS'
	 WHEN (ENROLLEDDAYSATT*1.0/7) BETWEEN 4 AND 7.99999 THEN '4 UP TO 8 WEEKS'
	 WHEN (ENROLLEDDAYSATT*1.0/7) BETWEEN 8 AND 11.99999 THEN '8 UP TO 12 WEEKS'
	 WHEN (ENROLLEDDAYSATT*1.0/7) BETWEEN 12 AND 15.99999 THEN '12 UP TO 16 WEEKS'
	 WHEN (ENROLLEDDAYSATT*1.0/7) BETWEEN 16 AND 19.99999 THEN '16 UP TO 20 WEEKS'
	 WHEN (ENROLLEDDAYSATT*1.0/7) BETWEEN 20 AND 23.99999 THEN '20 UP TO 24 WEEKS'
	 WHEN (ENROLLEDDAYSATT*1.0/7) BETWEEN 24 AND 27.99999 THEN '24 UP TO 28 WEEKS'
	 WHEN (ENROLLEDDAYSATT*1.0/7) BETWEEN 28 AND 31.99999 THEN '28 UP TO 32 WEEKS'
	 WHEN (ENROLLEDDAYSATT*1.0/7) >=32 THEN '32+ WEEKS'
	 ELSE NULL END AS ATT_WEEKSENROLLED,
CASE WHEN (ENROLLEDDAYSBEH*1.0/7) BETWEEN 0 AND 3.99999 THEN '0 UP TO 4 WEEKS'
	 WHEN (ENROLLEDDAYSBEH*1.0/7) BETWEEN 4 AND 7.99999 THEN '4 UP TO 8 WEEKS'
	 WHEN (ENROLLEDDAYSBEH*1.0/7) BETWEEN 8 AND 11.99999 THEN '8 UP TO 12 WEEKS'
	 WHEN (ENROLLEDDAYSBEH*1.0/7) BETWEEN 12 AND 15.99999 THEN '12 UP TO 16 WEEKS'
	 WHEN (ENROLLEDDAYSBEH*1.0/7) BETWEEN 16 AND 19.99999 THEN '16 UP TO 20 WEEKS'
	 WHEN (ENROLLEDDAYSBEH*1.0/7) BETWEEN 20 AND 23.99999 THEN '20 UP TO 24 WEEKS'
	 WHEN (ENROLLEDDAYSBEH*1.0/7) BETWEEN 24 AND 27.99999 THEN '24 UP TO 28 WEEKS'
	 WHEN (ENROLLEDDAYSBEH*1.0/7) BETWEEN 28 AND 31.99999 THEN '28 UP TO 32 WEEKS'
	 WHEN (ENROLLEDDAYSBEH*1.0/7) >=32 THEN '32+ WEEKS'
	 ELSE NULL END AS BEH_WEEKSENROLLED,
CASE WHEN (TOTALDOSAGELIT*1.0/60) BETWEEN 0 AND 4.99999 THEN '0 UP TO 5 HOURS'
	 WHEN (TOTALDOSAGELIT*1.0/60) BETWEEN 5 AND 9.99999 THEN '5 UP TO 10 HOURS'
	 WHEN (TOTALDOSAGELIT*1.0/60) BETWEEN 10 AND 14.99999 THEN '10 UP TO 15 HOURS'
	 WHEN (TOTALDOSAGELIT*1.0/60) BETWEEN 15 AND 19.99999 THEN '15 UP TO 20 HOURS'
	 WHEN (TOTALDOSAGELIT*1.0/60) BETWEEN 20 AND 24.99999 THEN '20 UP TO 25 HOURS'
	 WHEN (TOTALDOSAGELIT*1.0/60)>=25 THEN '25+ HOURS'
	ELSE NULL END AS LITERACY_DOSAGECATEGORY,
CASE WHEN (TOTALDOSAGEMTH*1.0/60) BETWEEN 0 AND 4.99999 THEN '0 UP TO 5 HOURS'
	 WHEN (TOTALDOSAGEMTH*1.0/60) BETWEEN 5 AND 9.99999 THEN '5 UP TO 10 HOURS'
	 WHEN (TOTALDOSAGEMTH*1.0/60) BETWEEN 10 AND 14.99999 THEN '10 UP TO 15 HOURS'
	 WHEN (TOTALDOSAGEMTH*1.0/60) BETWEEN 15 AND 19.99999 THEN '15 UP TO 20 HOURS'
	 WHEN (TOTALDOSAGEMTH*1.0/60) BETWEEN 20 AND 24.99999 THEN '20 UP TO 25 HOURS'
	 WHEN (TOTALDOSAGEMTH*1.0/60)>=25 THEN '25+ HOURS'
	ELSE NULL END AS MATH_DOSAGECATEGORY,
		null as UNIQUEFL,
		null as	OFFICIALFLLIT, 
		null as	OFFICIALFLMTH,
		null as	OFFICIALFLATT,
		null as	OFFICIALFLBEH,
		null as TotalNumFL,
		--null as FLCOMBO,
		--NULL AS OFFICIALFLLIT_TEXT,
		--NULL AS OFFICIALFLMTH_TEXT,
		--NULL AS OFFICIALFLATT_tEXT,
		--NULL AS OFFICIALFLBEH_TEXT,
		null as	NOTOFFICIALFLLIT,
		null as	NOTOFFICIALFLMTH,
		null as	NOTOFFICIALFLATT,
		null as	NOTOFFICIALFLBEH,
		null as	PARTICIPATE_AFTERSCHOOL,
		null as NOTFLATTMET56DOSE,
		null as NOTFLBEHMET56DOSE,
		null as FLATTMET56DOSE,
		null as FLBEHMET56DOSE, 
		null as FLLITMETMONTHLYDOSE,
		null as FLMTHMETMONTHLYDOSE,
		null as NOTFLLITMETMONTHLYDOSE,
		null as NOTFLMTHMETMONTHLYDOSE,
		NULL AS FLATTMET56DOSE1DP,
		NULL AS FLATTMET56DOSE2DP,
		null as ACREPORTGRADE_ACADEMIC,
		NULL AS ACREPORTGRADE_ENGAGEMENT, 
		null as ACDOSAGEGOALLIT,
		null as ACDOSAGEGOALMTH,
		null as ACLITOFFICIALFL,
		null as ACMTHOFFICIALFL,
		null as ACTUAL_ED1_ACAD,
		null as ACLITMETACDOSE, 
		null as ACMTHMETACDOSE, 
		null as ACTUAL_ED2_ACAD, 
		null as ACTUAL_ED5_ACAD_LIT, 
		null as ACTUAL_ED5_ACAD_MTH, 
		null as ACTUAL_ED5_ACAD, 
		null as ACATTOFFICIALFL, 
		null as ACTUAL_ED1_ENGAGE_ATT,
		null as ACATTMET56DOSE, 
		null as ACTUAL_ED2_ENGAGE_ATT, 
		null as ACTUAL_ED27_ENGAGE_ATT,
		null as ACBEHOFFICIALFL, 
		null as ACTUAL_ED1_ENGAGE_BEH, 
		null as ACBEHMET56DOSE, 
		null as ACTUAL_ED2_ENGAGE_BEH,
		null as ACTUAL_ED27_ENGAGE_BEH,
		NULL AS ACTUAL_ED27_ENGAGE_BEH_SAYODENOMINATOR
into #LEVEL6
FROM #level5 A
LEFT JOIN [Eval_Labs].[dbo].[LitAssessment] B
ON A.CYSCHOOLHOUSE_STUDENT_ID=B.CYSCHOOLHOUSE_STUDENT_ID
LEFT JOIN [Eval_Labs].[dbo].[MthAssessment] C
ON A.CYSCHOOLHOUSE_STUDENT_ID=C.CYSCHOOLHOUSE_STUDENT_ID
LEFT JOIN [Eval_Labs].[dbo].[Attendance] D
ON A.CYSCHOOLHOUSE_STUDENT_ID = D.CYSCHOOLHOUSE_STUDENT_ID
LEFT JOIN [Eval_Labs].[dbo].[DESSA_MINI] E
ON A.CYSCHOOLHOUSE_STUDENT_ID = E.CYSCHOOLHOUSE_STUDENT_ID
left join [Eval_Labs].[dbo].[BEH_SUSP] f
on a.cyschoolhouse_student_id = f.cyschoolhouse_student_id
left join [Eval_Labs].[dbo].[elacg] g
on a.cyschoolhouse_student_id = g.cyschoolhouse_student_id
left join [Eval_Labs].[dbo].[mathcg] h
on a.cyschoolhouse_student_id = h.cyschoolhouse_student_id
left join [Eval_Labs].[dbo].[SAYO_for_AC] i 
on a.cyschoolhouse_student_id = i.NewCYID_Pre

---------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------CALCULATED VARIABLES-----------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------

----FL and Afterschool Participation-----------------------------------------------------------------
UPDATE #LEVEL6 SET 
	OFFICIALFLLIT		= CASE WHEN ENROLLEDDAYSLIT>=1 AND ELA_IA = 1 THEN 1 WHEN ENROLLEDDAYSLIT>=1 AND ELA_IA = 0 THEN 0 ELSE NULL END, 
	OFFICIALFLMTH		= CASE WHEN ENROLLEDDAYSMTH>=1 AND MATH_IA=1 THEN 1 WHEN ENROLLEDDAYSMTH>=1 AND MATH_IA=0 THEN 0 ELSE NULL END,
	OFFICIALFLATT		= CASE WHEN ENROLLEDDAYSATT>=1 AND ATTENDANCE_IA=1 THEN 1 WHEN ENROLLEDDAYSATT>=1 AND ATTENDANCE_IA=0 THEN 0 ELSE NULL END,
	OFFICIALFLBEH		= CASE WHEN ENROLLEDDAYSBEH>=1 AND BEHAVIOR_IA=1 THEN 1 WHEN ENROLLEDDAYSBEH>=1 AND BEHAVIOR_IA=0 THEN 0 ELSE NULL END,
	NOTOFFICIALFLLIT	= CASE WHEN ENROLLEDDAYSLIT>=1 AND ELA_IA = 0 THEN 1 ELSE NULL END,
	NOTOFFICIALFLMTH	= CASE WHEN ENROLLEDDAYSMTH>=1 AND MATH_IA=0 THEN 1 ELSE NULL END,
	NOTOFFICIALFLATT	= CASE WHEN ENROLLEDDAYSATT>=1 AND ATTENDANCE_IA=0 THEN 1 ELSE NULL END,
	NOTOFFICIALFLBEH	= CASE WHEN ENROLLEDDAYSBEH>=1 AND BEHAVIOR_IA=0 THEN 1 ELSE NULL END,
	PARTICIPATE_AFTERSCHOOL = CASE WHEN HOMEWORK_ASSISTANCE=1 OR AFTERSCHOOL_HEROES=1 OR STARFISH_CORPS=1 OR ENRICHMENT=1 THEN 1 ELSE 0 END
FROM #LEVEL6

UPDATE #LEVEL6 SET 
	UNIQUEFL			= CASE WHEN OFFICIALFLLIT=1 OR OFFICIALFLMTH=1 OR OFFICIALFLATT=1 OR OFFICIALFLBEH=1 THEN 1 ELSE 0 END
FROM #LEVEL6


Alter Table #level6 
add flcombo varchar(50) null

UPDATE #level6 set 

	FLCOMBO = case when uniquefl=1 then concat((CASE WHEN officialfllit=1 then 'ELA/Literacy' else null end), ' ', 
	(case when officialflmth=1 then 'Math' else null end), ' ', 
	(case when officialflatt=1 then 'Attendance' else null end), ' ', 
	(case when officialflbeh=1 then 'Behavior' else null end))
	when uniquefl!=1 then null end

FROM #LEVEL6




Update #level6 set
	totalnumFL = isnull(officialflbeh,0)+isnull(officialflatt,0)+isnull(officialfllit,0)+isnull(officialflmth,0) 
from #level6

----Dosage Variables-----------------------------------------------------------------
UPDATE #LEVEL6 SET 
	NOTFLATTMET56DOSE	= CASE WHEN OFFICIALFLATT = 0 AND ENROLLEDDAYSATT >=56 THEN 1
						WHEN OFFICIALFLATT =0 AND ENROLLEDDAYSATT <56 THEN 0 ELSE NULL END,
	NOTFLBEHMET56DOSE	= CASE WHEN OFFICIALFLBEH = 0 AND ENROLLEDDAYSBEH >=56 THEN 1
						WHEN OFFICIALFLBEH =0 AND ENROLLEDDAYSBEH <56 THEN 0 ELSE NULL END,
	FLATTMET56DOSE		= CASE WHEN OFFICIALFLATT = 1 AND ENROLLEDDAYSATT >=56 THEN 1
						WHEN OFFICIALFLATT =1 AND ENROLLEDDAYSATT <56 THEN 0 ELSE NULL END,
	FLBEHMET56DOSE		= CASE WHEN OFFICIALFLBEH = 1 AND ENROLLEDDAYSBEH >=56 THEN 1
						WHEN OFFICIALFLBEH =1 AND ENROLLEDDAYSBEH <56 THEN 0 ELSE NULL END,

	FLLITMETMONTHLYDOSE = CASE
						WHEN OFFICIALFLLIT = 1 AND  ((TOTALDOSAGELIT*1.0/60)>=JUN_ELA_DosageGoal) THEN 1
						WHEN OFFICIALFLLIT=1 AND ((TOTALDOSAGELIT*1.0/60)<JUN_ELA_DosageGoal) THEN 0
						ELSE NULL END,

	FLMTHMETMONTHLYDOSE = CASE 
						WHEN OFFICIALFLMTH = 1 and ((TOTALDOSAGEMTH*1.0/60)>=JUN_MTH_DosageGoal) THEN 1
						WHEN OFFICIALFLMTH=1 AND ((TOTALDOSAGEMTH*1.0/60)<JUN_MTH_DosageGoal) THEN 0
						ELSE NULL END,
	NOTFLLITMETMONTHLYDOSE = CASE 
						WHEN OFFICIALFLLIT = 0  and ((TOTALDOSAGELIT*1.0/60)>=JUN_ELA_DosageGoal) THEN 1
						WHEN OFFICIALFLLIT= 0  AND ((TOTALDOSAGELIT*1.0/60)<JUN_ELA_DosageGoal) THEN 0
						ELSE NULL END,
	NOTFLMTHMETMONTHLYDOSE = 
						CASE WHEN OFFICIALFLMTH = 0  and ((TOTALDOSAGEMTH*1.0/60)>=JUN_MTH_DosageGoal) THEN 1
						WHEN OFFICIALFLMTH= 0  AND ((TOTALDOSAGEMTH*1.0/60)<JUN_MTH_DosageGoal) THEN 0
						ELSE NULL END 

FROM #LEVEL6

Alter Table #level6 
add ela_literacy_anyrawdp varchar(100) null

UPDATE #level6 set 

	ELA_Literacy_anyrawdp = case when fllitmetmonthlydose=1 and elacg_elacg_anyrawdp=1 and isnull(litassess_anyrawdp, 0)!=1 then '1 ELA Course Grade Datapoint'
		when fllitmetmonthlydose=1 and isnull(elacg_elacg_anyrawdp,0)!=1 and litassess_anyrawdp=1 then '1 Literacy Assessment Datapoint'
		when fllitmetmonthlydose=1 and elacg_elacg_anyrawdp=1 and litassess_anyrawdp=1 then '1 Literacy Assessment and 1 ELA Course Grade Datapoint'
		else null end

FROM #LEVEL6

Alter Table #level6 
add ela_literacy_2rawdp varchar(100) null
Update #level6 set

	 ELA_Literacy_2rawdp = case when fllitmetmonthlydose=1 and elacg_elacg_2rawdp=1 and isnull(litassess_2rawdp,0)!=1 then '2 ELA Course Grade Datapoints'
		when fllitmetmonthlydose=1 and isnull(elacg_elacg_2rawdp,0)!=1 and litassess_2rawdp=1 then '2 Literacy Assessment Datapoints'
		when fllitmetmonthlydose=1 and elacg_elacg_2rawdp=1 and litassess_2rawdp=1 then '2 Literacy Assessment and 2 ELA Course Grade Datapoint'
		else null end

FROM #LEVEL6



Alter Table #level6 
add math_anyrawdp varchar(100) null

UPDATE #level6 set 

	Math_anyrawdp = case when flmthmetmonthlydose=1 and mathcg_mathcg_anyrawdp=1 and isnull(mathassess_anyrawdp, 0)!=1 then '1 Math Course Grade Datapoint'
		when flmthmetmonthlydose=1 and isnull(mathcg_mathcg_anyrawdp,0)!=1 and mathassess_anyrawdp=1 then '1 Math Assessment Datapoint'
		when flmthmetmonthlydose=1 and mathcg_mathcg_anyrawdp=1 and mathassess_anyrawdp=1 then '1 Math Assessment and 1 Math Course Grade Datapoint'
		else null end

FROM #LEVEL6

Alter Table #level6 
add Math_2rawdp varchar(100) null
Update #level6 set

	 Math_2rawdp = case when flmthmetmonthlydose=1 and mathcg_mathcg_2rawdp=1 and isnull(mathassess_2rawdp,0)!=1 then '2 Math Course Grade Datapoints'
		when flmthmetmonthlydose=1 and isnull(mathcg_mathcg_2rawdp,0)!=1 and mathassess_2rawdp=1 then '2 Math Assessment Datapoints'
		when flmthmetmonthlydose=1 and mathcg_mathcg_2rawdp=1 and mathassess_2rawdp=1 then '2 Math Assessment and 2 Math Course Grade Datapoints'
		else null end

FROM #LEVEL6



Alter Table #level6 
add Beh_anyrawdp varchar(100) null

UPDATE #level6 set 

	Beh_anyrawdp = case when flbehmet56dose=1 and BEHSUS_BEHSUS_ANYRAWDP=1 and isnull(DESSA_ANYRAWDP, 0)!=1 then '1 Suspension Datapoint'
		when flbehmet56dose=1 and isnull(BEHSUS_BEHSUS_ANYRAWDP,0)!=1 and dessa_anyrawdp=1 then '1 DESSA-mini Datapoint'
		when flbehmet56dose=1 and behsus_behsus_anyrawdp=1 and dessa_anyrawdp=1 then '1 Suspension and 1 DESSA-mini Datapoint'
		else null end

FROM #LEVEL6

Alter Table #level6 
add Beh_2rawdp varchar(100) null
Update #level6 set

	 Beh_2rawdp = case when flbehmet56dose=1 and BEHSUS_BEHSUS_2RAWDP=1 and isnull(dessa_2rawdp,0)!=1 then '2 Suspension Datapoints'
		when flbehmet56dose=1 and isnull(BEHSUS_BEHSUS_2RAWDP,0)!=1 and dessa_2rawdp=1 then '2 DESSA-mini Datapoints'
		when flbehmet56dose=1 and BEHSUS_BEHSUS_2RAWDP=1 and dessa_2rawdp=1 then '2 Suspension and 2 DESSA-mini Datapoints'
		else null end

FROM #LEVEL6

UPDATE #LEVEL6 SET
	FLATTMET56DOSE1DP = CASE WHEN FLATTMET56DOSE=1 AND ATT_ANYRAWDP=1 THEN 1 
							 WHEN FLATTMET56DOSE=1 AND isnull(ATT_ANYRAWDP,0)!=1 THEN 0 ELSE NULL END,
	FLATTMET56DOSE2DP = CASE WHEN FLATTMET56DOSE=1 AND ATT_2RAWDP=1 THEN 1 
							 WHEN FLATTMET56DOSE=1 AND isnull(ATT_2RAWDP,0)!=1 THEN 0 ELSE NULL END
FROM #LEVEL6


----AC VARIABLES-----------------------------------------------------------------
/*Cleveland cannot report on 10th graders for AC reporting*/
/*Seattle can only report on grades 6-8 for engagement measures*/
UPDATE #LEVEL6 SET 
	ACREPORTGRADE_aCADEMIC = CASE WHEN SITE_NAME = 'CLEVELAND' AND GRADE_ID = '10' THEN 0 else 1 END
FROM #LEVEL6

Update #level6 set
	acreportgrade_engagement = CASE WHEN SITE_NAME = 'CLEVELAND' AND GRADE_ID = '10' THEN 0 
							   --WHEN SITE_NAME = 'SEATTLE' AND GRADE_ID IN ('K', '1', '2', '3', '4', '5', '9', '10', '11') THEN 0
							   else 1 END
FROM #LEVEL6

/*AC Academic dosage*/
UPDATE #LEVEL6 SET 
	ACDOSAGEGOALMTH			= CASE WHEN DIPLOMAS_NOW_SCHOOL = 1 THEN 6 ELSE JUN_MTH_DosageGoal END,
	ACDOSAGEGOALLIT			= CASE WHEN DIPLOMAS_NOW_SCHOOL = 1 THEN 6 ELSE JUN_ELA_DosageGoal END
FROM #LEVEL6

/*ED1 (ACADEMIC)*/ 
UPDATE #LEVEL6 SET
	ACLITOFFICIALFL			= CASE WHEN ACREPORTGRADE_ACADEMIC=1 AND ACREPORTLIT=1 THEN OFFICIALFLLIT ELSE NULL END,
	ACMTHOFFICIALFL			= CASE WHEN ACREPORTGRADE_ACADEMIC=1 AND ACREPORTMTH=1 THEN OFFICIALFLMTH ELSE NULL END
FROM #LEVEL6

UPDATE #LEVEL6 SET
	ACTUAL_ED1_ACAD			= CASE WHEN ACLITOFFICIALFL=1 OR ACMTHOFFICIALFL=1 THEN 1 ELSE NULL END
FROM #LEVEL6

/*ED2 (ACADEMIC)*/
UPDATE #LEVEL6 SET
	ACLITMETACDOSE			= CASE WHEN ACLITOFFICIALFL=1 AND (TOTALDOSAGELIT*1.0/60)>=ACDOSAGEGOALLIT THEN 1 WHEN ACLITOFFICIALFL=1 AND (TOTALDOSAGELIT*1.0/60)<ACDOSAGEGOALLIT THEN 0 ELSE NULL END,
	ACMTHMETACDOSE			= CASE WHEN ACMTHOFFICIALFL=1 AND (TOTALDOSAGEMTH*1.0/60)>=ACDOSAGEGOALMTH THEN 1 WHEN ACMTHOFFICIALFL=1 AND (TOTALDOSAGEMTH*1.0/60)<ACDOSAGEGOALMTH THEN 0 ELSE NULL END
FROM #LEVEL6

UPDATE #LEVEL6 SET
	ACTUAL_ED2_ACAD			= CASE WHEN ACLITMETACDOSE=1 OR ACMTHMETACDOSE=1 THEN 1 ELSE NULL END
FROM #LEVEL6
/*ED5 (ACADEMIC)*/
UPDATE #LEVEL6 SET
	ACTUAL_ED5_ACAD_LIT		= CASE WHEN ACLITMETACDOSE=1 AND LITASSESS_AC_METGOAL=1 THEN 1 ELSE NULL END,
	ACTUAL_ED5_ACAD_MTH		= CASE WHEN ACMTHMETACDOSE=1 AND MATHASSESS_AC_METGOAL = 1 THEN 1 ELSE NULL END
FROM #LEVEL6

UPDATE #LEVEL6 SET
	ACTUAL_ED5_ACAD		    = CASE WHEN ACTUAL_ED5_ACAD_LIT=1 OR ACTUAL_ED5_ACAD_MTH=1 THEN 1 ELSE NULL END
FROM #LEVEL6

/*ED1 (ATTENDANCE)*/
UPDATE #LEVEL6 SET
	ACATTOFFICIALFL			= CASE WHEN ACREPORTGRADE_ENGAGEMENT=1 AND ACREPORTATT=1 THEN OFFICIALFLATT ELSE NULL END
FROM #LEVEL6
UPDATE #LEVEL6 SET
	ACTUAL_ED1_ENGAGE_ATT	= CASE WHEN ACATTOFFICIALFL=1 THEN 1 ELSE NULL END
FROM #LEVEL6

/*ED2 (ATTENDANCE)*/
UPDATE #LEVEL6 SET
	ACATTMET56DOSE			= CASE WHEN ACATTOFFICIALFL=1 AND ENROLLEDDAYSATT>=56 THEN 1 WHEN ACATTOFFICIALFL=1 AND ENROLLEDDAYSATT<56 THEN 0 ELSE NULL END
FROM #LEVEL6
UPDATE #LEVEL6 SET
	ACTUAL_ED2_ENGAGE_ATT	= CASE WHEN ACATTMET56DOSE=1 THEN 1 ELSE NULL END
FROM #LEVEL6
	
/*ED27 (ATTENDANCE)*/
UPDATE #LEVEL6 SET
	ACTUAL_ED27_ENGAGE_ATT = CASE WHEN ACATTMET56DOSE=1 AND ATT_METACGOAL = 1 THEN 1 ELSE NULL END 
FROM #LEVEL6
/*ED1 (BEHAVIOR)*/
UPDATE #LEVEL6 SET
	ACBEHOFFICIALFL			= CASE WHEN ACREPORTGRADE_ENGAGEMENT=1 AND ACREPORTBEH=1 THEN OFFICIALFLBEH ELSE NULL END
FROM #LEVEL6
UPDATE #LEVEL6 SET
	ACTUAL_ED1_ENGAGE_BEH	= CASE WHEN ACBEHOFFICIALFL=1 THEN 1 ELSE NULL END
FROM #LEVEL6
/*ED2 (BEHAVIOR)*/
UPDATE #LEVEL6 SET
	ACBEHMET56DOSE			= CASE WHEN ACBEHOFFICIALFL=1 AND ENROLLEDDAYSBEH>=56 THEN 1 WHEN ACBEHOFFICIALFL=1 AND ENROLLEDDAYSBEH<56 THEN 0 ELSE NULL END
FROM #LEVEL6
UPDATE #LEVEL6 SET
	ACTUAL_ED2_ENGAGE_BEH	= CASE WHEN ACBEHMET56DOSE=1 THEN 1 ELSE NULL END
FROM #LEVEL6
	
/*ED27 (BEHAVIOR)*/
UPDATE #LEVEL6 SET
	ACTUAL_ED27_ENGAGE_BEH = CASE WHEN ACBEHMET56DOSE=1 AND ((DESSA_AC_MET_IMP = 1 OR BEHSUS_AC_MET_IMP=1) OR (SAYOY_AC_MET_IMP = 1 AND Grantcategory=3)) THEN 1 ELSE NULL END 
FROM #LEVEL6	

UPDATE #LEVEL6 SET
	ACTUAL_ED27_ENGAGE_BEH_SAYODENOMINATOR = CASE WHEN ACBEHMET56DOSE=1 AND Grantcategory=3 AND SAYOY_AC_Start_Below=1 THEN 1 ELSE NULL END
fROM #LEVEL6



DROP TABLE Eval_Labs.dbo.Eval_StudentLevelFile_Quarantine
SELECT * INTO Eval_Labs.dbo.Eval_StudentLevelFile_Quarantine
FROM #LEVEL6

DROP TABLE eval_labs.dbo.eval_studentlevelfile_quarantinewithids
select * into eval_labs.dbo.eval_studentlevelfile_quarantinewithids from #level6


create table #Temp
(
[id] [int] IDENTITY(1,1) NOT NULL,
[first_name] [varchar](250) NULL,
[last_name] [varchar](250) NULL,
[cyschoolhouseid] [varchar](250) NULL
) ON [PRIMARY]

insert into #Temp(first_name, last_name, cyschoolhouseid)
select distinct FIRST_NAME, LAST_NAME, CYSCHOOLHOUSE_STUDENT_ID
from EVAL_Labs.dbo.Eval_StudentLevelFile_Quarantine
order by FIRST_NAME, LAST_NAME

create nonclustered index #a on #Temp(FIRST_NAME)
create nonclustered index #b on #Temp(LAST_NAME)
create nonclustered index #c on #Temp(cyschoolhouseid)

update EVAL_Labs.dbo.Eval_StudentLevelFile_Quarantine 
set MIDDLE_NAME = b.ID
from EVAL_Labs.dbo.Eval_StudentLevelFile_Quarantine (nolock) a
inner join #Temp (nolock) b on 
a.FIRST_NAME = b.first_name and
a.LAST_NAME = b.last_name and
a.CYSCHOOLHOUSE_STUDENT_ID = b.cyschoolhouseid

update EVAL_Labs.dbo.Eval_StudentLevelFile_Quarantine set CYSCHOOLHOUSE_STUDENT_ID = MIDDLE_NAME
update EVAL_Labs.dbo.Eval_StudentLevelFile_Quarantine set FIRST_NAME = null
update EVAL_Labs.dbo.Eval_StudentLevelFile_Quarantine set LAST_NAME = null
update EVAL_Labs.dbo.Eval_StudentLevelFile_Quarantine set MIDDLE_NAME = null




END

GO
