USE [EVAL_Labs]
GO
/****** Object:  StoredProcedure [dbo].[sp_LitAssessment]    Script Date: 12/19/2016 4:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_LitAssessment] 
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
DROP TABLE Eval_Labs.dbo.LitAssessment

SELECT D.*, 
	CASE WHEN OG_MET_IMP=1 OR OG_MET_PERF_LVL=1 THEN 1 ELSE NULL END AS LITASSESS_METPERFGROWTH,
	CASE WHEN AC_MET_IMP=1 OR AC_MET_PERF_LVL=1 THEN 1 ELSE NULL END AS LITASSESS_AC_METGOAL,
	CASE WHEN IOG_CRITERIA=1 AND (OG_MET_IMP=1 or OG_MET_PERF_LVL =1) AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=5 THEN 1 ELSE NULL END AS IOG_LITAssess35_MetPerfGrowth,
	CASE WHEN IOG_CRITERIA=1 AND (OG_MET_IMP=1 or OG_MET_PERF_LVL =1) AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN 1 ELSE NULL END AS IOG_LITAssess69_MetPerfGrowth,
	CASE WHEN IOG_CRITERIA=1 AND (OG_MET_IMP=1 or OG_MET_PERF_LVL =1) AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=9 THEN 1 ELSE NULL END AS IOG_LITAssess39_MetPerfGrowth
INTO Eval_Labs.dbo.LitAssessment
FROM
	(SELECT C.*, 
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=5 THEN LITASSESS_ANYRAWDP ELSE NULL END AS IOG_LITAssess35_anyRawDP,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=5 THEN LITASSESS_2RAWDP ELSE NULL END AS IOG_LITAssess35_2RawDP,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=5 THEN lITASSESS_2PerfLvlDP_LOCAL ELSE NULL END AS IOG_LITAssess35_2PerfLvlDP_LOCAL,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=5 THEN lITASSESS_2PerfLvlDP_NORM ELSE NULL END AS IOG_LITAssess35_2PerfLvlDP_NORM,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=5 THEN LITAssess_RawInc ELSE NULL END AS IOG_LITAssess35_RawInc,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=5 THEN LITAssess_StartOffSlid ELSE NULL END AS IOG_LITAssess35_StartOffSlid,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=5 THEN LITAssess_SOSMoveOn ELSE NULL END AS IOG_LITAssess35_SOSMoveOn,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN LITASSESS_ANYRAWDP ELSE NULL END AS IOG_LITAssess69_anyRawDP,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN LITASSESS_2RAWDP ELSE NULL END AS IOG_LITAssess69_2RawDP,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN lITASSESS_2PerfLvlDP_LOCAL ELSE NULL END AS IOG_LITAssess69_2PerfLvlDP_LOCAL,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN lITASSESS_2PerfLvlDP_NORM ELSE NULL END AS IOG_LITAssess69_2PerfLvlDP_NORM,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN LITAssess_RawInc ELSE NULL END AS IOG_LITAssess69_RawInc,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN LITAssess_StartOffSlid ELSE NULL END AS IOG_LITAssess69_StartOffSlid,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN LITAssess_SOSMoveOn ELSE NULL END AS IOG_LITAssess69_SOSMoveOn,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=9 THEN LITASSESS_ANYRAWDP ELSE NULL END AS IOG_LITAssess39_anyRawDP,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=9 THEN LITASSESS_2RAWDP ELSE NULL END AS IOG_LITAssess39_2RawDP,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=9 THEN lITASSESS_2PerfLvlDP_LOCAL ELSE NULL END AS IOG_LITAssess39_2PerfLvlDP_LOCAL,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=9 THEN lITASSESS_2PerfLvlDP_NORM ELSE NULL END AS IOG_LITAssess39_2PerfLvlDP_NORM,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=9 THEN LITAssess_RawInc ELSE NULL END AS IOG_LITAssess39_RawInc,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=9 THEN LITAssess_StartOffSlid ELSE NULL END AS IOG_LITAssess39_StartOffSlid,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=9 THEN LITAssess_SOSMoveOn ELSE NULL END AS IOG_LITAssess39_SOSMoveOn,
		CASE WHEN DN_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN LITASSESS_ANYRAWDP ELSE NULL END AS DN_LITAssess69_anyRawDP,
		CASE WHEN DN_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN LITASSESS_2RAWDP ELSE NULL END AS DN_LITAssess69_2RawDP,
		CASE WHEN DN_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN lITASSESS_2PerfLvlDP_LOCAL ELSE NULL END AS DN_LITAssess69_2PerfLvlDP_LOCAL,
		CASE WHEN DN_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN lITASSESS_2PerfLvlDP_NORM ELSE NULL END AS DN_LITAssess69_2PerfLvlDP_NORM,
		CASE WHEN DN_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN LITAssess_RawInc ELSE NULL END AS DN_LITAssess69_RawInc,
		CASE WHEN DN_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN LITAssess_StartOffSlid ELSE NULL END AS DN_LITAssess69_StartOffSlid,
		CASE WHEN DN_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN LITAssess_SOSMoveOn ELSE NULL END AS DN_LITAssess69_SOSMoveOn,
	--OG_MET_IMP, improvement definition involves point/score growth
		CASE WHEN SITE_NAME = 'BOSTON' AND SKILL_DESCRIPTION = 'Fountas and Pinnell Benchmark Assessment System - ELA' AND RAWCHANGE>=3 THEN 1
			 WHEN SITE_NAME = 'BOSTON' AND SKILL_DESCRIPTION = 'TRC - ELA' AND RAWCHANGE>=2 THEN 1
			 WHEN SITE_NAME = 'BOSTON' AND SKILL_DESCRIPTION = 'DIBELS - ELA' AND ((GRADE_ID_NUMERIC = 3 AND RAWCHANGE>=11) OR (GRADE_ID_NUMERIC = 4 AND RAWCHANGE>= 8)
				OR (GRADE_ID_NUMERIC = 5 AND RAWCHANGE>=6) OR (GRADE_ID_NUMERIC = 6 AND RAWCHANGE>=3)) THEN 1
			WHEN SITE_NAME = 'DENVER' AND SKILL_DESCRIPTION IN ('DRA - ELA') THEN AC_MET_IMP
			WHEN SITE_NAME = 'DENVER' AND SKILL_DESCRIPTION = 'IRLA - ELA' AND rawchange>=1 THEN 1
			WHEN SITE_NAME = 'DENVER' AND SKILL_DESCRIPTION = 'STAR READING - ELA' AND RAWCHANGE>=1.2 THEN 1
			 WHEN SITE_NAME = 'DENVER' AND SKILL_DESCRIPTION = 'iStation Indicators of Progress - ELA' AND ((GRADE_ID_NUMERIC=4 AND RAWCHANGE>=100) OR (GRADE_ID_NUMERIC=5 AND RAWCHANGE>=60)) THEN 1
			 WHEN SITE_NAME = 'JACKSONVILLE' AND SKILL_DESCRIPTION = 'Achieve 3000 - ELA' AND ((GRADE_ID_NUMERIC IN (8,9) AND RAWCHANGE>=70)
				OR (GRADE_ID_NUMERIC=7 AND RAWCHANGE>=80) OR (GRADE_ID_NUMERIC = 6 AND RAWCHANGE>=90)) THEN 1
			WHEN SITE_NAME = 'LITTLE ROCK' AND SKILL_DESCRIPTION = 'DIBELS - ELA' AND ((GRADE_ID_NUMERIC=3 AND RAWCHANGE>=12) OR (GRADE_ID_nUMERIC=4 AND RAWCHANGE>=16) OR (GRADE_ID_NUMERIC=5 AND RAWCHANGE>=4)) THEN 1
			WHEN SITE_NAME = 'MIAMI' AND SKILL_DESCRIPTION = 'Florida Assessments for Instruction in Reading - ELA' AND RAWCHANGE>=25 THEN 1
			WHEN SITE_NAME = 'MIAMI' AND SKILL_DESCRIPTION = 'IREADY - ELA' AND RAWCHANGE>=15 THEN 1
			WHEN SITE_NAME = 'ORLANDO' AND SKILL_DESCRIPTION = 'Orlando Common Numeric Assessment - ELA' AND RAWCHANGE>=5 THEN 1
			WHEN SITE_NAME = 'ORLANDO' AND SKILL_DESCRIPTION = 'ACHIEVE 3000 - ELA' AND ((GRADE_iD_nUMERIC IN (6,7) AND RAWCHANGE>=70)
			OR (GRADE_ID_NUMERIC = 8 AND RAWCHANGE>=50)) THEN 1
			WHEN SITE_NAME = 'PHILADELPHIA' AND SKILL_DESCRIPTION = 'AIMSWEB - ELA' AND RAWCHANGE>=0 THEN 1
			 WHEN SITE_NAME = 'SACRAMENTO' AND SKILL_DESCRIPTION = 'DIBELS - ELA' AND ((GRADE_ID_NUMERIC IN (3,4) AND RAWCHANGE>=50) OR (GRADE_ID_NUMERIC=5 AND RAWCHANGE>=60) OR (GRADE_ID_NUMERIC=6 AND RAWCHANGE>=40)) THEN 1
			 WHEN SITE_NAME = 'SACRAMENTO' AND SKILL_DESCRIPTION = 'STAR READING - ELA' AND RAWCHANGE>=50 THEN 1
			WHEN SITE_NAME = 'SACRAMENTO' AND SKILL_DESCRIPTION = 'IReady - ELA' AND ((GRADE_ID_NUMERIC=3 AND RAWCHANGE>=32) OR (GRADE_ID_NUMERIC IN (4,5) AND RAWCHANGE>=19) OR (GRADE_ID_NUMERIC IN (6, 7,8) AND RAWCHANGE>=15)) THEN 1
	WHEN SITE_NAME LIKE 'WASH%' AND SKILL_DESCRIPTION = 'DC District Unit Test - ELA' AND RAWCHANGE>=.1 THEN 1
	--OG_MET_IMP, improvement definition same as AC
			WHEN SITE_NAME = 'BOSTON' AND SKILL_DESCRIPTION = 'AIMSWEB - ELA' AND RAWCHANGE>=1 THEN AC_MET_IMP
			when site_name = 'columbia' and skill_description = 'STAR READING - ELA' THEN AC_MET_IMP
			WHEN SITE_NAME IN ('BATON ROUGE', 'CLEVELAND', 'COLUMBUS', 'DETROIT',
			   'MILWAUKEE', 'NEW HAMPSHIRE',  'PROVIDENCE', 'rhode island', 'SAN ANTONIO', 'san jose', 'TULSA',
			 'WASHINGTON, DC')  THEN AC_MET_IMP
	--OG_MET_IMP, improvement definition involves expected growth
			WHEN SITE_NAME in ('Chicago', 'Columbia', 'Denver', 'Kansas City', 'NEW ORLEANS') AND SKILL_DESCRIPTION = 'NWEA - ELA' AND POST_MET_TARGET_SCORE = 1 THEN 1
            WHEN SITE_NAME IN ('Boston', 'chicago', 'dallas', 'denver', 'little rock', 'Los Angeles', 'Miami', 'NEW YORK', 'ORLANDO', 'SACRAMENTO', 'SEATTLE') AND SKILL_DESCRIPTION = 'SRI: Scholastic Reading Inventory - ELA' and RAWCHANGE>=SRIFALLTOSPRINGGROWTH THEN 1
			else null
		END AS OG_MET_IMP,
	--OG_MET_PERF_lvl
		CASE  
		 WHEN SITE_NAME = 'DALLAS' AND SKILL_DESCRIPTION = 'SRI: Scholastic Reading Inventory - ELA' AND SCALE_CHANGE_LOCAL>=1 THEN ac_met_perf_lvl 
		 WHEN SITE_NAME = 'SAN JOSE' AND SKILL_DESCRIPTION = 'Degrees of Reading Power - ELA' THEN AC_MET_PERF_LVL
		  WHEN SITE_NAME = 'SAN JOSE' AND SKILL_DESCRIPTION = 'DIBELS - ELA' AND (GRADE_ID_nUMERIC IN (7,8) AND SCALE_CHANGE_NORM>=1) THEN 1
				 WHEN SITE_NAME = 'NEW HAMPSHIRE' AND SKILL_DESCRIPTION = 'MANCHESTER SCHOOL DISTRICT COMPUTATION ASSESSMENT - ELA' AND SCALE_CHANGE_LOCAL>=1 THEN ac_met_perf_lvl 
				 WHEN SITE_NAME = 'SEATTLE' AND SKILL_DESCRIPTION IN ('Teachers College Reading Assessment - ELA', 'Fountas and Pinnell Benchmark Assessment System - ELA') THEN ac_met_perf_lvl 
				 WHEN SITE_NAME = 'NEW YORK' AND SKILL_DESCRIPTION = 'Degrees of Reading Power - ELA' AND SCALE_CHANGE_norm>=1 THEN 1
		END AS OG_MET_PERF_LVL
	FROM
		(SELECT A.*, B.*,
			CASE WHEN DIPLOMAS_NOW_SCHOOL=0 AND ELA_IA=1 AND ENROLLED_DAYS>0 AND STATUS_JUNE_DOSAGE_GOAL=1 THEN 1 ELSE NULL END AS IOG_CRITERIA,
			CASE WHEN DIPLOMAS_NOW_SCHOOL=1 AND ELA_IA=1 AND ENROLLED_DAYS>0 AND STATUS_JUNE_DOSAGE_GOAL=1 THEN 1 ELSE NULL END AS DN_CRITERIA,
			CASE WHEN PRE_VALUE IS NOT NULL THEN 1 ELSE 0 END AS LITASSESS_ANYRAWDP,
			CASE WHEN PRE_VALUE IS NOT NULL AND POST_VALUE IS NOT NULL THEN 1 ELSE 0 END AS LITASSESS_2RAWDP,
			CASE WHEN PRE_SCALE_LOCAL IS NOT NULL AND POST_SCALE_LOCAL IS NOT NULL THEN 1 ELSE 0 END AS LITASSESS_2PerfLvlDP_LOCAL,
			CASE WHEN PRE_SCALE_NORM IS NOT NULL AND POST_SCALE_NORM IS NOT NULL THEN 1 ELSE 0 END AS LITASSESS_2PerfLvlDP_NORM,
			CASE WHEN rawchange> 0 then 1 
				 WHEN rawchange<=0 then 0 else null enD AS LITAssess_RawInc, 
			CASE WHEN PRE_SCALE_NORM IS NOT NULL AND POST_SCALE_NORM IS NOT NULL AND (STARTOFFSLIDING=1) THEN 1 
				 WHEN PRE_SCALE_NORM IS NOT NULL AND POST_SCALE_NORM IS NOT NULL AND (STARTOFFSLIDING=0) THEN 0 ELSE NULL END AS LITAssess_StartOffSlid, 
			CASE WHEN PRE_SCALE_NORM IS NOT NULL AND POST_SCALE_NORM IS NOT NULL AND (SOS_MOVEON=1) THEN 1 
				 WHEN PRE_SCALE_NORM IS NOT NULL AND POST_SCALE_NORM IS NOT NULL AND (SOS_MOVEON=0) THEN 0 ELSE NULL END AS LITAssess_SOSMoveOn,
		 --AC_MET_IMP, improvement definition involves point/score growth
			CASE WHEN SITE_NAME = 'BATON ROUGE' AND SKILL_DESCRIPTION = 'EADMS - ELA' AND RAWCHANGE>=0.05 THEN 1
				 WHEN SITE_NAME = 'BOSTON' AND SKILL_DESCRIPTION = 'DIBELS - ELA' AND RAWCHANGE>0 THEN 1
				 WHEN SITE_NAME = 'BOSTON' AND SKILL_DESCRIPTION = 'Fountas and Pinnell Benchmark Assessment System - ELA' AND RAWCHANGE>=1 THEN 1
				 WHEN SITE_NAME = 'BOSTON' AND SKILL_DESCRIPTION = 'TRC - ELA' AND RAWCHANGE>=1 THEN 1
				 WHEN SITE_NAME = 'BOSTON' AND SKILL_DESCRIPTION = 'AIMSWEB - ELA' AND RAWCHANGE>=1 THEN 1
				 WHEN SITE_NAME = 'COLUMBIA' AND SKILL_DESCRIPTION = 'STAR READING - ELA' AND RAWCHANGE>=40 THEN 1
				 WHEN SITE_NAME = 'DENVER' AND SKILL_DESCRIPTION = 'STAR READING - ELA' AND POST_MET_TARGET_SCORE=1 THEN 1
				 WHEN SITE_NAME = 'DENVER' AND SKILL_DESCRIPTION = 'IRLA - ELA' AND post_met_target_score=1 THEN 1
				 WHEN SITE_NAME = 'JACKSONVILLE' AND SKILL_DESCRIPTION = 'Achieve 3000 - ELA' AND RAWCHANGE>=20 THEN 1
				 WHEN SITE_NAME = 'LITTLE ROCK' AND SKILL_DESCRIPTION = 'DIBELS - ELA' AND ((GRADE_ID_NUMERIC=3 AND RAWCHANGE>=12) OR (GRADE_ID_nUMERIC=4 AND RAWCHANGE>=16) OR (GRADE_ID_NUMERIC=5 AND RAWCHANGE>=4)) THEN 1
				 WHEN SITE_NAME = 'MIAMI' AND GRANTSITENUM =9 AND SKILL_DESCRIPTION = 'Florida Assessments for Instruction in Reading - ELA' AND RAWCHANGE>=100 THEN 1
				 WHEN SITE_NAME = 'MIAMI' AND GRANTSITENUM IN (28,29) AND  SKILL_DESCRIPTION = 'Florida Assessments for Instruction in Reading - ELA' AND RAWCHANGE>=25 THEN 1
				 WHEN SITE_NAME = 'MIAMI' AND SKILL_DESCRIPTION = 'IREADY - ELA' AND ((GRADE_ID_NUMERIC=3 AND RAWCHANGE>=32) OR (GRADE_ID_NUMERIC IN (4,5) AND RAWCHANGE>=19) OR (GRADE_ID_NUMERIC IN (6, 7, 8) AND RAWCHANGE>=15)) THEN 1
				 WHEN SITE_NAME = 'MILWAUKEE' AND SKILL_DESCRIPTION = 'STAR READING - ELA' AND RAWCHANGE>=50 THEN 1
				 WHEN SITE_NAME = 'NEW HAMPSHIRE' AND SKILL_DESCRIPTION = 'Fountas and Pinnell Benchmark Assessment System - ELA' AND ((PRE_ASSESSMENT_DATE<'12/1/2015' AND POST_ASSESSMENT_DATE>='6/1/2016' AND RAWCHANGE>=3) OR (PRE_ASSESSMENT_DATE>='12/1/2015' AND POST_ASSESSMENT_DATE>='6/1/2016' AND RAWCHANGE>=2)
				 or (post_assessment_date<'6/1/2016' and rawchange>=2)) THEN 1
				 WHEN SITE_NAME = 'NEW YORK' AND SKILL_DESCRIPTION = 'MCLASS' AND ((GRADE_ID_NUMERIC=1 AND RAWCHANGE>=4) OR (GRADE_ID_NUMERIC>=2 AND GRADE_ID_NUMERIC<=5 AND RAWCHANGE>=2)) then 1
				 WHEN SITE_NAME = 'ORLANDO' AND SKILL_DESCRIPTION = 'Orlando Common Numeric Assessment - ELA' AND RAWCHANGE>=5 THEN 1
			WHEN SITE_NAME = 'ORLANDO' AND SKILL_DESCRIPTION = 'ACHIEVE 3000 - ELA' AND ((GRADE_iD_nUMERIC IN (6,7) AND RAWCHANGE>=70)
			OR (GRADE_ID_NUMERIC = 8 AND RAWCHANGE>=50)) THEN 1
				 WHEN SITE_NAME = 'SAN ANTONIO' AND SKILL_DESCRIPTION = 'iStation Indicators of Progress - ELA' AND ((GRADE_ID_NUMERIC=3 AND RAWCHANGE>=2) OR (GRADE_ID_NUMERIC>=4 AND GRADE_ID_NUMERIC<=10 AND RAWCHANGE>=45)) THEN 1
				 WHEN SITE_NAME = 'SACRAMENTO' AND SKILL_DESCRIPTION = 'STAR READING - ELA' AND RAWCHANGE>=50 THEN 1
				 WHEN SITE_NAME = 'SACRAMENTO' AND SKILL_DESCRIPTION = 'IReady - ELA' AND ((GRADE_ID_NUMERIC=3 AND RAWCHANGE>=32) OR (GRADE_ID_NUMERIC IN (4,5) AND RAWCHANGE>=19) OR (GRADE_ID_NUMERIC IN (6, 7,8) AND RAWCHANGE>=15)) THEN 1
				 WHEN SITE_NAME = 'SACRAMENTO' AND SKILL_DESCRIPTION = 'DIBELS - ELA' AND ((GRADE_ID_NUMERIC IN (3,4) AND RAWCHANGE>=50) OR (GRADE_ID_NUMERIC=5 AND RAWCHANGE>=60) OR (GRADE_ID_NUMERIC=6 AND RAWCHANGE>=40)) THEN 1
				  WHEN SITE_NAME = 'SAN JOSE' AND SKILL_DESCRIPTION = 'DIBELS - ELA' AND ((GRADE_ID_NUMERIC=3 AND RAWCHANGE>=110) OR (GRADE_ID_NUMERIC=4 AND RAWCHANGE>=101) OR (GRADE_ID_NUMERIC=5 AND RAWCHANGE>=58) OR (GRADE_ID_NUMERIC=6 AND RAWCHANGE>=36)) THEN 1
				 WHEN SITE_NAME LIKE 'WAS%' AND SKILL_DESCRIPTION = 'TRC - ELA' AND ((GRADE_ID_NUMERIC in (0,2,3,4,5) AND RAWCHANGE>=2) OR (GRADE_ID_NUMERIC=1 AND RAWCHANGE>=3)) THEN 1
				 WHEN SITE_NAME LIKE 'WAS%' AND SKILL_DESCRIPTION = 'UNIT TEST - ELA' AND RAWCHANGE>=.1 THEN 1
				 WHEN SITE_NAME LIKE 'WAS%' AND SKILL_DESCRIPTION = 'AGILE MINDS - ELA' AND RAWCHANGE>=.1 THEN 1
				 WHEN SITE_NAME LIKE 'WAS%' AND SKILL_DESCRIPTION = 'DIBELS - ELA' AND ((GRADE_ID_nUMERIC=0 AND RAWCHANGE>=46) OR (GRADE_ID_nUMERIC=1 AND RAWCHANGE>=21) OR (GRADE_ID_NUMERIC=2 AND RAWCHANGE>=48) OR (GRADE_ID_NUMERIC=3 AND RAWCHANGE>=55) OR (GRADE_ID_NUMERIC=4 AND RAWCHANGE>=29) OR (gRADE_ID_nUMERIC=5 AND RAWCHANGE>=18)) THEN 1
		WHEN SITE_NAME LIKE 'WASH%' AND SKILL_DESCRIPTION = 'DC District Unit Test - ELA' AND RAWCHANGE>=.1 THEN 1
		--AC_MET_IMP, improvement definition involves expected growth
				 WHEN SITE_NAME = 'DENVER' AND SKILL_DESCRIPTION in ('DRA - ELA', 'iStation Indicators of Progress - ELA') AND POST_MET_TARGET_SCORE = 1 THEN 1
				 WHEN SITE_NAME = 'LITTLE ROCK' AND SKILL_DESCRIPTION ='DIBELS - ELA' AND POST_MET_TARGET_SCORE = 1 THEN 1
				 WHEN SITE_NAME = 'SEATTLE' AND SKILL_DESCRIPTION = 'SRI: Scholastic Reading Inventory - ELA' AND RAWCHANGE>=(0.5*SRIFALLTOSPRINGGROWTH) THEN 1
				  WHEN SITE_NAME = 'NEW ORLEANS' AND SKILL_DESCRIPTION = 'NWEA - ELA' AND isnumeric(post_target_score)=1 and RAWCHANGE>=(0.75*(CONVERT(FLOAT, POST_TARGET_SCORE)-CONVERT(FLOAT,PRE_VALUE))) THEN 1
				 WHEN SITE_NAME IN ('COLUMBIA') AND SKILL_DESCRIPTION = 'AIMSWEB - ELA' AND POST_MET_TARGET_SCORE = 1 THEN 1 
				 WHEN SITE_NAME IN ('LITTLE ROCK', 'providence', 'RHODE ISLAND') AND SKILL_DESCRIPTION = 'STAR READING - ELA' AND POST_MET_TARGET_SCORE=1 THEN 1
				 WHEN SITE_NAME IN ('COLUMBUS', 'COLUMBIA', 'Chicago', 'Cleveland', 'denver', 'Detroit', 'kansas city', 'MILWAUKEE', 'Washington, DC') and SKILL_DESCRIPTION = 'NWEA - ELA' and POST_MET_TARGET_SCORE = 1 THEN 1
				 WHEN SITE_NAME IN ('boston', 'chicago', 'Denver', 'LITTLE ROCK', 'Los Angeles', 'Miami', 'new york', 'orlando', 'Sacramento', 'San Antonio', 'Tulsa') 
				   AND SKILL_DESCRIPTION = 'SRI: Scholastic Reading Inventory - ELA' and RAWCHANGE>=SRIFALLTOSPRINGGROWTH THEN 1
				 WHEN SITE_NAME LIKE 'WAS%' AND SKILL_DESCRIPTION = 'SRI: Scholastic Reading Inventory - ELA' and RAWCHANGE>=(0.5*SRIFALLTOSPRINGGROWTH) THEN 1
			ELSE NULL END AS AC_MET_IMP,
		--AC_MET_PERF_LVL

			CASE WHEN SITE_NAME in ('boston', 'DALLAS', 'chicago') AND SKILL_DESCRIPTION = 'SRI: Scholastic Reading Inventory - ELA' AND SCALE_CHANGE_Norm>=1 THEN 1
				 WHEN SITE_NAME = 'LOS ANGELES' AND GRANTSITENUM = 25 AND SKILL_DESCRIPTION = 'SRI: Scholastic Reading Inventory - ELA' AND SCALE_CHANGE_LOCAL>=1 THEN 1
			     WHEN SITE_NAME = 'DETROIT' AND SKILL_DESCRIPTION = 'NWEA - ELA' AND SCALE_CHANGE_NORM>=1 THEN 1
				 WHEN SITE_NAME = 'NEW HAMPSHIRE' AND SKILL_DESCRIPTION = 'MANCHESTER SCHOOL DISTRICT COMPUTATION ASSESSMENT' AND SCALE_CHANGE_LOCAL>=1 THEN 1
				 WHEN SITE_NAME = 'SAN JOSE' AND SKILL_DESCRIPTION = 'Degrees of Reading Power - ELA' AND SCALE_CHANGE_LOCAL>=1 THEN 1
				  WHEN SITE_NAME = 'SAN JOSE' AND SKILL_DESCRIPTION = 'DIBELS - ELA' AND (GRADE_ID_nUMERIC IN (7,8) AND SCALE_CHANGE_NORM>=1) THEN 1
				 WHEN SITE_NAME = 'NEW YORK' AND SKILL_DESCRIPTION = 'Degrees of Reading Power - ELA' AND SCALE_CHANGE_norm>=1 THEN 1
				 WHEN SITE_NAME = 'SEATTLE' AND SKILL_DESCRIPTION IN ('Teachers College Reading Assessment - ELA', 'Fountas and Pinnell Benchmark Assessment System - ELA')  AND post_met_Target_score=1 THEN 1
			ELSE NULL END AS AC_MET_PERF_LVL
				FROM		
					(SELECT *, 
						CASE WHEN GRADE= 'K' THEN 0 WHEN GRADE = 'PK' THEN -1 ELSE GRADE END AS GRADE_ID_NUMERIC 
					FROM [ReportCYData_PROD].[dbo].[EVAL_ELA_ASSESSMENT]) A
					LEFT JOIN [EVAL_LABS].[dbo].[SRI Growth Targets 2011$] B
					ON A.GRADE_ID_NUMERIC = B.SRIGrade AND skill_description like 'sri%' and (A.PRE_VALUE BETWEEN B.SRIFallLexileMeasure AND B.SRIFallLexileMeasureMax)) C) D
 END

GO
