USE [EVAL_Labs]
GO
/****** Object:  Table [dbo].[FY17Attendance]    Script Date: 12/19/2016 4:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FY17Attendance](
	[CYSCHOOLHOUSE_STUDENT_ID] [varchar](255) NULL,
	[SCHOOL_ID] [varchar](255) NULL,
	[SITE_NAME] [varchar](255) NULL,
	[STUDENT_NAME] [varchar](255) NULL,
	[GRADE] [varchar](255) NULL,
	[Diplomas_Now_School] [varchar](255) NULL,
	[SCHOOL_NAME] [varchar](255) NULL,
	[INDICATOR_DESC] [varchar](255) NULL,
	[SKILL_DESCRIPTION] [varchar](255) NULL,
	[PRE_DATE] [date] NULL,
	[PRE_INTERVAL] [varchar](255) NULL,
	[PRE_VALUE] [varchar](255) NULL,
	[PRE_SCALE_LOCAL] [varchar](255) NULL,
	[PRE_SCALE_NORM] [varchar](255) NULL,
	[PRE_SCALE_RANK_LOCAL] [varchar](255) NULL,
	[PRE_SCALE_RANK_NORM] [varchar](255) NULL,
	[MY_DATE] [date] NULL,
	[MY_INTERVAL] [varchar](255) NULL,
	[MY_VALUE] [varchar](255) NULL,
	[MY_SCALE_LOCAL] [varchar](255) NULL,
	[MY_SCALE_NORM] [varchar](255) NULL,
	[MY_SCALE_RANK_LOCAL] [varchar](255) NULL,
	[MY_SCALE_RANK_NORM] [varchar](255) NULL,
	[POST_DATE] [date] NULL,
	[INTERVAL] [varchar](255) NULL,
	[POST_VALUE] [varchar](255) NULL,
	[POST_SCALE_LOCAL] [varchar](255) NULL,
	[POST_SCALE_NORM] [varchar](255) NULL,
	[POST_SCALE_RANK_LOCAL] [varchar](255) NULL,
	[POST_SCALE_RANK_NORM] [varchar](255) NULL,
	[MY_RAWCHANGE] [float] NULL,
	[MY_RAWCHANGE_DEGREE] [varchar](255) NULL,
	[RAWCHANGE] [float] NULL,
	[RAWCHANGE_DEGREE] [varchar](255) NULL,
	[MY_SCALE_CHANGE_LOCAL] [varchar](255) NULL,
	[MY_SCALE_CHANGE_LOCAL_TEXT] [varchar](255) NULL,
	[SCALE_CHANGE_LOCAL] [varchar](255) NULL,
	[SCALE_CHANGE_LOCAL_TEXT] [varchar](255) NULL,
	[MY_SCALE_CHANGE_NORM] [varchar](255) NULL,
	[MY_SCALE_CHANGE_NORM_TEXT] [varchar](255) NULL,
	[SCALE_CHANGE_NORM] [varchar](255) NULL,
	[SCALE_CHANGE_NORM_TEXT] [varchar](255) NULL,
	[MY_INC_1_PERC] [varchar](255) NULL,
	[INC_1_PERC] [varchar](255) NULL,
	[MY_INC_2_PERC] [varchar](255) NULL,
	[INC_2_PERC] [varchar](255) NULL,
	[STARTOFFSLIDING] [varchar](255) NULL,
	[MY_SOS_MoveOn] [varchar](255) NULL,
	[SOS_MoveOn] [varchar](255) NULL,
	[START_LTE99] [varchar](255) NULL,
	[MY_SHOW_1PERC_INC] [varchar](255) NULL,
	[SHOW_1PERC_INC] [varchar](255) NULL,
	[START_LTE98] [varchar](255) NULL,
	[MY_SHOW_2PERC_INC] [varchar](255) NULL,
	[SHOW_2PERC_INC] [varchar](255) NULL,
	[Attendance_IA] [varchar](255) NULL,
	[ELA_IA] [varchar](255) NULL,
	[Math_IA] [varchar](255) NULL,
	[Behavior_IA] [varchar](255) NULL,
	[CURRENTLY_ENROLLED] [varchar](255) NULL,
	[ENROLLED_DAYS] [varchar](255) NULL,
	[MET_56_DAYS] [varchar](255) NULL,
	[GRADE_GROUP] [varchar](255) NULL,
	[FISCAL_YEAR] [varchar](255) NULL,
	[GRANTSITENUM] [varchar](255) NULL,
	[GRANTCATEGORY] [varchar](255) NULL,
	[SOY_REPORT] [varchar](50) NULL,
	[MY_REPORT] [varchar](50) NULL,
	[EOY_REPORT] [varchar](50) NULL,
	[STARTONSTAYON] [varchar](50) NULL,
	[SCALE_CHANGE_NORM_DEGREE] [varchar](20) NULL,
	[SCALE_CHANGE_LOCAL_DEGREE] [varchar](20) NULL,
	[RUN_DATE] [datetime] NULL,
	[tagrank] [int] NULL,
	[ATT_anyRawDP] [int] NOT NULL,
	[ATT_2RawDP] [int] NOT NULL,
	[ATT_2PerfLvlDP_Local] [int] NOT NULL,
	[ATT_2PerfLvlDP_Norm] [int] NOT NULL,
	[ATT_StartLTE99ADA] [varchar](255) NULL,
	[ATT_StartLTE98ADA] [varchar](255) NULL,
	[ATT_StartLT90ADA] [varchar](255) NULL,
	[ATT_SOSMoveOn] [varchar](255) NULL,
	[ATT_1PercInc] [varchar](255) NULL,
	[ATT_2PERCINC] [varchar](255) NULL,
	[ATT_StartOnStayOn] [varchar](50) NULL,
	[IOG_CRITERIA] [int] NOT NULL,
	[DN_CRITERIA] [int] NOT NULL,
	[IOG_ATT_ANYRAWDP] [int] NULL,
	[IOG_ATT_2RAWDP] [int] NULL,
	[IOG_ATT69_anyRawDP] [int] NULL,
	[IOG_ATT69_2RawDP] [int] NULL,
	[IOG_ATT69_2PerfLvlDP_Local] [int] NULL,
	[IOG_ATT69_2PerfLvlDP_Norm] [int] NULL,
	[IOG_ATT69_StartLTE99ADA] [varchar](255) NULL,
	[IOG_ATT69_StartLTE98ADA] [varchar](255) NULL,
	[IOG_ATT69_StartLT90ADA] [varchar](255) NULL,
	[IOG_ATT69_SOSMoveOn] [varchar](255) NULL,
	[IOG_ATT69_1PercInc] [varchar](255) NULL,
	[IOG_ATT69_2PercInc] [varchar](255) NULL,
	[IOG_ATT69_StartOnStayOn] [varchar](50) NULL,
	[DN_ATT69_anyRawDP] [int] NULL,
	[DN_ATT69_2RawDP] [int] NULL,
	[DN_ATT69_2PerfLvlDP_Local] [int] NULL,
	[DN_ATT69_2PerfLvlDP_Norm] [int] NULL,
	[DN_ATT69_StartLTE99ADA] [varchar](255) NULL,
	[DN_ATT69_StartLTE98ADA] [varchar](255) NULL,
	[DN_ATT69_StartLT90ADA] [varchar](255) NULL,
	[DN_ATT69_SOSMoveOn] [varchar](255) NULL,
	[DN_ATT69_1PercInc] [varchar](255) NULL,
	[DN_ATT69_2PercInc] [varchar](255) NULL,
	[DN_ATT69_StartOnStayOn] [varchar](50) NULL
) ON [PRIMARY]

GO
