USE [EVAL_Labs]
GO
/****** Object:  StoredProcedure [dbo].[sp_DESSA_mini]    Script Date: 12/19/2016 4:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_DESSA_mini] 
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
DROP TABLE [eval_labs].[dbo].[DESSA_mini]
SELECT *,
	CASE WHEN GRANTSITENUM IN (17, 2, 1, 26, 18, 3, 4, 19, 21, 5, 24, 7, 9, 10, 30, 31, 32, 33, 14, 15, 16, 38) AND DESSA_4PTIMP=1 THEN 1 ELSE NULL END AS AC_MET_IMP,
	CASE WHEN IOG_CRITERIA=1 AND Grade_ID_Numeric between 3 and 5 THEN DESSA_ANYRAWDP END AS IOG_DESSA35_anyRawDP,
	CASE WHEN IOG_CRITERIA=1 AND Grade_ID_Numeric between 3 and 5 THEN DESSA_2RAWDP END AS IOG_DESSA35_2RAWDP,
	CASE WHEN IOG_CRITERIA=1 AND Grade_ID_Numeric between 3 and 5 THEN DESSA_4PTIMP END AS IOG_DESSA35_4PTIMP,
	CASE WHEN IOG_CRITERIA=1 AND Grade_ID_Numeric between 3 and 5 THEN DESSA_ANYRAWIMP END AS IOG_DESSA35_ANYRAWIMP,
	CASE WHEN IOG_CRITERIA=1 AND Grade_ID_Numeric between 3 and 5 THEN DESSA_START_NEED END AS IOG_DESSA35_START_NEED,
	CASE WHEN IOG_CRITERIA=1 AND Grade_ID_Numeric between 3 and 5 THEN DESSA_STARTN_ENDTS END AS IOG_DESSA35_STARTN_ENDTS,
	CASE WHEN IOG_CRITERIA=1 AND Grade_ID_Numeric between 3 and 5 THEN DESSA_STARTTS_ENDTS END AS IOG_DESSA35_STARTTS_ENDTS,
	CASE WHEN IOG_CRITERIA=1 AND Grade_ID_Numeric between 6 and 9 THEN DESSA_ANYRAWDP END AS IOG_DESSA69_anyRawDP,
	CASE WHEN IOG_CRITERIA=1 AND Grade_ID_Numeric between 6 and 9 THEN DESSA_2RAWDP END AS IOG_DESSA69_2RAWDP,
	CASE WHEN IOG_CRITERIA=1 AND Grade_ID_Numeric between 6 and 9 THEN DESSA_4PTIMP END AS IOG_DESSA69_4PTIMP,
	CASE WHEN IOG_CRITERIA=1 AND Grade_ID_Numeric between 6 and 9 THEN DESSA_ANYRAWIMP END AS IOG_DESSA69_ANYRAWIMP,
	CASE WHEN IOG_CRITERIA=1 AND Grade_ID_Numeric between 6 and 9 THEN DESSA_START_NEED END AS IOG_DESSA69_START_NEED,
	CASE WHEN IOG_CRITERIA=1 AND Grade_ID_Numeric between 6 and 9 THEN DESSA_STARTN_ENDTS END AS IOG_DESSA69_STARTN_ENDTS,
	CASE WHEN IOG_CRITERIA=1 AND Grade_ID_Numeric between 6 and 9 THEN DESSA_STARTTS_ENDTS END AS IOG_DESSA69_STARTTS_ENDTS,
	CASE WHEN IOG_CRITERIA=1 AND Grade_ID_Numeric between 3 and 9 THEN DESSA_ANYRAWDP END AS IOG_DESSA39_anyRawDP,
	CASE WHEN IOG_CRITERIA=1 AND Grade_ID_Numeric between 3 and 9 THEN DESSA_2RAWDP END AS IOG_DESSA39_2RAWDP,
	CASE WHEN IOG_CRITERIA=1 AND Grade_ID_Numeric between 3 and 9 THEN DESSA_4PTIMP END AS IOG_DESSA39_4PTIMP,
	CASE WHEN IOG_CRITERIA=1 AND Grade_ID_Numeric between 3 and 9 THEN DESSA_ANYRAWIMP END AS IOG_DESSA39_ANYRAWIMP,
	CASE WHEN IOG_CRITERIA=1 AND Grade_ID_Numeric between 3 and 9 THEN DESSA_START_NEED END AS IOG_DESSA39_START_NEED,
	CASE WHEN IOG_CRITERIA=1 AND Grade_ID_Numeric between 3 and 9 THEN DESSA_STARTN_ENDTS END AS IOG_DESSA39_STARTN_ENDTS,
	CASE WHEN IOG_CRITERIA=1 AND Grade_ID_Numeric between 3 and 9 THEN DESSA_STARTTS_ENDTS END AS IOG_DESSA39_STARTTS_ENDTS,
	CASE WHEN DN_CRITERIA=1 AND Grade_ID_Numeric between 6 and 9 THEN DESSA_ANYRAWDP END AS DN_DESSA69_anyRawDP,
	CASE WHEN DN_CRITERIA=1 AND Grade_ID_Numeric between 6 and 9 THEN DESSA_2RAWDP END AS DN_DESSA69_2RAWDP,
	CASE WHEN DN_CRITERIA=1 AND Grade_ID_Numeric between 6 and 9 THEN DESSA_4PTIMP END AS DN_DESSA69_4PTIMP,
	CASE WHEN DN_CRITERIA=1 AND Grade_ID_Numeric between 6 and 9 THEN DESSA_ANYRAWIMP END AS DN_DESSA69_ANYRAWIMP,
	CASE WHEN DN_CRITERIA=1 AND Grade_ID_Numeric between 6 and 9 THEN DESSA_START_NEED END AS DN_DESSA69_START_NEED,
	CASE WHEN DN_CRITERIA=1 AND Grade_ID_Numeric between 6 and 9 THEN DESSA_STARTN_ENDTS END AS DN_DESSA69_STARTN_ENDTS,
	CASE WHEN DN_CRITERIA=1 AND Grade_ID_Numeric between 6 and 9 THEN DESSA_STARTTS_ENDTS END AS DN_DESSA69_STARTTS_ENDTS
into [eval_labs].[dbo].[DESSA_mini]
FROM
(SELECT *, case when grade = 'K' then 0 else grade end as grade_id_numeric,
	CASE WHEN PRE_VALUE IS NOT NULL THEN 1 ELSE 0 END AS DESSA_ANYRAWDP,
	CASE WHEN PRE_VALUE IS NOT NULL AND POST_VALUE IS NOT NULL AND DAYS_BETWEEN_ASSESSMENTS>=28 THEN 1 ELSE 0 END AS DESSA_2RAWDP,
	CASE WHEN convert(float,RAWCHANGE)>=4 AND DAYS_BETWEEN_ASSESSMENTS>=28 THEN 1 
		 when convert(float,rawchange)<4 and days_between_assessments>=28 then 0 else null END AS DESSA_4PTIMP,
	CASE WHEN convert(float,RAWCHANGE)>0 AND DAYS_BETWEEN_ASSESSMENTS>=28 THEN 1 
		 when convert(float,rawchange)<=0 and days_between_assessments>=28 then 0 ELSE NULL END AS DESSA_ANYRAWIMP,
	CASE WHEN DAYS_BETWEEN_ASSESSMENTS>=28 AND PRE_VALUE_DESC IN ('N') THEN 1 WHEN  DAYS_BETWEEN_ASSESSMENTS>=28 AND PRE_VALUE_DESC IN ('T', 'S') THEN 0
	ELSE NULL END AS DESSA_START_NEED,
	CASE WHEN DAYS_BETWEEN_ASSESSMENTS>=28 AND PRE_VALUE_DESC IN ('N') AND POST_VALUE_DESC IN ('T', 'S') THEN 1 
		WHEN DAYS_BETWEEN_ASSESSMENTS>=28 AND PRE_VALUE_DESC IN ('N') AND POST_VALUE_DESC IN ('N') THEN 0 ELSE NULL END AS DESSA_STARTN_ENDTS,
	CASE WHEN DAYS_BETWEEN_ASSESSMENTS>=28 AND PRE_VALUE_DESC IN ('T', 'S') AND POST_VALUE_DESC IN ('T','S') THEN 1
	WHEN DAYS_BETWEEN_ASSESSMENTS>=28 AND PRE_VALUE_DESC IN ('T', 'S') AND POST_VALUE_DESC IN ('N') THEN 0 ELSE NULL END AS DESSA_STARTTS_ENDTS,
	CASE WHEN DIPLOMAS_NOW_SCHOOL=0 AND ENROLLED_DAYS>=56 AND behavior_IA=1 THEN 1 ELSE 0 END AS IOG_CRITERIA,
	CASE WHEN DIPLOMAS_NOW_SCHOOL=1 AND ENROLLED_DAYS>=56 AND behavior_ia=1 THEN 1 ELSE 0 END AS DN_CRITERIA
FROM [ReportCYData_prod].[dbo].[EVAL_DESSA_MINI]) A
END

GO
