USE [EVAL_Labs]
GO
/****** Object:  Table [dbo].['FY16 SOY & MY ACM Survey Data4$']    Script Date: 12/19/2016 4:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].['FY16 SOY & MY ACM Survey Data4$'](
	[empID] [float] NULL,
	[MYQ20_1] [float] NULL,
	[MYQ20_2] [float] NULL,
	[MYQ20_3] [float] NULL,
	[MYQ20_4] [float] NULL,
	[MYQ20_5] [float] NULL,
	[MYQ20_6] [float] NULL,
	[MYQ20_7] [float] NULL,
	[MYQ20_8] [float] NULL,
	[MYQ20_9] [float] NULL,
	[MYQ20_10] [float] NULL,
	[MYQ20_11] [float] NULL,
	[MYQ21s] [nvarchar](max) NULL,
	[MYQ22s] [nvarchar](max) NULL,
	[MYQ23_1] [float] NULL,
	[MYQ23_2] [float] NULL,
	[MYQ23_3] [float] NULL,
	[MYQ23_4] [float] NULL,
	[MYQ23_5] [float] NULL,
	[MYQ23_6] [float] NULL,
	[MYQ23_6s] [nvarchar](255) NULL,
	[MYQ24_1] [float] NULL,
	[MYQ24_2] [float] NULL,
	[MYQ24_3] [float] NULL,
	[MYQ24_4] [float] NULL,
	[MYQ24_5] [float] NULL,
	[MYQ24_6] [float] NULL,
	[MYQ24_7] [float] NULL,
	[MYQ24_8] [float] NULL,
	[MYQ24_9] [float] NULL,
	[MYQ25s] [nvarchar](max) NULL,
	[MYQ26s] [nvarchar](255) NULL,
	[MYQ27] [float] NULL,
	[MYQ28_1] [float] NULL,
	[MYQ28_2] [float] NULL,
	[MYQ28_3] [float] NULL,
	[MYQ29_1] [float] NULL,
	[MYQ29_2] [float] NULL,
	[MYQ30] [float] NULL,
	[MYQ31s] [nvarchar](max) NULL,
	[MYQ32_1] [float] NULL,
	[MYQ32_2] [float] NULL,
	[MYQ32_3] [float] NULL,
	[MYQ32_4] [float] NULL,
	[MYQ32_5] [float] NULL,
	[MYQ32_6] [float] NULL,
	[MYQ32_6s] [nvarchar](255) NULL,
	[MYQ33] [float] NULL,
	[MYQ34] [float] NULL,
	[MYQ35] [float] NULL,
	[MYQ36_1] [nvarchar](255) NULL,
	[MYQ36_2] [nvarchar](255) NULL,
	[MYQ36_3] [float] NULL,
	[MYQ37s] [nvarchar](255) NULL,
	[MYQ38_1] [float] NULL,
	[MYQ38_2] [float] NULL,
	[MYQ38_3] [float] NULL,
	[MYQ38_4] [float] NULL,
	[MYQ38_5] [float] NULL,
	[MYQ38_6] [float] NULL,
	[MYQ38_7] [float] NULL,
	[MYQ38_8] [float] NULL,
	[MYQ38_9] [float] NULL,
	[MYQ39] [float] NULL,
	[MYQ40_1] [float] NULL,
	[MYQ40_2] [float] NULL,
	[MYQ40_3] [float] NULL,
	[MYQ40_4] [float] NULL,
	[MYQ41_1] [float] NULL,
	[MYQ41_2] [float] NULL,
	[MYQ41_3] [float] NULL,
	[MYQ41_4] [float] NULL,
	[MYQ42] [float] NULL,
	[MYQ43] [nvarchar](255) NULL,
	[MYQ44_1] [float] NULL,
	[MYQ44_2] [float] NULL,
	[MYQ44_3] [float] NULL,
	[MYQ44_4] [float] NULL,
	[MYQ44_5] [float] NULL,
	[MYQ44_6] [float] NULL,
	[MYQ44_7] [float] NULL,
	[MYQ44_8] [float] NULL,
	[MYQ44_9] [float] NULL,
	[MYQ44_10] [float] NULL,
	[MYQ44_11] [float] NULL,
	[MYQ45] [float] NULL,
	[MYQ45s] [nvarchar](255) NULL,
	[MYQ46_1] [float] NULL,
	[MYQ46_2] [float] NULL,
	[MYQ46_3] [float] NULL,
	[MYQ46_4] [float] NULL,
	[MYQ46_5] [float] NULL,
	[MYQ46_6] [float] NULL,
	[MYQ46_7] [float] NULL,
	[MYQ46_8] [float] NULL,
	[MYQ46_9] [float] NULL,
	[MYQ46_10] [float] NULL,
	[MYQ46_11] [float] NULL,
	[MYQ46_12] [float] NULL,
	[MYQ46_13] [float] NULL,
	[MYQ46_14] [float] NULL,
	[MYQ46_15] [float] NULL,
	[MYQ47_1] [nvarchar](255) NULL,
	[MYQ47_2] [float] NULL,
	[MYQ47_3] [float] NULL,
	[MYQ47_4] [nvarchar](255) NULL,
	[MYQ47_5] [nvarchar](255) NULL,
	[MYQ47_6] [float] NULL,
	[MYQ47_7] [float] NULL,
	[MYQ47_1b] [float] NULL,
	[MYQ47_2b] [float] NULL,
	[MYQ47_3b] [float] NULL,
	[MYQ47_4b] [float] NULL,
	[MYQ47_5b] [float] NULL,
	[MYQ47_6b] [float] NULL,
	[MYQ47_7b] [float] NULL,
	[MYQ48] [float] NULL,
	[MYQ48s] [nvarchar](255) NULL,
	[MYQ49s] [nvarchar](255) NULL,
	[MYQ50] [float] NULL,
	[MYQ50s] [nvarchar](255) NULL,
	[MYQ51_1] [nvarchar](255) NULL,
	[MYQ51_2] [nvarchar](255) NULL,
	[MYQ51_3] [nvarchar](255) NULL,
	[MYQ51_4] [nvarchar](255) NULL,
	[MYQ51_5] [nvarchar](255) NULL,
	[MYQ51_6] [nvarchar](255) NULL,
	[MYQ51_7] [nvarchar](255) NULL,
	[MYQ51_1b] [float] NULL,
	[MYQ51_2b] [float] NULL,
	[MYQ51_3b] [float] NULL,
	[MYQ51_4b] [float] NULL,
	[MYQ51_5b] [float] NULL,
	[MYQ51_6b] [float] NULL,
	[MYQ51_7b] [float] NULL,
	[MYQ52] [nvarchar](255) NULL,
	[MYQ52s] [nvarchar](255) NULL,
	[MYQ53s] [nvarchar](255) NULL,
	[MYQ54] [nvarchar](255) NULL,
	[MYQ54s] [nvarchar](255) NULL,
	[MYQ55_1] [float] NULL,
	[MYQ55_2] [float] NULL,
	[MYQ55_3] [float] NULL,
	[MYQ55_4] [float] NULL,
	[MYQ55_5] [float] NULL,
	[MYQ55_6] [float] NULL,
	[MYQ56_1] [float] NULL,
	[MYQ56_2] [float] NULL,
	[MYQ56_3] [float] NULL,
	[MYQ56_4] [float] NULL,
	[MYQ56_5] [float] NULL,
	[MYQ56_6] [float] NULL,
	[MYQ57_1] [float] NULL,
	[MYQ57_2] [float] NULL,
	[MYQ57_3] [float] NULL,
	[MYQ57_4] [float] NULL,
	[MYQ57_5] [float] NULL,
	[MYQ57_6] [float] NULL,
	[MYQ57_7] [float] NULL,
	[MYQ57_8] [float] NULL,
	[MYQ58] [float] NULL,
	[MYQ59] [nvarchar](255) NULL,
	[MYQ60s] [nvarchar](255) NULL,
	[BRQ61] [nvarchar](255) NULL,
	[BRQ62s] [nvarchar](255) NULL,
	[BRQ63] [nvarchar](255) NULL,
	[BRQ64] [nvarchar](255) NULL,
	[BRQ65s] [nvarchar](255) NULL,
	[BOSQ66_1] [nvarchar](255) NULL,
	[BOSQ66_2] [nvarchar](255) NULL,
	[BOSQ66_3] [nvarchar](255) NULL,
	[BOSQ66_4] [nvarchar](255) NULL,
	[BOSQ66_5] [nvarchar](255) NULL,
	[CLEQ67_1] [float] NULL,
	[CLEQ67_2] [float] NULL,
	[CLEQ67_3] [float] NULL,
	[CLEQ67_4] [float] NULL,
	[CLEQ67_5] [float] NULL,
	[CLEQ67_6] [float] NULL,
	[CLEQ67_7] [float] NULL,
	[CLEQ67_8] [float] NULL,
	[CLEQ67_9] [float] NULL,
	[CLEQ67_10] [float] NULL,
	[CLEQ67_10s] [nvarchar](255) NULL,
	[CLEQ68_1] [nvarchar](255) NULL,
	[CLEQ68_2] [nvarchar](255) NULL,
	[CLEQ68_3] [nvarchar](255) NULL,
	[CLEQ69] [nvarchar](255) NULL,
	[CLEQ70s] [nvarchar](255) NULL,
	[CLEQ71s] [nvarchar](255) NULL,
	[CLEQ72] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
