USE [EVAL_Labs]
GO
/****** Object:  Table [dbo].[SAYO_for_AC]    Script Date: 12/19/2016 4:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAYO_for_AC](
	[NewCYID_Pre] [nvarchar](255) NULL,
	[ResponseID_Pre] [float] NULL,
	[ResponseID_Post] [float] NULL,
	[DateSubmitted_Pre] [datetime] NULL,
	[DateSubmitted_Post] [datetime] NULL,
	[NewSite_Pre] [nvarchar](255) NULL,
	[NewSchool_Pre] [nvarchar](255) NULL,
	[NewGrade_Pre] [float] NULL,
	[Survey_Language_Pre] [float] NULL,
	[PE_1_Friendly_ALL_Pre] [float] NULL,
	[PE_1_Teasing_ALL_Pre] [float] NULL,
	[PE_1_Respect_ALL_Pre] [float] NULL,
	[PE_2_Friends_ALL_Pre] [float] NULL,
	[PE_2_Upset_ALL_Pre] [float] NULL,
	[PE_2_Listen_ALL_Pre] [float] NULL,
	[PE_3_LikeComing_ALL_Pre] [float] NULL,
	[PE_3_Fun_ALL_Pre] [float] NULL,
	[PE_3_Bored_ALL_Pre] [float] NULL,
	[PE_3_ThingsToDo_ALL_Pre] [float] NULL,
	[PE_4_LearnNew_ALL_Pre] [float] NULL,
	[PE_4_Challenged_ALL_Pre] [float] NULL,
	[PE_4_NeverBefore_ALL_Pre] [float] NULL,
	[PE_5_InterestedAdult_ALL_Pre] [float] NULL,
	[PE_5_AdultUpset_ALL_Pre] [float] NULL,
	[PE_5_AdultHelp_ALL_Pre] [float] NULL,
	[PE_5_AdultListen_ALL_Pre] [float] NULL,
	[PE_6_Teacher_ALL_Pre] [float] NULL,
	[PE_6_Principal_ALL_Pre] [datetime] NULL,
	[PE_6_CityYear_ALL_Pre] [float] NULL,
	[PE_6_Counselor_ALL_Pre] [float] NULL,
	[PE_6_Coach_ALL_Pre] [float] NULL,
	[PE_6_Other_ALL_Pre] [float] NULL,
	[PE_6_Other_TEXT_ALL_Pre] [nvarchar](255) NULL,
	[SC_7_TryNew_ALL_Pre] [float] NULL,
	[SC_7_GoodInSchool_ALL_Pre] [float] NULL,
	[SC_7_ProblemSolving_ALL_Pre] [float] NULL,
	[SC_7_GoodLearning_ALL_Pre] [float] NULL,
	[SC_7_TryUntilGetIt_ALL_Pre] [float] NULL,
	[SC_8_EasyGetAlong_ALL_Pre] [float] NULL,
	[SC_8_LikedNew_ALL_Pre] [float] NULL,
	[SC_8_GetAlongOthers_ALL_Pre] [float] NULL,
	[SC_8_EasyJoin_ALL_Pre] [float] NULL,
	[FPE_9_Older_ALL_Pre] [float] NULL,
	[FPE_9_College_ALL_Pre] [float] NULL,
	[FPE_9_Interests_ALL_Pre] [float] NULL,
	[FPE_9_LifeGoals_ALL_Pre] [float] NULL,
	[FPE_10_Parent_ALL_Pre] [float] NULL,
	[FPE_10_Teacher_ALL_Pre] [float] NULL,
	[FPE_10_Counselor_ALL_Pre] [float] NULL,
	[FPE_10_CityYear_ALL_Pre] [float] NULL,
	[FPE_11_HighSchool_ALL_Pre] [float] NULL,
	[FPE_11_Graduate_ALL_Pre] [float] NULL,
	[FPE_11_College_ALL_Pre] [float] NULL,
	[FPE_12_TryHard_ALL_Pre] [float] NULL,
	[FPE_12_TellMyself_ALL_Pre] [float] NULL,
	[FPE_12_GetHelp_ALL_Pre] [float] NULL,
	[FPE_12_SetGoals_ALL_Pre] [float] NULL,
	[PE_1_Friendly_ALL_Post] [float] NULL,
	[PE_1_Teasing_ALL_Post] [float] NULL,
	[PE_1_Respect_ALL_Post] [float] NULL,
	[PE_2_Friends_ALL_Post] [float] NULL,
	[PE_2_Upset_ALL_Post] [float] NULL,
	[PE_2_Listen_ALL_Post] [float] NULL,
	[PE_3_LikeComing_ALL_Post] [float] NULL,
	[PE_3_Fun_ALL_Post] [float] NULL,
	[PE_3_Bored_ALL_Post] [float] NULL,
	[PE_3_ThingsToDo_ALL_Post] [float] NULL,
	[PE_4_LearnNew_ALL_Post] [float] NULL,
	[PE_4_Challenged_ALL_Post] [float] NULL,
	[PE_4_NeverBefore_ALL_Post] [float] NULL,
	[PE_5_InterestedAdult_ALL_Post] [float] NULL,
	[PE_5_AdultUpset_ALL_Post] [float] NULL,
	[PE_5_AdultHelp_ALL_Post] [float] NULL,
	[PE_5_AdultListen_ALL_Post] [float] NULL,
	[PE_6_Teacher_ALL_Post] [float] NULL,
	[PE_6_Principal_ALL_Post] [float] NULL,
	[PE_6_CityYear_ALL_Post] [float] NULL,
	[PE_6_Counselor_ALL_Post] [float] NULL,
	[PE_6_Coach_ALL_Post] [float] NULL,
	[PE_6_Other_ALL_Post] [float] NULL,
	[PE_6_Other_TEXT_ALL_Post] [nvarchar](255) NULL,
	[SC_7_TryNew_ALL_Post] [float] NULL,
	[SC_7_GoodInSchool_ALL_Post] [float] NULL,
	[SC_7_ProblemSolving_ALL_Post] [float] NULL,
	[SC_7_GoodLearning_ALL_Post] [float] NULL,
	[SC_7_TryUntilGetIt_ALL_Post] [float] NULL,
	[SC_8_EasyGetAlong_ALL_Post] [float] NULL,
	[SC_8_LikedNew_ALL_Post] [float] NULL,
	[SC_8_GetAlongOthers_ALL_Post] [float] NULL,
	[SC_8_EasyJoin_ALL_Post] [float] NULL,
	[FPE_9_Older_ALL_Post] [float] NULL,
	[FPE_9_College_ALL_Post] [float] NULL,
	[FPE_9_Interests_ALL_Post] [float] NULL,
	[FPE_9_LifeGoals_ALL_Post] [float] NULL,
	[FPE_10_Parent_ALL_Post] [float] NULL,
	[FPE_10_Teacher_ALL_Post] [float] NULL,
	[FPE_10_Counselor_ALL_Post] [float] NULL,
	[FPE_10_CityYear_ALL_Post] [float] NULL,
	[FPE_11_HighSchool_ALL_Post] [float] NULL,
	[FPE_11_Graduate_ALL_Post] [float] NULL,
	[FPE_11_College_ALL_Post] [float] NULL,
	[FPE_12_TryHard_ALL_Post] [float] NULL,
	[FPE_12_TellMyself_ALL_Post] [float] NULL,
	[FPE_12_GetHelp_ALL_Post] [float] NULL,
	[FPE_12_SetGoals_ALL_Post] [float] NULL,
	[PE_1_Teasing_ALL_Pre_RC] [float] NULL,
	[PE_3_Bored_ALL_Pre_RC] [float] NULL,
	[PE_1_Teasing_ALL_Post_RC] [float] NULL,
	[PE_3_Bored_ALL_Post_RC] [float] NULL,
	[PE_1_ALL_Pre] [float] NULL,
	[PE_2_ALL_Pre] [float] NULL,
	[PE_3_ALL_Pre] [float] NULL,
	[PE_4_ALL_Pre] [float] NULL,
	[PE_5_ALL_Pre] [float] NULL,
	[SC_7_ALL_Pre] [float] NULL,
	[SC_8_ALL_Pre] [float] NULL,
	[FPE_9_ALL_Pre] [float] NULL,
	[FPE_11_ALL_Pre] [float] NULL,
	[FPE_12_ALL_Pre] [float] NULL,
	[PE_1_ALL_Post] [float] NULL,
	[PE_2_ALL_Post] [float] NULL,
	[PE_3_ALL_Post] [float] NULL,
	[PE_4_ALL_Post] [float] NULL,
	[PE_5_ALL_Post] [float] NULL,
	[SC_7_ALL_Post] [float] NULL,
	[SC_8_ALL_Post] [float] NULL,
	[FPE_9_ALL_Post] [float] NULL,
	[FPE_11_ALL_Post] [float] NULL,
	[FPE_12_ALL_Post] [float] NULL,
	[PE_1_ALL_Pre_Category] [float] NULL,
	[PE_2_ALL_Pre_Category] [float] NULL,
	[PE_3_ALL_Pre_Category] [float] NULL,
	[PE_4_ALL_Pre_Category] [float] NULL,
	[PE_5_ALL_Pre_Category] [float] NULL,
	[SC_7_ALL_Pre_Category] [float] NULL,
	[SC_8_ALL_Pre_Category] [float] NULL,
	[FPE_9_ALL_Pre_Category] [float] NULL,
	[FPE_11_ALL_Pre_Category] [float] NULL,
	[FPE_12_ALL_Pre_Category] [float] NULL,
	[PE_1_ALL_Post_Category] [float] NULL,
	[PE_2_ALL_Post_Category] [float] NULL,
	[PE_3_ALL_Post_Category] [float] NULL,
	[PE_4_ALL_Post_Category] [float] NULL,
	[PE_5_ALL_Post_Category] [float] NULL,
	[SC_7_ALL_Post_Category] [float] NULL,
	[SC_8_ALL_Post_Category] [float] NULL,
	[FPE_9_ALL_Post_Category] [float] NULL,
	[FPE_11_ALL_Post_Category] [float] NULL,
	[FPE_12_ALL_Post_Category] [float] NULL,
	[SAYOY_AC_MET_IMP] [float] NULL,
	[SAYOY_AC_Start_Below] [float] NULL
) ON [PRIMARY]

GO
