USE [EVAL_Labs]
GO
/****** Object:  Table [dbo].[SMI_Targets]    Script Date: 12/19/2016 4:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMI_Targets](
	[F1] [float] NULL,
	[Below Basic] [float] NULL,
	[Basic] [float] NULL,
	[Proficient] [float] NULL,
	[Advanced] [float] NULL
) ON [PRIMARY]

GO
