USE [EVAL_Labs]
GO
/****** Object:  Table [dbo].['FY16 SOY & MY ACM Survey Data3$']    Script Date: 12/19/2016 4:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].['FY16 SOY & MY ACM Survey Data3$'](
	[empID] [float] NULL,
	[SOYQ89] [nvarchar](255) NULL,
	[SOYQ89S] [nvarchar](255) NULL,
	[SOYQ90_1] [nvarchar](255) NULL,
	[SOYQ90_2] [nvarchar](255) NULL,
	[SOYQ90_3] [nvarchar](255) NULL,
	[SOYQ90_4] [nvarchar](255) NULL,
	[SOYQ90_5] [nvarchar](255) NULL,
	[SOYQ91] [nvarchar](255) NULL,
	[SOYQ92_1] [nvarchar](255) NULL,
	[SOYQ92_2] [nvarchar](255) NULL,
	[SOYQ92_3] [nvarchar](255) NULL,
	[SOYQ92_4] [nvarchar](255) NULL,
	[SOYQ93] [nvarchar](255) NULL,
	[SOYQ94] [nvarchar](255) NULL,
	[SOYQ95] [nvarchar](255) NULL,
	[SOYQ96] [nvarchar](255) NULL,
	[SOYQ97] [nvarchar](255) NULL,
	[SOYQ98] [float] NULL,
	[SOYQ99] [nvarchar](max) NULL,
	[SOYcyrACMGender] [nvarchar](255) NULL,
	[SOYcyrACMAge] [float] NULL,
	[SOYNetPromoter] [float] NULL,
	[SOYGRIT1] [float] NULL,
	[SOYGRIT2] [float] NULL,
	[SOYGRIT3] [float] NULL,
	[SOYGRIT4] [float] NULL,
	[SOYGRIT5] [float] NULL,
	[SOYGRIT6] [float] NULL,
	[SOYGRIT7] [float] NULL,
	[SOYGRIT8] [float] NULL,
	[SOYGRITSCORE] [float] NULL,
	[SOYTeachInterest] [float] NULL,
	[SOYRespondent] [float] NULL,
	[MYrespondent] [float] NULL,
	[ACMemail] [nvarchar](255) NULL,
	[ACMfname] [nvarchar](255) NULL,
	[ACMlname] [nvarchar](255) NULL,
	[Team] [nvarchar](255) NULL,
	[ACMrole] [nvarchar](255) NULL,
	[Site] [nvarchar](255) NULL,
	[ImpactManager] [nvarchar](255) NULL,
	[HireDate] [nvarchar](255) NULL,
	[TeamID] [nvarchar](255) NULL,
	[Gender] [nvarchar](255) NULL,
	[Race] [nvarchar](255) NULL,
	[Hispanic] [nvarchar](255) NULL,
	[Age] [float] NULL,
	[MYVrid] [nvarchar](255) NULL,
	[MYVdatesub] [datetime] NULL,
	[MYVstatus] [nvarchar](255) NULL,
	[MYVcid] [nvarchar](255) NULL,
	[MYVcomment] [nvarchar](255) NULL,
	[MYVlanguage] [nvarchar](255) NULL,
	[MYVreferer] [nvarchar](255) NULL,
	[MYVsessionid] [nvarchar](255) NULL,
	[MYVuseragent] [nvarchar](255) NULL,
	[MYVip] [nvarchar](255) NULL,
	[MYVlong] [nvarchar](255) NULL,
	[MYVlat] [nvarchar](255) NULL,
	[MYVGeoCountry] [nvarchar](255) NULL,
	[MYVGeoCity] [nvarchar](255) NULL,
	[MYVGeoRegion] [nvarchar](255) NULL,
	[MYVpostal] [nvarchar](255) NULL,
	[MYQ1] [float] NULL,
	[MYQ2] [float] NULL,
	[MYQ3] [float] NULL,
	[MYQ4] [float] NULL,
	[MYQ4s] [nvarchar](255) NULL,
	[MYQ6] [float] NULL,
	[MYQ7_1] [float] NULL,
	[MYQ7_2] [float] NULL,
	[MYQ7_3] [float] NULL,
	[MYQ7_4] [float] NULL,
	[MYQ7_5] [float] NULL,
	[MYQ7_6] [float] NULL,
	[MYQ8s] [nvarchar](max) NULL,
	[MYQ9] [nvarchar](255) NULL,
	[MYQ10] [nvarchar](255) NULL,
	[MYQ11] [nvarchar](255) NULL,
	[MYQ12s] [nvarchar](255) NULL,
	[MYQ13s] [nvarchar](255) NULL,
	[MYQ14_1] [float] NULL,
	[MYQ14_2] [float] NULL,
	[MYQ14_3] [float] NULL,
	[MYQ14_4] [float] NULL,
	[MYQ15] [float] NULL,
	[MYQ16] [nvarchar](255) NULL,
	[MYQ17s] [nvarchar](max) NULL,
	[MYQ18s] [nvarchar](255) NULL,
	[MYQ19] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
