USE [EVAL_Labs]
GO
/****** Object:  Table [dbo].[MIR_M2_DESSAASSESSMENTSBYMONTH]    Script Date: 12/19/2016 4:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIR_M2_DESSAASSESSMENTSBYMONTH](
	[DATE_ADMINISTERED_MMYYYY] [nvarchar](4000) NULL,
	[student_id__c] [varchar](255) NULL,
	[NUM_stu] [int] NULL
) ON [PRIMARY]

GO
