USE [EVAL_Labs]
GO
/****** Object:  Table [dbo].[FY17_LitAssessment]    Script Date: 12/19/2016 4:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FY17_LitAssessment](
	[CYSCHOOLHOUSE_STUDENT_ID] [varchar](255) NULL,
	[SCHOOL_ID] [varchar](255) NULL,
	[SITE_NAME] [varchar](255) NULL,
	[STUDENT_NAME] [varchar](255) NULL,
	[GRADE] [varchar](255) NULL,
	[SCHOOL_NAME] [varchar](255) NULL,
	[Diplomas_Now_School] [varchar](255) NULL,
	[INDICATOR_DESC] [varchar](255) NULL,
	[SKILL_DESCRIPTION] [varchar](255) NULL,
	[DATA_TYPE] [varchar](255) NULL,
	[PRE_ASSESSMENT_DATE] [date] NULL,
	[PRE_INTERVAL] [varchar](255) NULL,
	[PRE_VALUE] [varchar](255) NULL,
	[PRE_SCALE_LOCAL] [varchar](255) NULL,
	[PRE_SCALE_NORM] [varchar](255) NULL,
	[PRE_SCALE_RANK_LOCAL] [varchar](255) NULL,
	[PRE_SCALE_RANK_NORM] [varchar](255) NULL,
	[PRE_ALPHA_SCORE_RANK] [varchar](255) NULL,
	[PRE_ALPHA_SCORE_RANK_NORM] [varchar](255) NULL,
	[PRE_TARGET_SCORE] [varchar](255) NULL,
	[PRE_ALPHA_TARGET_SCORE_RANK] [varchar](255) NULL,
	[PRE_ALPHA_TARGET_SCORE_RANK_NORM] [varchar](255) NULL,
	[PRE_MET_TARGET_SCORE] [varchar](255) NULL,
	[MY_ASSESSMENT_DATE] [date] NULL,
	[MY_INTERVAL] [varchar](255) NULL,
	[MY_VALUE] [varchar](255) NULL,
	[MY_SCALE_LOCAL] [varchar](255) NULL,
	[MY_SCALE_NORM] [varchar](255) NULL,
	[MY_SCALE_RANK_LOCAL] [varchar](255) NULL,
	[MY_SCALE_RANK_NORM] [varchar](255) NULL,
	[MY_ALPHA_SCORE_RANK] [varchar](255) NULL,
	[MY_ALPHA_SCORE_RANK_NORM] [varchar](255) NULL,
	[MY_TARGET_SCORE] [varchar](255) NULL,
	[MY_ALPHA_TARGET_SCORE_RANK] [varchar](255) NULL,
	[MY_ALPHA_TARGET_SCORE_RANK_NORM] [varchar](255) NULL,
	[MY_MET_TARGET_SCORE] [varchar](255) NULL,
	[POST_ASSESSMENT_DATE] [date] NULL,
	[POST_INTERVAL] [varchar](255) NULL,
	[POST_VALUE] [varchar](255) NULL,
	[POST_SCALE_LOCAL] [varchar](255) NULL,
	[POST_SCALE_NORM] [varchar](255) NULL,
	[POST_SCALE_RANK_LOCAL] [varchar](255) NULL,
	[POST_SCALE_RANK_NORM] [varchar](255) NULL,
	[POST_ALPHA_SCORE_RANK] [varchar](255) NULL,
	[POST_ALPHA_SCORE_RANK_NORM] [varchar](255) NULL,
	[POST_TARGET_SCORE] [varchar](255) NULL,
	[POST_ALPHA_TARGET_SCORE_RANK] [varchar](255) NULL,
	[POST_ALPHA_TARGET_SCORE_RANK_NORM] [varchar](255) NULL,
	[POST_MET_TARGET_SCORE] [varchar](255) NULL,
	[MY_RAWCHANGE] [varchar](255) NULL,
	[MY_RAWCHANGE_DEGREE] [varchar](255) NULL,
	[RAWCHANGE] [float] NULL,
	[RAWCHANGE_DEGREE] [varchar](255) NULL,
	[MY_SCALE_CHANGE_LOCAL] [varchar](255) NULL,
	[SCALE_CHANGE_LOCAL] [varchar](255) NULL,
	[MY_SCALE_CHANGE_NORM] [varchar](255) NULL,
	[SCALE_CHANGE_NORM] [varchar](255) NULL,
	[MY_SCALE_CHANGE_LOCAL_TEXT] [varchar](255) NULL,
	[SCALE_CHANGE_LOCAL_TEXT] [varchar](255) NULL,
	[MY_SCALE_CHANGE_NORM_TEXT] [varchar](255) NULL,
	[SCALE_CHANGE_NORM_TEXT] [varchar](255) NULL,
	[STARTOFFSLIDING] [varchar](255) NULL,
	[MY_SOS_MoveOn] [varchar](255) NULL,
	[SOS_MoveOn] [varchar](255) NULL,
	[Attendance_IA] [varchar](255) NULL,
	[ELA_IA] [varchar](255) NULL,
	[Math_IA] [varchar](255) NULL,
	[Behavior_IA] [varchar](255) NULL,
	[TEAM_JUNE_DOSAGE_GOAL] [varchar](255) NULL,
	[TEAM_MONTH_DOSAGE_GOAL] [varchar](255) NULL,
	[TTL_TIME] [varchar](255) NULL,
	[DOSAGE_CATEGORY] [varchar](255) NULL,
	[STATUS_JUNE_DOSAGE_GOAL] [varchar](255) NULL,
	[STATUS_MONTH_DOSAGE_GOAL] [varchar](255) NULL,
	[CURRENTLY_ENROLLED] [varchar](255) NULL,
	[ENROLLED_DAYS] [varchar](255) NULL,
	[FISCAL_YEAR] [varchar](255) NULL,
	[GRANTSITENUM] [varchar](255) NULL,
	[GRANTCATEGORY] [varchar](255) NULL,
	[SCALE_CHANGE_NORM_DEGREE] [varchar](20) NULL,
	[SCALE_CHANGE_LOCAL_DEGREE] [varchar](20) NULL,
	[RUN_DATE] [datetime] NULL,
	[GRADE_ID_NUMERIC] [int] NULL,
	[SRIGrade] [numeric](38, 0) NULL,
	[SRIFallLexileMeasure] [numeric](38, 0) NULL,
	[SRIFallLexileMeasureMax] [numeric](38, 0) NULL,
	[SRISpringLexileMeasure] [numeric](38, 0) NULL,
	[SRIFallToSpringGrowth] [decimal](38, 0) NULL,
	[IOG_CRITERIA] [int] NULL,
	[DN_CRITERIA] [int] NULL,
	[LITASSESS_ANYRAWDP] [int] NOT NULL,
	[LITASSESS_2RAWDP] [int] NOT NULL,
	[LITASSESS_2PerfLvlDP_LOCAL] [int] NOT NULL,
	[LITASSESS_2PerfLvlDP_NORM] [int] NOT NULL,
	[LITAssess_RawInc] [int] NULL,
	[LITAssess_StartOffSlid] [int] NULL,
	[LITAssess_SOSMoveOn] [int] NULL,
	[IOG_LITAssess35_anyRawDP] [int] NULL,
	[IOG_LITAssess35_2RawDP] [int] NULL,
	[IOG_LITAssess35_2PerfLvlDP_LOCAL] [int] NULL,
	[IOG_LITAssess35_2PerfLvlDP_NORM] [int] NULL,
	[IOG_LITAssess35_RawInc] [int] NULL,
	[IOG_LITAssess35_StartOffSlid] [int] NULL,
	[IOG_LITAssess35_SOSMoveOn] [int] NULL,
	[IOG_LITAssess69_anyRawDP] [int] NULL,
	[IOG_LITAssess69_2RawDP] [int] NULL,
	[IOG_LITAssess69_2PerfLvlDP_LOCAL] [int] NULL,
	[IOG_LITAssess69_2PerfLvlDP_NORM] [int] NULL,
	[IOG_LITAssess69_RawInc] [int] NULL,
	[IOG_LITAssess69_StartOffSlid] [int] NULL,
	[IOG_LITAssess69_SOSMoveOn] [int] NULL,
	[IOG_LITAssess39_anyRawDP] [int] NULL,
	[IOG_LITAssess39_2RawDP] [int] NULL,
	[IOG_LITAssess39_2PerfLvlDP_LOCAL] [int] NULL,
	[IOG_LITAssess39_2PerfLvlDP_NORM] [int] NULL,
	[IOG_LITAssess39_RawInc] [int] NULL,
	[IOG_LITAssess39_StartOffSlid] [int] NULL,
	[IOG_LITAssess39_SOSMoveOn] [int] NULL,
	[DN_LITAssess69_anyRawDP] [int] NULL,
	[DN_LITAssess69_2RawDP] [int] NULL,
	[DN_LITAssess69_2PerfLvlDP_LOCAL] [int] NULL,
	[DN_LITAssess69_2PerfLvlDP_NORM] [int] NULL,
	[DN_LITAssess69_RawInc] [int] NULL,
	[DN_LITAssess69_StartOffSlid] [int] NULL,
	[DN_LITAssess69_SOSMoveOn] [int] NULL
) ON [PRIMARY]

GO
