USE [EVAL_Labs]
GO
/****** Object:  StoredProcedure [dbo].[sp_MIR_P3_AC_Met_Not_Met]    Script Date: 12/19/2016 4:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_MIR_P3_AC_Met_Not_Met]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	drop table eval_labs.dbo.MIR_P3_AC_Met_Not_Met
	DROP TABLE EVAL_LABS.DBO.MIR_P3_DISTANCEFROMGOAL
  SELECT A.*, B.[ED1_ACAD_GOAL]
      ,B.[ED2_ACAD_GOAL]
      ,B.[ED5_ACAD_GOAL]
      ,B.[ED1_ELA_GOAL]
      ,B.[ED2_ELA_GOAL]
      ,B.[ED5_ELACG_GOAL]
      ,B.[ED5_ELAASSESS_GOAL]
      ,B.[ED1_MATH_GOAL]
      ,B.[ED2_MATH_GOAL]
      ,B.[ED5_MATHCG_GOAL]
      ,B.[ED5_MATHASSESS_GOAL]
      ,B.[ED1_ENGAGE_GOAL]
      ,B.[ED2_ENGAGE_GOAL]
      ,B.[ED27B_ENGAGE_GOAL]
      ,B.[AC_SEL_OUPUT1_GOAL]
      ,B.[AC_SEL_OUTPUT2_GOAL]
	  INTO #LEVEL1
	  FROM
  (SELECT GRANTSITENUM, GRANTSITE,
 SUM(ED1_LIT_ACTUAL) AS ED1_LIT_ACTUAL
,SUM(ED1_MTH_ACTUAL) AS ED1_MTH_ACTUAL
,SUM(ACTUAL_ED1_ACAD) AS ACTUAL_ED1_ACAD
,SUM(ED2_LIT_ACTUAL) AS ED2_LIT_ACTUAL
,SUM(ED2_MTH_ACTUAL) AS ED2_MTH_ACTUAL
,SUM(ACTUAL_ED2_ACAD) AS ACTUAL_ED2_ACAD
,SUM(ED1_ATT_ACTUAL) AS ED1_ATT_ACTUAL
,SUM(ED1_BEH_ACTUAL) AS ED1_BEH_ACTUAL
,SUM(ED2_ATT_ACTUAL) AS ED2_ATT_ACTUAL
,SUM(ED2_BEH_ACTUAL) AS ED2_BEH_ACTUAL
FROM [EVAL_Labs].[dbo].[Eval_StudentLevelFile_Quarantine_FY17]
GROUP BY GRANTSITENUM, GRANTSITE) A
LEFT JOIN
[ReportCYData_Prod_17].[dbo].[FY17_AC_Goals] B
ON A.GRANTSITENUM=B.GRANTSITENUM


SELECT A.*, 
CASE WHEN ED1_LIT_ACTUAL>=ED1_ELA_GOAL THEN 1 WHEN  ED1_LIT_ACTUAL<ED1_ELA_GOAL THEN 0 WHEN ISNUMERIC(ED1_ELA_GOAL)=1 AND ED1_LIT_ACTUAL IS NULL THEN 0 ELSE NULL END AS ELA_ED1_Met,
CASE WHEN ED2_LIT_ACTUAL>=ED2_ELA_GOAL THEN 1 WHEN  ED2_LIT_ACTUAL<ED2_ELA_GOAL THEN 0 WHEN ISNUMERIC(ED2_ELA_GOAL)=1 AND ED2_LIT_ACTUAL IS NULL THEN 0 ELSE NULL END AS ELA_ED2_Met,
CASE WHEN ED1_MTH_ACTUAL>=ED1_MATH_GOAL THEN 1 WHEN  ED1_MTH_ACTUAL<ED1_MATH_GOAL THEN 0 WHEN ISNUMERIC(ED1_MATH_GOAL)=1 AND ED1_MTH_ACTUAL IS NULL THEN 0 ELSE NULL END AS MATH_ED1_Met,
CASE WHEN ED2_MTH_ACTUAL>=ED2_MATH_GOAL THEN 1 WHEN  ED2_MTH_ACTUAL<ED2_MATH_GOAL THEN 0 WHEN ISNUMERIC(ED2_MATH_GOAL)=1 AND ED2_MTH_ACTUAL IS NULL THEN 0 ELSE NULL END AS MATH_ED2_Met,
CASE WHEN ACTUAL_ED1_ACAD>=ED1_ACAD_GOAL THEN 1 WHEN ACTUAL_ED1_ACAD<ED1_ACAD_GOAL THEN 0 WHEN ISNUMERIC(ED1_ACAD_GOAL)=1 AND ACTUAL_ED1_ACAD IS NULL THEN 0 ELSE NULL END AS ELAMath_ED1_Met,
CASE WHEN ACTUAL_ED2_ACAD>=ED2_ACAD_GOAL THEN 1 WHEN ACTUAL_ED2_ACAD<ED2_ACAD_GOAL THEN 0 WHEN ISNUMERIC(ED2_ACAD_GOAL)=1 AND ACTUAL_ED2_ACAD IS NULL THEN 0  ELSE NULL END AS ELAMath_ED2_Met,
CASE WHEN ED1_ATT_ACTUAL>=ED1_ENGAGE_GOAL THEN 1 WHEN  ED1_ATT_ACTUAL<ED1_ENGAGE_GOAL THEN 0 WHEN ISNUMERIC(ED1_ENGAGE_GOAL)=1 AND ED1_ATT_ACTUAL IS NULL THEN 0 ELSE NULL END AS ATT_ED1_Met,
CASE WHEN ED2_ATT_ACTUAL>=ED2_ENGAGE_GOAL THEN 1 WHEN  ED2_ATT_ACTUAL<ED2_ENGAGE_GOAL THEN 0 WHEN ISNUMERIC(ED2_ENGAGE_GOAL)=1 AND ED2_ATT_ACTUAL IS NULL THEN 0 ELSE NULL END AS ATT_ED2_Met,
CASE WHEN ED1_BEH_ACTUAL>=AC_SEL_OUPUT1_GOAL THEN 1 WHEN  ED1_BEH_ACTUAL<AC_SEL_OUPUT1_GOAL THEN 0 WHEN ISNUMERIC(AC_SEL_OUPUT1_GOAL)=1 AND ED1_BEH_ACTUAL IS NULL THEN 0 ELSE NULL END AS BEH_ED1_Met,
CASE WHEN ED2_BEH_ACTUAL>=AC_SEL_OUTPUT2_GOAL THEN 1 WHEN  ED2_BEH_ACTUAL<AC_SEL_OUTPUT2_GOAL THEN 0 WHEN ISNUMERIC(AC_SEL_OUTPUT2_GOAL)=1 AND ED2_BEH_ACTUAL IS NULL THEN 0 ELSE NULL END AS BEH_ED2_Met,
CASE WHEN ED1_LIT_ACTUAL<ED1_ELA_GOAL THEN ED1_LIT_ACTUAL-ED1_ELA_GOAL WHEN ISNUMERIC(ED1_ELA_GOAL)=1 AND ED1_LIT_ACTUAL IS NULL THEN 0-ED1_ELA_GOAL else null end as ELA_ED1_Distance,
CASE WHEN ED2_LIT_ACTUAL<ED2_ELA_GOAL THEN ED2_LIT_ACTUAL-ED2_ELA_GOAL WHEN ISNUMERIC(ED2_ELA_GOAL)=1 AND ED2_LIT_ACTUAL IS NULL THEN 0-ED2_ELA_GOAL else null end as ELA_ED2_Distance,
CASE WHEN ED1_MTH_ACTUAL<ED1_MATH_GOAL THEN ED1_MTH_ACTUAL-ED1_MATH_GOAL WHEN ISNUMERIC(ED1_MATH_GOAL)=1 AND ED1_MTH_ACTUAL IS NULL THEN 0-ED1_MATH_GOAL ELSE NULL END AS Math_ED1_Distance,
CASE WHEN ED2_MTH_ACTUAL<ED2_MATH_GOAL THEN ED2_MTH_ACTUAL-ED2_MATH_GOAL WHEN ISNUMERIC(ED2_MATH_GOAL)=1 AND ED2_MTH_ACTUAL IS NULL THEN 0-ED2_MATH_GOAL ELSE NULL END AS Math_ED2_Distance,
CASE WHEN ACTUAL_ED1_ACAD<ED1_ACAD_GOAL THEN ACTUAL_ED1_ACAD-ED1_ACAD_GOAL WHEN ISNUMERIC(ED1_ACAD_GOAL)=1 AND ACTUAL_ED1_ACAD IS NULL THEN 0-ED1_ACAD_GOAL ELSE NULL END AS ELAMath_ED1_Distance,
CASE WHEN ACTUAL_ED2_ACAD<ED2_ACAD_GOAL THEN ACTUAL_ED2_ACAD-ED2_ACAD_GOAL WHEN ISNUMERIC(ED2_ACAD_GOAL)=1 AND ACTUAL_ED2_ACAD IS NULL THEN 0-ED2_ACAD_GOAL ELSE NULL END AS ELAMath_ED2_Distance,
CASE WHEN ED1_ATT_ACTUAL<ED1_ENGAGE_GOAL THEN ED1_ATT_ACTUAL-ED1_ENGAGE_GOAL WHEN ISNUMERIC(ED1_ENGAGE_GOAL)=1 AND ED1_ATT_ACTUAL IS NULL THEN 0-ED1_ENGAGE_GOAL ELSE NULL END AS ATT_ED1_Distance,
CASE WHEN ED2_ATT_ACTUAL<ED2_ENGAGE_GOAL THEN ED2_ATT_ACTUAL-ED2_ENGAGE_GOAL WHEN ISNUMERIC(ED2_ENGAGE_GOAL)=1 AND ED2_ATT_ACTUAL IS NULL THEN 0-ED2_ENGAGE_GOAL ELSE NULL END AS ATT_ED2_Distance,
CASE WHEN ED1_BEH_ACTUAL<AC_SEL_OUPUT1_GOAL THEN ED1_BEH_ACTUAL-AC_SEL_OUPUT1_GOAL WHEN ISNUMERIC(AC_SEL_OUPUT1_GOAL)=1 AND ED1_BEH_ACTUAL IS NULL THEN 0-AC_SEL_OUPUT1_GOAL ELSE NULL END AS BEH_ED1_Distance,
CASE WHEN ED2_BEH_ACTUAL<AC_SEL_OUTPUT2_GOAL THEN ED2_BEH_ACTUAL-AC_SEL_OUTPUT2_GOAL WHEN ISNUMERIC(AC_SEL_OUTPUT2_GOAL)=1 AND ED2_BEH_ACTUAL IS NULL THEN 0-AC_SEL_OUTPUT2_GOAL ELSE NULL END AS BEH_ED2_Distance
INTO #LEVEL2
FROM #LEVEL1 A

select B.GRANTSITENUM, B.GRANTSITE, B.ACMEASURE, B.ACMEASURESTATUS 
INTO eval_labs.dbo.MIR_P3_AC_Met_Not_Met
from #LEVEL2
unpivot
(
  ACMEASURESTATUS
  for ACMEASURE in (ELA_ED1_Met, ELA_ED2_Met, MATH_ED1_Met, MATH_ED2_Met, ELAMath_ED1_Met, ELAMath_ED2_Met, ATT_ED1_Met, 
  ATT_ED2_Met, BEH_ED1_Met, BEH_ED2_Met)
  )
   B


select C.GRANTSITENUM, C.GRANTSITE, C.ACMEASURE, C.ACDISTANCE
INTO EVAL_LABS.DBO.MIR_P3_DISTANCEFROMGOAL
from #LEVEL2
unpivot
(
  ACDISTANCE  
  for ACMEASURE in (ELA_ED1_Distance, ELA_ED2_Distance, Math_ED1_Distance, Math_ED2_Distance, ELAMath_ED1_Distance,
  ELAMath_ED2_Distance, ATT_ED1_Distance, ATT_ED2_Distance, BEH_ED1_Distance, BEH_ED2_Distance)) C

END


GO
