USE [EVAL_Labs]
GO
/****** Object:  Table [dbo].[SRI Growth Targets 2011$]    Script Date: 12/19/2016 4:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SRI Growth Targets 2011$](
	[SRIGrade] [numeric](38, 0) NULL,
	[SRIFallLexileMeasure] [numeric](38, 0) NULL,
	[SRIFallLexileMeasureMax] [numeric](38, 0) NULL,
	[SRISpringLexileMeasure] [numeric](38, 0) NULL,
	[SRIFallToSpringGrowth] [decimal](38, 0) NULL
) ON [PRIMARY]

GO
