USE [EVAL_Labs]
GO
/****** Object:  Table [dbo].[MIR_M2_MIASSESSMENTSBYADMINPERIOD]    Script Date: 12/19/2016 4:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIR_M2_MIASSESSMENTSBYADMINPERIOD](
	[ASSESSMENT_ADMIN_PERIOD] [varchar](51) NULL,
	[student_id__c] [varchar](255) NULL
) ON [PRIMARY]

GO
