USE [EVAL_Labs]
GO
/****** Object:  Table [dbo].[FY16_EVAL_STUDENTLEVELFILE]    Script Date: 12/19/2016 4:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FY16_EVAL_STUDENTLEVELFILE](
	[CYSCHOOLHOUSE_STUDENT_ID] [varchar](100) NULL,
	[FIRST_NAME] [varchar](100) NULL,
	[MIDDLE_NAME] [varchar](100) NULL,
	[LAST_NAME] [varchar](100) NULL,
	[REGION_ID] [varchar](100) NULL,
	[REGION_NAME] [varchar](100) NULL,
	[CYCHANNEL_SCHOOL_ACCOUNT_NBR] [varchar](100) NULL,
	[GENDER] [varchar](50) NULL,
	[GRADE_ID] [varchar](100) NULL,
	[GRADE_ID_NUMERIC] [int] NULL,
	[ATTENDANCE_IA] [varchar](250) NULL,
	[ELA_IA] [varchar](250) NULL,
	[MATH_IA] [varchar](250) NULL,
	[BEHAVIOR_IA] [varchar](250) NULL,
	[FISCAL_YEAR] [varchar](50) NOT NULL,
	[ELL] [varchar](250) NULL,
	[RACE_ETHNICITY] [varchar](250) NULL,
	[STUDENT_DISTRICT_ID] [varchar](250) NULL,
	[CYSCHOOLHOUSE_SCHOOL_ID] [varchar](250) NULL,
	[DIPLOMAS_NOW_SCHOOL] [varchar](15) NULL,
	[site_name] [varchar](100) NULL,
	[school_name] [varchar](100) NULL,
	[CY_CHANNEL_SF_ID] [varchar](100) NULL,
	[MATH_TUTORING] [int] NULL,
	[LITERACY_TUTORING] [int] NULL,
	[LEADERSHIP_50ACTS] [int] NULL,
	[ATTENDANCE_COACHING] [int] NULL,
	[GREATNESS_50ACTS] [int] NULL,
	[BEHAVIOR_COACHING] [int] NULL,
	[ENRICHMENT] [int] NULL,
	[HOMEWORK_ASSISTANCE] [int] NULL,
	[STARFISH_CORPS] [int] NULL,
	[AFTERSCHOOL_HEROES] [int] NULL,
	[ATT_CICO] [int] NULL,
	[BEH_CICO] [int] NULL,
	[TOTALDOSAGELIT] [int] NULL,
	[TOTALDOSAGEMTH] [int] NULL,
	[TOTALDOSAGEOTH] [int] NULL,
	[totaldosageatt] [int] NULL,
	[totaldosagebeh] [int] NULL,
	[ENROLLEDDAYSLIT] [int] NULL,
	[ENROLLEDDAYSMTH] [int] NULL,
	[ENROLLEDDAYSATT] [int] NULL,
	[ENROLLEDDAYSBEH] [int] NULL,
	[ENROLLEDDAYSOTH] [int] NULL,
	[LITENROLLDATE] [datetime] NULL,
	[LITEXITDATE] [datetime] NULL,
	[MTHENROLLDATE] [datetime] NULL,
	[MTHEXITDATE] [datetime] NULL,
	[ATTENROLLDATE] [datetime] NULL,
	[ATTEXITDATE] [datetime] NULL,
	[OTHENROLLDATE] [datetime] NULL,
	[behenrolldate] [datetime] NULL,
	[behexitdate] [datetime] NULL,
	[OTHEXITDATE] [datetime] NULL,
	[ELA_39_EnrollGoal] [float] NULL,
	[ELA_out39_Enroll] [float] NULL,
	[ELA_All_Enroll] [float] NULL,
	[MTH_39_EnrollGoal] [float] NULL,
	[MTH_out39_Enroll] [float] NULL,
	[MTH_All_Enroll] [float] NULL,
	[ATT_39_EnrollGoal] [float] NULL,
	[ATT_out39_Enroll] [float] NULL,
	[ATT_All_Enroll] [float] NULL,
	[BEH_39_EnrollGoal] [float] NULL,
	[BEH_out39_Enroll] [float] NULL,
	[BEH_All_Enroll] [float] NULL,
	[FEB_ELA_DosageGoal] [float] NULL,
	[MAR_ELA_DosageGoal] [float] NULL,
	[APR_ELA_DosageGoal] [float] NULL,
	[MAY_ELA_DosageGoal] [float] NULL,
	[JUN_ELA_DosageGoal] [float] NULL,
	[FEB_MTH_DosageGoal] [float] NULL,
	[MAR_MTH_DosageGoal] [float] NULL,
	[APR_MTH_DosageGoal] [float] NULL,
	[MAY_MTH_DosageGoal] [float] NULL,
	[JUN_MTH_DosageGoal] [float] NULL,
	[Q2_ELA_EnrollGoal] [float] NULL,
	[Q2_MTH_EnrollGoal] [float] NULL,
	[Q2_ATT_EnrollGoal] [float] NULL,
	[Q2_BEH_EnrollGoal] [float] NULL,
	[Q3_ELA_EnrollGoal] [float] NULL,
	[Q3_MTH_EnrollGoal] [float] NULL,
	[Q3_ATT_EnrollGoal] [float] NULL,
	[Q3_BEH_EnrollGoal] [float] NULL,
	[GrantCategory] [varchar](250) NULL,
	[GrantSiteNum] [varchar](250) NULL,
	[GrantSite] [varchar](250) NULL,
	[GrantSite_GR] [varchar](250) NULL,
	[ACREPORTLIT] [varchar](50) NULL,
	[ACREPORTMTH] [varchar](50) NULL,
	[ACREPORTATT] [varchar](50) NULL,
	[ACREPORTBEH] [varchar](50) NULL,
	[ED1_ACAD_GOAL] [varchar](50) NULL,
	[ED2_ACAD_GOAL] [varchar](50) NULL,
	[ED5_ACAD_GOAL] [varchar](50) NULL,
	[ED1_ENGAGE_GOAL] [varchar](50) NULL,
	[ED2_ENGAGE_GOAL] [varchar](50) NULL,
	[ED27B_ENGAGE_GOAL] [varchar](50) NULL,
	[AC_SEL_OUPUT1_GOAL] [varchar](50) NULL,
	[AC_SEL_OUTPUT2_GOAL] [varchar](50) NULL,
	[AC_SELOUTCOME_GOAL] [varchar](50) NULL,
	[OFFICIALFLLIT] [int] NULL,
	[OFFICIALFLMTH] [int] NULL,
	[OFFICIALFLATT] [int] NULL,
	[OFFICIALFLBEH] [int] NULL,
	[NOTOFFICIALFLLIT] [int] NULL,
	[NOTOFFICIALFLMTH] [int] NULL,
	[NOTOFFICIALFLATT] [int] NULL,
	[NOTOFFICIALFLBEH] [int] NULL,
	[PARTICIPATE_AFTERSCHOOL] [int] NOT NULL,
	[ATT_WEEKSENROLLED] [varchar](17) NULL,
	[BEH_WEEKSENROLLED] [varchar](17) NULL,
	[LITERACY_DOSAGECATEGORY] [varchar](17) NULL,
	[MATH_DOSAGECATEGORY] [varchar](17) NULL,
	[ACREPORTGRADE_ENGAGEMENT] [int] NOT NULL,
	[ACREPORTGRADE_ACADEMIC] [int] NOT NULL,
	[UNIQUEFL] [int] NOT NULL,
	[ACLITOFFICIALFL] [int] NULL,
	[ACMTHOFFICIALFL] [int] NULL,
	[ACBEHOFFICIALFL] [int] NULL,
	[ACATTOFFICIALFL] [int] NULL,
	[NOTFLATTMET56DOSE] [int] NULL,
	[NOTFLBEHMET56DOSE] [int] NULL,
	[FLATTMET56DOSE] [int] NULL,
	[FLBEHMET56DOSE] [int] NULL,
	[ACDOSAGEGOALMTH] [float] NULL,
	[ACDOSAGEGOALLIT] [float] NULL,
	[FLLITMETMONTHLYDOSE] [int] NULL,
	[FLMTHMETMONTHLYDOSE] [int] NULL,
	[NOTFLLITMETMONTHLYDOSE] [int] NULL,
	[NOTFLMTHMETMONTHLYDOSE] [int] NULL,
	[officialflbeh_text] [varchar](8) NULL,
	[officialflatt_text] [varchar](10) NULL,
	[officialfllit_text] [varchar](12) NULL,
	[officialflmth_text] [varchar](4) NULL,
	[ACLITMETACDOSE] [int] NULL,
	[ACMTHMETACDOSE] [int] NULL,
	[ACBEHMET56DOSE] [int] NULL,
	[ACATTMET56DOSE] [int] NULL,
	[ACTUAL_ED1_ACAD] [int] NULL,
	[ACTUAL_ED1_ENGAGE_BEH] [int] NULL,
	[ACTUAL_ED1_ENGAGE_ATT] [int] NULL,
	[ACTUAL_ED2_ACAD] [int] NULL,
	[ACTUAL_ED2_ENGAGE_BEH] [int] NULL,
	[ACTUAL_ED2_ENGAGE_ATT] [int] NULL,
	[totalnumfl] [int] NULL,
	[FLCombo] [varchar](37) NOT NULL
) ON [PRIMARY]

GO
