USE [EVAL_Labs]
GO
/****** Object:  Table [dbo].['FY16 SOY & MY ACM Survey Data5$']    Script Date: 12/19/2016 4:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].['FY16 SOY & MY ACM Survey Data5$'](
	[empID] [float] NULL,
	[COLQ73_1] [nvarchar](255) NULL,
	[COLQ73_2] [nvarchar](255) NULL,
	[COLQ73_3] [nvarchar](255) NULL,
	[COLQ73_4] [nvarchar](255) NULL,
	[COLQ73_5] [nvarchar](255) NULL,
	[COLQ73_6] [nvarchar](255) NULL,
	[COLQ73_7] [nvarchar](255) NULL,
	[COLQ73_8] [nvarchar](255) NULL,
	[COLQ73_9] [nvarchar](255) NULL,
	[COLQ73_10] [nvarchar](255) NULL,
	[COLQ73_10s] [nvarchar](255) NULL,
	[COLQ74_1] [nvarchar](255) NULL,
	[COLQ74_2] [nvarchar](255) NULL,
	[COLQ74_3] [nvarchar](255) NULL,
	[COLQ75] [nvarchar](255) NULL,
	[COLQ76s] [nvarchar](255) NULL,
	[COLQ77_1] [nvarchar](255) NULL,
	[COLQ77_2] [nvarchar](255) NULL,
	[COLQ77_3] [nvarchar](255) NULL,
	[COLQ77_4] [nvarchar](255) NULL,
	[COLQ78s] [nvarchar](255) NULL,
	[DENQ79] [nvarchar](255) NULL,
	[DENQ80] [nvarchar](255) NULL,
	[DENQ81] [nvarchar](255) NULL,
	[DENQ82s] [nvarchar](255) NULL,
	[DENQ83s] [nvarchar](255) NULL,
	[JAXQ84] [nvarchar](255) NULL,
	[JAXQ85] [nvarchar](255) NULL,
	[JAXQ86] [nvarchar](255) NULL,
	[JAXQ87] [nvarchar](255) NULL,
	[JAXQ88s] [nvarchar](255) NULL,
	[LAQ89s] [nvarchar](255) NULL,
	[LAQ90_1] [nvarchar](255) NULL,
	[LAQ90_2] [nvarchar](255) NULL,
	[LAQ90_3] [nvarchar](255) NULL,
	[LAQ90_4] [nvarchar](255) NULL,
	[LAQ90_5] [nvarchar](255) NULL,
	[LAQ90_6] [nvarchar](255) NULL,
	[LAQ90_7] [nvarchar](255) NULL,
	[LAQ90_8] [nvarchar](255) NULL,
	[LAQ90_9] [nvarchar](255) NULL,
	[LAQ90_10] [nvarchar](255) NULL,
	[LAQ90_11] [nvarchar](255) NULL,
	[LAQ90_12] [nvarchar](255) NULL,
	[LAQ90_13] [nvarchar](255) NULL,
	[LAQ90_13s] [nvarchar](255) NULL,
	[LAQ91] [nvarchar](255) NULL,
	[LAQ92s] [nvarchar](255) NULL,
	[LAQ93_1] [nvarchar](255) NULL,
	[LAQ93_2] [nvarchar](255) NULL,
	[LAQ93_3] [nvarchar](255) NULL,
	[LAQ93_4] [nvarchar](255) NULL,
	[LAQ93_5] [nvarchar](255) NULL,
	[LAQ93_6] [nvarchar](255) NULL,
	[LAQ93_7] [nvarchar](255) NULL,
	[LAQ93_8] [nvarchar](255) NULL,
	[LAQ93_9] [nvarchar](255) NULL,
	[LAQ93_10] [nvarchar](255) NULL,
	[LAQ93_11] [nvarchar](255) NULL,
	[LAQ93_12] [nvarchar](255) NULL,
	[LAQ93_13] [nvarchar](255) NULL,
	[LAQ93_13s] [nvarchar](255) NULL,
	[LAQ94] [nvarchar](255) NULL,
	[LAQ95s] [nvarchar](255) NULL,
	[MANQ96] [nvarchar](255) NULL,
	[MANQ97_1] [nvarchar](255) NULL,
	[MANQ97_2] [nvarchar](255) NULL,
	[MANQ98s] [nvarchar](255) NULL,
	[MIAQ99] [nvarchar](255) NULL,
	[MIAQ100_1] [nvarchar](255) NULL,
	[MIAQ100_2] [nvarchar](255) NULL,
	[MIAQ100_3] [nvarchar](255) NULL,
	[MIAQ101] [nvarchar](255) NULL,
	[MIAQ102] [nvarchar](255) NULL,
	[MIAQ103_1] [nvarchar](255) NULL,
	[MIAQ103_2] [nvarchar](255) NULL,
	[MIAQ103_3] [nvarchar](255) NULL,
	[MIAQ103_4] [nvarchar](255) NULL,
	[NYCQ104s] [nvarchar](255) NULL,
	[SJQ105] [nvarchar](255) NULL,
	[SJQ106_1] [nvarchar](255) NULL,
	[SJQ106_2] [nvarchar](255) NULL,
	[SJQ106_3] [nvarchar](255) NULL,
	[SJQ106_4] [nvarchar](255) NULL,
	[SJQ106_5] [nvarchar](255) NULL,
	[SJQ106_6] [nvarchar](255) NULL,
	[SJQ106_7] [nvarchar](255) NULL,
	[SJQ107] [nvarchar](255) NULL,
	[SJQ107s] [nvarchar](255) NULL,
	[SEAQ108s] [nvarchar](255) NULL,
	[SEAQ109] [nvarchar](255) NULL,
	[SEAQ110s] [nvarchar](255) NULL,
	[SEAQ111] [nvarchar](255) NULL,
	[SEAQ112s] [nvarchar](255) NULL,
	[TULQ113_1] [nvarchar](255) NULL,
	[TULQ113_2] [nvarchar](255) NULL,
	[TULQ114s] [nvarchar](255) NULL,
	[TULQ115s] [nvarchar](255) NULL,
	[TULQ116] [nvarchar](255) NULL,
	[MYQ125] [float] NULL,
	[MYQ126s] [nvarchar](max) NULL,
	[MYQ127s] [nvarchar](255) NULL,
	[MYQ128s] [nvarchar](255) NULL,
	[MYQ4VALUELABEL] [nvarchar](255) NULL,
	[MYQ4team] [nvarchar](255) NULL,
	[MYQ4CyrSchoolID] [nvarchar](255) NULL,
	[MYQ4site] [nvarchar](255) NULL,
	[MYteamMATCH] [float] NULL,
	[filter_$] [float] NULL,
	[MYNetPromoter] [float] NULL,
	[MYteachInterest] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
