USE [EVAL_Labs]
GO
/****** Object:  Table [dbo].[MIR_M2_DESSAMIENROLLMENT]    Script Date: 12/19/2016 4:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIR_M2_DESSAMIENROLLMENT](
	[CYSCHOOLHOUSE_STUDENT_ID] [varchar](100) NULL,
	[enrolled_Dessa] [int] NULL,
	[enrolled_mi] [int] NULL
) ON [PRIMARY]

GO
