USE [EVAL_Labs]
GO
/****** Object:  Table [dbo].[FY16_EVAL_MIM_SchoolTab]    Script Date: 12/19/2016 4:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FY16_EVAL_MIM_SchoolTab](
	[REGION_NAME] [varchar](100) NULL,
	[SITE_NAME] [varchar](100) NULL,
	[SCHOOL_NAME] [varchar](100) NULL,
	[DIPLOMAS_NOW_SCHOOL] [varchar](15) NULL,
	[MIN_GRADE_SERVED] [int] NULL,
	[MAX_GRADE_SERVED] [int] NULL,
	[ELAQuarterlyEnrollGoal] [float] NULL,
	[OFFICIALFLLIT] [int] NULL,
	[NOTOFFICIALFLLIT] [int] NULL,
	[ELAMONTHLYDOSE] [float] NULL,
	[FLLITMETMONTHLYDOSE] [int] NULL,
	[PERC_FL_MET_ELA_DOSE] [numeric](24, 12) NULL,
	[NOTFLLITMETMONTHLYDOSE] [int] NULL,
	[PERC_NOTFL_MET_ELA_DOSE] [numeric](24, 12) NULL,
	[MTHQuarterlyEnrollGoal] [float] NULL,
	[OFFICIALFLMTH] [int] NULL,
	[NOTOFFICIALFLMTH] [int] NULL,
	[MTHMONTHLYDOSE] [float] NULL,
	[FLMTHMETMONTHLYDOSE] [int] NULL,
	[PERC_FL_MET_MTH_DOSE] [numeric](24, 12) NULL,
	[NOTFLMTHMETMONTHLYDOSE] [int] NULL,
	[PERC_NOTFL_MET_MTH_DOSE] [numeric](24, 12) NULL,
	[ATTQuarterlyEnrollGoal] [float] NULL,
	[officialflatt] [int] NULL,
	[NOTOFFICIALFLATT] [int] NULL,
	[FLATTMET56DOSE] [int] NULL,
	[FLATT_PERC_MET_DOSE] [numeric](24, 12) NULL,
	[NOTFLATTMET56DOSE] [int] NULL,
	[NOTFLATT_PERC_MET_DOSE] [numeric](24, 12) NULL,
	[BEHQuarterlyEnrollGoal] [float] NULL,
	[OFFICIALFLBEH] [int] NULL,
	[NOTOFFICIALFLBEH] [int] NULL,
	[FLBEHMET56DOSE] [int] NULL,
	[FLBEH_PERC_MET_DOSE] [numeric](24, 12) NULL,
	[NOTFLBEHMET56DOSE] [int] NULL,
	[NOTFLBEH_PERC_MET_DOSE] [numeric](24, 12) NULL
) ON [PRIMARY]

GO
