USE [EVAL_Labs]
GO
/****** Object:  StoredProcedure [dbo].[sp_Eval_StudentLevelFile]    Script Date: 12/19/2016 4:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Eval_StudentLevelFile]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select cyschoolhouse_student_id, indicator_area_Desc, program_desc, datediff(d, min(first_intervention), max(last_intervention)) as programdatediff
	 into #programdurationinfo from 
	[ReportCYData_Prod].[dbo].[3_RPT_STUDENT_ENROLLMENT_WIP]
	group by cyschoolhouse_student_id, indicator_area_Desc, program_desc


SELECT K.*,
CASE WHEN ACLITMETACDOSE=1 OR ACMTHMETACDOSE=1 THEN 1 ELSE NULL END AS ACTUAL_ED2_ACAD,
CASE WHEN ACBEHMET56DOSE=1 THEN 1 ELSE NULL END AS ACTUAL_ED2_ENGAGE_BEH,
CASE WHEN ACATTMET56DOSE=1 THEN 1 ELSE NULL END AS ACTUAL_ED2_ENGAGE_ATT,
(isnull(officialflbeh,0) + isnull(officialflatt,0) + isnull(officialfllit,0) + isnull(officialflmth,0)) as totalnumfl,
concat(Officialfllit_text, ' ', officialflmth_text, ' ', officialflatt_text, ' ', officialflbeh_text) as FLCombo
INTO #Level1
FROM
(SELECT j.*,
case when officialflbeh=1 then 'Behavior' else null end as officialflbeh_text,
case when officialflatt=1 then 'Attendance' else null end as officialflatt_text,
case when officialfllit=1 then 'ELA/Literacy' else null end as officialfllit_text,
case when officialflmth=1 then 'Math' else null end as officialflmth_text,
CASE WHEN ACLITOFFICIALFL=1 AND (TOTALDOSAGELIT*1.0/60)>=ACDOSAGEGOALLIT THEN 1 WHEN ACLITOFFICIALFL=1 AND (TOTALDOSAGELIT*1.0/60)<ACDOSAGEGOALLIT THEN 0 ELSE NULL END AS ACLITMETACDOSE,
CASE WHEN ACMTHOFFICIALFL=1 AND (TOTALDOSAGEMTH*1.0/60)>=ACDOSAGEGOALMTH THEN 1 WHEN ACMTHOFFICIALFL=1 AND (TOTALDOSAGEMTH*1.0/60)<ACDOSAGEGOALMTH THEN 0 ELSE NULL END AS ACMTHMETACDOSE,
CASE WHEN ACBEHOFFICIALFL=1 AND ENROLLEDDAYSBEH>=56 THEN 1 WHEN ACBEHOFFICIALFL=1 AND ENROLLEDDAYSBEH<56 THEN 0 ELSE NULL END AS ACBEHMET56DOSE,
CASE WHEN ACATTOFFICIALFL=1 AND ENROLLEDDAYSATT>=56 THEN 1 WHEN ACATTOFFICIALFL=1 AND ENROLLEDDAYSATT<56 THEN 0 ELSE NULL END AS ACATTMET56DOSE,
CASE WHEN ACLITOFFICIALFL=1 OR ACMTHOFFICIALFL=1 THEN 1 ELSE NULL END AS ACTUAL_ED1_ACAD,
CASE WHEN ACBEHOFFICIALFL=1 THEN 1 ELSE NULL END AS ACTUAL_ED1_ENGAGE_BEH,
CASE WHEN ACATTOFFICIALFL=1 THEN 1 ELSE NULL END AS ACTUAL_ED1_ENGAGE_ATT
FROM
(SELECT i.*,
CASE WHEN OFFICIALFLLIT=1 OR OFFICIALFLMTH=1 OR OFFICIALFLATT=1 OR OFFICIALFLBEH=1 THEN 1 ELSE 0 END AS UNIQUEFL,
CASE WHEN ACREPORTGRADE_academic=1 AND ACREPORTLIT=1 THEN OFFICIALFLLIT ELSE NULL END AS ACLITOFFICIALFL,
CASE WHEN ACREPORTGRADE_academic=1 AND ACREPORTMTH=1 THEN OFFICIALFLMTH ELSE NULL END AS ACMTHOFFICIALFL,
CASE WHEN ACREPORTGRADE_engagement=1 AND ACREPORTBEH=1 THEN OFFICIALFLBEH ELSE NULL END AS ACBEHOFFICIALFL,
CASE WHEN ACREPORTGRADE_engagement=1 AND ACREPORTATT=1 THEN OFFICIALFLATT ELSE NULL END AS ACATTOFFICIALFL,
CASE WHEN OFFICIALFLATT = 0 AND ENROLLEDDAYSATT >=56 THEN 1
WHEN OFFICIALFLATT =0 AND ENROLLEDDAYSATT <56 THEN 0 ELSE NULL END AS NOTFLATTMET56DOSE, 
CASE WHEN OFFICIALFLBEH = 0 AND ENROLLEDDAYSBEH >=56 THEN 1
WHEN OFFICIALFLBEH =0 AND ENROLLEDDAYSBEH <56 THEN 0 ELSE NULL END AS NOTFLBEHMET56DOSE,
CASE WHEN OFFICIALFLATT = 1 AND ENROLLEDDAYSATT >=56 THEN 1
WHEN OFFICIALFLATT =1 AND ENROLLEDDAYSATT <56 THEN 0 ELSE NULL END AS FLATTMET56DOSE, 
CASE WHEN OFFICIALFLBEH = 1 AND ENROLLEDDAYSBEH >=56 THEN 1
WHEN OFFICIALFLBEH =1 AND ENROLLEDDAYSBEH <56 THEN 0 ELSE NULL END AS FLBEHMET56DOSE,
--CASE WHEN DIPLOMAS_NOW_SCHOOL = 1 THEN 360 ELSE (JUN_MTH_DosageGoal*1.0*60) END AS ACDOSAGEGOALMTH,
--CASE WHEN DIPLOMAS_NOW_SCHOOL = 1 THEN 360 ELSE (JUN_ELA_DosageGoal*1.0*60) END AS ACDOSAGEGOALLIT,
CASE WHEN DIPLOMAS_NOW_SCHOOL = 1 THEN 6 ELSE JUN_MTH_DosageGoal END AS ACDOSAGEGOALMTH,
CASE WHEN DIPLOMAS_NOW_SCHOOL = 1 THEN 6 ELSE JUN_ELA_DosageGoal END AS ACDOSAGEGOALLIT,
CASE
WHEN OFFICIALFLLIT = 1 AND month(GETDATE()) = 03 and ((TOTALDOSAGELIT*1.0/60)>=FEB_ELA_DosageGoal) THEN 1
WHEN OFFICIALFLLIT=1 AND month(GETDATE()) = 03 AND ((TOTALDOSAGELIT*1.0/60)<FEB_ELA_DosageGoal) THEN 0
WHEN OFFICIALFLLIT = 1 AND month(GETDATE()) = 04 and ((TOTALDOSAGELIT*1.0/60)>=MAR_ELA_DosageGoal) THEN 1
WHEN OFFICIALFLLIT=1 AND month(GETDATE()) = 04 AND ((TOTALDOSAGELIT*1.0/60)<MAR_ELA_DosageGoal) THEN 0
WHEN OFFICIALFLLIT = 1 AND month(GETDATE()) = 05 and ((TOTALDOSAGELIT*1.0/60)>=APR_ELA_DosageGoal) THEN 1
WHEN OFFICIALFLLIT=1 AND month(GETDATE()) = 05 AND ((TOTALDOSAGELIT*1.0/60)<APR_ELA_DosageGoal) THEN 0
WHEN OFFICIALFLLIT = 1 AND month(GETDATE()) = 06 and ((TOTALDOSAGELIT*1.0/60)>=MAY_ELA_DosageGoal) THEN 1
WHEN OFFICIALFLLIT=1 AND month(GETDATE()) = 06 AND ((TOTALDOSAGELIT*1.0/60)<MAY_ELA_DosageGoal) THEN 0
WHEN OFFICIALFLLIT = 1 AND month(GETDATE()) = 07 and ((TOTALDOSAGELIT*1.0/60)>=JUN_ELA_DosageGoal) THEN 1
WHEN OFFICIALFLLIT=1 AND month(GETDATE()) = 07 AND ((TOTALDOSAGELIT*1.0/60)<JUN_ELA_DosageGoal) THEN 0
ELSE NULL END AS FLLITMETMONTHLYDOSE,
CASE
WHEN OFFICIALFLMTH = 1 AND month(GETDATE()) = 03 and ((TOTALDOSAGEMTH*1.0/60)>=FEB_MTH_DosageGoal) THEN 1
WHEN OFFICIALFLMTH=1 AND month(GETDATE()) = 03 AND ((TOTALDOSAGEMTH*1.0/60)<FEB_MTH_DosageGoal) THEN 0
WHEN OFFICIALFLMTH = 1 AND month(GETDATE()) = 04 and ((TOTALDOSAGEMTH*1.0/60)>=MAR_MTH_DosageGoal) THEN 1
WHEN OFFICIALFLMTH=1 AND month(GETDATE()) = 04 AND ((TOTALDOSAGEMTH*1.0/60)<MAR_MTH_DosageGoal) THEN 0
WHEN OFFICIALFLMTH = 1 AND month(GETDATE()) = 05 and ((TOTALDOSAGEMTH*1.0/60)>=APR_MTH_DosageGoal) THEN 1
WHEN OFFICIALFLMTH=1 AND month(GETDATE()) = 05 AND ((TOTALDOSAGEMTH*1.0/60)<APR_MTH_DosageGoal) THEN 0
WHEN OFFICIALFLMTH = 1 AND month(GETDATE()) = 06 and ((TOTALDOSAGEMTH*1.0/60)>=MAY_MTH_DosageGoal) THEN 1
WHEN OFFICIALFLMTH=1 AND month(GETDATE()) = 06 AND ((TOTALDOSAGEMTH*1.0/60)<MAY_MTH_DosageGoal) THEN 0
WHEN OFFICIALFLMTH = 1 AND month(GETDATE()) = 07 and ((TOTALDOSAGEMTH*1.0/60)>=JUN_MTH_DosageGoal) THEN 1
WHEN OFFICIALFLMTH=1 AND month(GETDATE()) = 07 AND ((TOTALDOSAGEMTH*1.0/60)<JUN_MTH_DosageGoal) THEN 0
ELSE NULL END AS FLMTHMETMONTHLYDOSE,
CASE
WHEN OFFICIALFLLIT = 0 AND month(GETDATE()) = 03 and ((TOTALDOSAGELIT*1.0/60)>=FEB_ELA_DosageGoal) THEN 1
WHEN OFFICIALFLLIT= 0 AND month(GETDATE()) = 03 AND ((TOTALDOSAGELIT*1.0/60)<FEB_ELA_DosageGoal) THEN 0
WHEN OFFICIALFLLIT = 0 AND month(GETDATE()) = 04 and ((TOTALDOSAGELIT*1.0/60)>=MAR_ELA_DosageGoal) THEN 1
WHEN OFFICIALFLLIT= 0 AND month(GETDATE()) = 04 AND ((TOTALDOSAGELIT*1.0/60)<MAR_ELA_DosageGoal) THEN 0
WHEN OFFICIALFLLIT = 0 AND month(GETDATE()) = 05 and ((TOTALDOSAGELIT*1.0/60)>=APR_ELA_DosageGoal) THEN 1
WHEN OFFICIALFLLIT= 0 AND month(GETDATE()) = 05 AND ((TOTALDOSAGELIT*1.0/60)<APR_ELA_DosageGoal) THEN 0
WHEN OFFICIALFLLIT = 0 AND month(GETDATE()) = 06 and ((TOTALDOSAGELIT*1.0/60)>=MAY_ELA_DosageGoal) THEN 1
WHEN OFFICIALFLLIT= 0 AND month(GETDATE()) = 06 AND ((TOTALDOSAGELIT*1.0/60)<MAY_ELA_DosageGoal) THEN 0
WHEN OFFICIALFLLIT = 0 AND month(GETDATE()) = 07 and ((TOTALDOSAGELIT*1.0/60)>=JUN_ELA_DosageGoal) THEN 1
WHEN OFFICIALFLLIT= 0 AND month(GETDATE()) = 07 AND ((TOTALDOSAGELIT*1.0/60)<JUN_ELA_DosageGoal) THEN 0
ELSE NULL END AS NOTFLLITMETMONTHLYDOSE,
CASE 
WHEN OFFICIALFLMTH = 0 AND month(GETDATE()) = 03 and ((TOTALDOSAGEMTH*1.0/60)>=FEB_MTH_DosageGoal) THEN 1
WHEN OFFICIALFLMTH= 0 AND month(GETDATE()) = 03 AND ((TOTALDOSAGEMTH*1.0/60)<FEB_MTH_DosageGoal) THEN 0
WHEN OFFICIALFLMTH = 0 AND month(GETDATE()) = 04 and ((TOTALDOSAGEMTH*1.0/60)>=MAR_MTH_DosageGoal) THEN 1
WHEN OFFICIALFLMTH= 0 AND month(GETDATE()) = 04 AND ((TOTALDOSAGEMTH*1.0/60)<MAR_MTH_DosageGoal) THEN 0
WHEN OFFICIALFLMTH = 0 AND month(GETDATE()) = 05 and ((TOTALDOSAGEMTH*1.0/60)>=APR_MTH_DosageGoal) THEN 1
WHEN OFFICIALFLMTH= 0 AND month(GETDATE()) = 05 AND ((TOTALDOSAGEMTH*1.0/60)<APR_MTH_DosageGoal) THEN 0
WHEN OFFICIALFLMTH = 0 AND month(GETDATE()) = 06 and ((TOTALDOSAGEMTH*1.0/60)>=MAY_MTH_DosageGoal) THEN 1
WHEN OFFICIALFLMTH= 0 AND month(GETDATE()) = 06 AND ((TOTALDOSAGEMTH*1.0/60)<MAY_MTH_DosageGoal) THEN 0
WHEN OFFICIALFLMTH = 0 AND month(GETDATE()) = 07 and ((TOTALDOSAGEMTH*1.0/60)>=JUN_MTH_DosageGoal) THEN 1
WHEN OFFICIALFLMTH= 0 AND month(GETDATE()) = 07 AND ((TOTALDOSAGEMTH*1.0/60)<JUN_MTH_DosageGoal) THEN 0
ELSE NULL END AS NOTFLMTHMETMONTHLYDOSE
FROM
(SELECT G.CYSCHOOLHOUSE_STUDENT_ID, g.FIRST_NAME, g.MIDDLE_NAME, g.LAST_NAME, g.REGION_ID, g.REGION_NAME, g.CYCHANNEL_SCHOOL_ACCOUNT_NBR, g.GENDER, g.GRADE_ID, CASE WHEN G.GRADE_ID= 'K' THEN 0 WHEN G.GRADE_ID = 'PK' THEN -1 ELSE GRADE_ID END AS GRADE_ID_NUMERIC, 
--g.PRIMARY_CM_ID, g.PRIMARY_CM_NAME, 
g.ATTENDANCE_IA, g.ELA_IA, g.MATH_IA, g.BEHAVIOR_IA, g.FISCAL_YEAR, g.ELL, g.RACE_ETHNICITY, g.STUDENT_DISTRICT_ID, g.CYSCHOOLHOUSE_SCHOOL_ID, h.DIPLOMAS_NOW_SCHOOL, h.site_name, h.school_name, h.CY_CHANNEL_SF_ID, l.MATH_TUTORING,	l.LITERACY_TUTORING,	l.LEADERSHIP_50ACTS,	l.ATTENDANCE_COACHING,	l.GREATNESS_50ACTS,	l.BEHAVIOR_COACHING,	l.ENRICHMENT,	l.HOMEWORK_ASSISTANCE,	l.STARFISH_CORPS,	l.AFTERSCHOOL_HEROES, l.ATT_CICO, l.BEH_CICO,	l.TOTALDOSAGELIT,	l.TOTALDOSAGEMTH,	l.TOTALDOSAGEOTH, l.totaldosageatt, l.totaldosagebeh,	l.ENROLLEDDAYSLIT,	l.ENROLLEDDAYSMTH,	l.ENROLLEDDAYSATT,	l.ENROLLEDDAYSBEH,	l.ENROLLEDDAYSOTH,	l.LITENROLLDATE,	l.LITEXITDATE,	l.MTHENROLLDATE,	l.MTHEXITDATE,	l.ATTENROLLDATE,	l.ATTEXITDATE,	l.OTHENROLLDATE, l.behenrolldate, l.behexitdate,	l.OTHEXITDATE,  h.WSWC_ELA_39_EnrollGoal AS ELA_39_EnrollGoal, h.ELA_out39_Enroll, h.ELA_All_Enroll,
h.WSWC_MTH_39_EnrollGoal as MTH_39_EnrollGoal, h.MTH_out39_Enroll, h.MTH_All_Enroll,  
h.WSWC_ATT_39_EnrollGoal AS ATT_39_EnrollGoal, h.ATT_out39_Enroll, h.ATT_All_Enroll,
h.WSWC_BEH_39_EnrollGoal AS BEH_39_EnrollGoal, h.BEH_out39_Enroll, h.BEH_All_Enroll,   
--h.AUG_ELA_DosageGoal, h.SEP_ELA_DosageGoal, h.OCT_ELA_DosageGoal, h.NOV_ELA_DosageGoal, h.DEC_ELA_DosageGoal, h.JAN_ELA_DosageGoal, 
h.FEB_ELA_DosageGoal, h.MAR_ELA_DosageGoal, h.APR_ELA_DosageGoal, h.MAY_ELA_DosageGoal, h.JUN_ELA_DosageGoal, 
--h.AUG_MTH_DosageGoal, h.SEP_MTH_DosageGoal, h.OCT_MTH_DosageGoal, h.NOV_MTH_DosageGoal, h.DEC_MTH_DosageGoal, h.JAN_MTH_DosageGoal, 
h.FEB_MTH_DosageGoal, h.MAR_MTH_DosageGoal, h.APR_MTH_DosageGoal,
h.MAY_MTH_DosageGoal, h.JUN_MTH_DosageGoal, 
--h.Q1_ELA_EnrollGoal, h.Q1_MTH_EnrollGoal, h.Q1_ATT_EnrollGoal, h.Q1_BEH_EnrollGoal, 
h.Q2_ELA_EnrollGoal, h.Q2_MTH_EnrollGoal, h.Q2_ATT_EnrollGoal, h.Q2_BEH_EnrollGoal, h.Q3_ELA_EnrollGoal, h.Q3_MTH_EnrollGoal, h.Q3_ATT_EnrollGoal, h.Q3_BEH_EnrollGoal,
 --h.AUG_ELA_DosageGoal_Minutes, h.SEP_ELA_DosageGoal_Minutes, h.OCT_ELA_DosageGoal_Minutes, h.NOV_ELA_DosageGoal_Minutes, h.DEC_ELA_DosageGoal_Minutes, h.JAN_ELA_DosageGoal_Minutes, h.FEB_ELA_DosageGoal_Minutes, h.MAR_ELA_DosageGoal_Minutes, h.APR_ELA_DosageGoal_Minutes, h.MAY_ELA_DosageGoal_Minutes, h.JUN_ELA_DosageGoal_Minutes, h.AUG_MTH_DosageGoal_Minutes, h.SEP_MTH_DosageGoal_Minutes, h.OCT_MTH_DosageGoal_Minutes, h.NOV_MTH_DosageGoal_Minutes, h.DEC_MTH_DosageGoal_Minutes, h.JAN_MTH_DosageGoal_Minutes, h.FEB_MTH_DosageGoal_Minutes, h.MAR_MTH_DosageGoal_Minutes, h.APR_MTH_DosageGoal_Minutes, h.MAY_MTH_DosageGoal_Minutes, h.JUN_MTH_DosageGoal_Minutes,
h.GrantCategory, h.GrantSiteNum, h.GrantSite, h.GrantSite_GR, h.ACREPORTLIT, h.ACREPORTMTH, h.ACREPORTATT, h.ACREPORTBEH, h.ED1_ACAD_GOAL, h.ED2_ACAD_GOAL, h.ED5_ACAD_GOAL, h.ED1_ENGAGE_GOAL, h.ED2_ENGAGE_GOAL, h.ED27B_ENGAGE_GOAL, h.AC_SEL_OUPUT1_GOAL, h.AC_SEL_OUTPUT2_GOAL, h.AC_SELOUTCOME_GOAL,
CASE WHEN ENROLLEDDAYSLIT>=1 AND ELA_IA = 1 THEN 1 WHEN ENROLLEDDAYSLIT>=1 AND ELA_IA = 0 THEN 0 ELSE NULL END AS OFFICIALFLLIT,
CASE WHEN ENROLLEDDAYSMTH>=1 AND MATH_IA=1 THEN 1 WHEN ENROLLEDDAYSMTH>=1 AND MATH_IA=0 THEN 0 ELSE NULL END AS OFFICIALFLMTH,
CASE WHEN ENROLLEDDAYSATT>=1 AND ATTENDANCE_IA=1 THEN 1 WHEN ENROLLEDDAYSATT>=1 AND ATTENDANCE_IA=0 THEN 0 ELSE NULL END AS OFFICIALFLATT,
CASE WHEN ENROLLEDDAYSBEH>=1 AND BEHAVIOR_IA=1 THEN 1 WHEN ENROLLEDDAYSBEH>=1 AND BEHAVIOR_IA=0 THEN 0 ELSE NULL END AS OFFICIALFLBEH,
CASE WHEN ENROLLEDDAYSLIT>=1 AND ELA_IA = 0 THEN 1 ELSE NULL END AS NOTOFFICIALFLLIT,
CASE WHEN ENROLLEDDAYSMTH>=1 AND MATH_IA=0 THEN 1 ELSE NULL END AS NOTOFFICIALFLMTH,
CASE WHEN ENROLLEDDAYSATT>=1 AND ATTENDANCE_IA=0 THEN 1 ELSE NULL END AS NOTOFFICIALFLATT,
CASE WHEN ENROLLEDDAYSBEH>=1 AND BEHAVIOR_IA=0 THEN 1 ELSE NULL END AS NOTOFFICIALFLBEH,
CASE WHEN HOMEWORK_ASSISTANCE=1 OR AFTERSCHOOL_HEROES=1 OR STARFISH_CORPS=1 OR ENRICHMENT=1 THEN 1 ELSE 0 END AS PARTICIPATE_AFTERSCHOOL,
CASE WHEN (ENROLLEDDAYSATT*1.0/7) BETWEEN 0 AND 3.99999 THEN '0 UP TO 4 WEEKS'
	 WHEN (ENROLLEDDAYSATT*1.0/7) BETWEEN 4 AND 7.99999 THEN '4 UP TO 8 WEEKS'
	 WHEN (ENROLLEDDAYSATT*1.0/7) BETWEEN 8 AND 11.99999 THEN '8 UP TO 12 WEEKS'
	 WHEN (ENROLLEDDAYSATT*1.0/7) BETWEEN 12 AND 15.99999 THEN '12 UP TO 16 WEEKS'
	 WHEN (ENROLLEDDAYSATT*1.0/7) BETWEEN 16 AND 19.99999 THEN '16 UP TO 20 WEEKS'
	 WHEN (ENROLLEDDAYSATT*1.0/7) BETWEEN 20 AND 23.99999 THEN '20 UP TO 24 WEEKS'
	 WHEN (ENROLLEDDAYSATT*1.0/7) BETWEEN 24 AND 27.99999 THEN '24 UP TO 28 WEEKS'
	 WHEN (ENROLLEDDAYSATT*1.0/7) BETWEEN 28 AND 31.99999 THEN '28 UP TO 32 WEEKS'
	 WHEN (ENROLLEDDAYSATT*1.0/7) >=32 THEN '32+ WEEKS'
	 ELSE NULL END AS ATT_WEEKSENROLLED,
CASE WHEN (ENROLLEDDAYSBEH*1.0/7) BETWEEN 0 AND 3.99999 THEN '0 UP TO 4 WEEKS'
	 WHEN (ENROLLEDDAYSBEH*1.0/7) BETWEEN 4 AND 7.99999 THEN '4 UP TO 8 WEEKS'
	 WHEN (ENROLLEDDAYSBEH*1.0/7) BETWEEN 8 AND 11.99999 THEN '8 UP TO 12 WEEKS'
	 WHEN (ENROLLEDDAYSBEH*1.0/7) BETWEEN 12 AND 15.99999 THEN '12 UP TO 16 WEEKS'
	 WHEN (ENROLLEDDAYSBEH*1.0/7) BETWEEN 16 AND 19.99999 THEN '16 UP TO 20 WEEKS'
	 WHEN (ENROLLEDDAYSBEH*1.0/7) BETWEEN 20 AND 23.99999 THEN '20 UP TO 24 WEEKS'
	 WHEN (ENROLLEDDAYSBEH*1.0/7) BETWEEN 24 AND 27.99999 THEN '24 UP TO 28 WEEKS'
	 WHEN (ENROLLEDDAYSBEH*1.0/7) BETWEEN 28 AND 31.99999 THEN '28 UP TO 32 WEEKS'
	 WHEN (ENROLLEDDAYSBEH*1.0/7) >=32 THEN '32+ WEEKS'
	 ELSE NULL END AS BEH_WEEKSENROLLED,
CASE WHEN (TOTALDOSAGELIT*1.0/60) BETWEEN 0 AND 4.99999 THEN '0 UP TO 5 HOURS'
	 WHEN (TOTALDOSAGELIT*1.0/60) BETWEEN 5 AND 9.99999 THEN '5 UP TO 10 HOURS'
	 WHEN (TOTALDOSAGELIT*1.0/60) BETWEEN 10 AND 14.99999 THEN '10 UP TO 15 HOURS'
	 WHEN (TOTALDOSAGELIT*1.0/60) BETWEEN 15 AND 19.99999 THEN '15 UP TO 20 HOURS'
	 WHEN (TOTALDOSAGELIT*1.0/60) BETWEEN 20 AND 24.99999 THEN '20 UP TO 25 HOURS'
	 WHEN (TOTALDOSAGELIT*1.0/60)>=25 THEN '25+ HOURS'
	ELSE NULL END AS LITERACY_DOSAGECATEGORY,
CASE WHEN (TOTALDOSAGEMTH*1.0/60) BETWEEN 0 AND 4.99999 THEN '0 UP TO 5 HOURS'
	 WHEN (TOTALDOSAGEMTH*1.0/60) BETWEEN 5 AND 9.99999 THEN '5 UP TO 10 HOURS'
	 WHEN (TOTALDOSAGEMTH*1.0/60) BETWEEN 10 AND 14.99999 THEN '10 UP TO 15 HOURS'
	 WHEN (TOTALDOSAGEMTH*1.0/60) BETWEEN 15 AND 19.99999 THEN '15 UP TO 20 HOURS'
	 WHEN (TOTALDOSAGEMTH*1.0/60) BETWEEN 20 AND 24.99999 THEN '20 UP TO 25 HOURS'
	 WHEN (TOTALDOSAGEMTH*1.0/60)>=25 THEN '25+ HOURS'
	ELSE NULL END AS MATH_DOSAGECATEGORY,
CASE WHEN H.SITE_NAME = 'CLEVELAND' AND GRADE_ID = '10' THEN 0 
     WHEN H.SITE_NAME = 'SEATTLE' AND GRADE_ID IN ('K', '1', '2', '3', '4', '5', '9', '10', '11', '12') THEN 0
	 ELSE 1 END AS ACREPORTGRADE_ENGAGEMENT,
CASE WHEN H.SITE_NAME = 'CLEVELAND' AND GRADE_ID = '10' THEN 0 ELSE 1 END AS ACREPORTGRADE_ACADEMIC
FROM
(select *, datediff(d, LITENROLLDATE, LITEXITDATE) AS ENROLLEDDAYSLIT, datediff(d, MTHENROLLDATE, MTHEXITDATE) AS ENROLLEDDAYSMTH, datediff(d, ATTENROLLDATE, ATTEXITDATE) AS ENROLLEDDAYSATT, datediff( d, behenrolldate, behexitdate) AS ENROLLEDDAYSBEH,
datediff (d, othenrolldate, othexitdate) as enrolleddaysoth
from
(SELECT SITE_NAME, SCHOOL_NAME, CYSCHOOLHOUSE_STUDENT_ID, MAX(MATH_TUTORING) AS MATH_TUTORING, MAX(	LITERACY_TUTORING) AS LITERACY_TUTORING, MAX(LEADERSHIP_50ACTS) AS LEADERSHIP_50ACTS, MAX(ATTENDANCE_COACHING) AS ATTENDANCE_COACHING, MAX(	GREATNESS_50ACTS	) AS GREATNESS_50ACTS, MAX(BEHAVIOR_COACHING) AS BEHAVIOR_COACHING, MAX(	ENRICHMENT) AS ENRICHMENT, MAX(	HOMEWORK_ASSISTANCE	) AS HOMEWORK_ASSISTANCE, MAX(STARFISH_CORPS	) AS STARFISH_CORPS, MAX(AFTERSCHOOL_HEROES) AS AFTERSCHOOL_HEROES, max(ATT_CICO) as ATT_CICO, max(beh_CICO) as BEH_CICO, MAX(TOTALDOSAGELIT) AS TOTALDOSAGELIT, MAX(TOTALDOSAGEMTH) AS TOTALDOSAGEMTH, max(totaldosageatt) as totaldosageatt, max(totaldosagebeh) as totaldosagebeh, MAX(TOTALDOSAGEOTH) as TOTALDOSAGEOTH, 
--MAX(	ENROLLEDDAYSLIT	) AS ENROLLEDDAYSLIT, MAX(ENROLLEDDAYSMTH) AS ENROLLEDDAYSMTH, MAX(	ENROLLEDDAYSATT	) AS ENROLLEDDAYSATT, MAX(ENROLLEDDAYSBEH) AS ENROLLEDDAYSBEH, MAX(ENROLLEDDAYSOTH) AS ENROLLEDDAYSOTH, 
MAX(LITENROLLDATE) as LITENROLLDATE, MAX(LITEXITDATE) as LITEXITDATE, MAX(MTHENROLLDATE) as MTHENROLLDATE, MAX(MTHEXITDATE) as MTHEXITDATE, MAX(ATTENROLLDATE) as ATTENROLLDATE, MAX(ATTEXITDATE) as ATTEXITDATE, max(behenrolldate) as behenrolldate, max(behexitdate) as behexitdate, MAX(OTHENROLLDATE) as OTHENROLLDATE, MAX(OTHEXITDATE) as OTHEXITDATE 
FROM
(SELECT d.*,
CASE WHEN INDICATOR_AREA_DESC = 'ELA/Literacy' then TOTALDOSAGE ELSE NULL END AS TOTALDOSAGELIT,
CASE WHEN INDICATOR_AREA_DESC = 'Math' then TOTALDOSAGE ELSE NULL END AS TOTALDOSAGEMTH,
CASE WHEN INDICATOR_AREA_DESC = 'Attendance' THEN TOTALDOSAGE ELSE NULL END AS TOTALDOSAGEATT,
CASE WHEN INDICATOR_AREA_DESC = 'Behavior' THEN TOTALDOSAGE ELSE NULL END AS TOTALDOSAGEBEH,
CASE WHEN INDICATOR_AREA_DESC = 'Non-specific IA' THEN TOTALDOSAGE ELSE NULL END AS TOTALDOSAGEOTH,
--CASE WHEN INDICATOR_AREA_DESC = 'ELA/Literacy' then ENROLLED_DAYS ELSE NULL END AS ENROLLEDDAYSLIT,
--CASE WHEN INDICATOR_AREA_DESC = 'Math' then ENROLLED_DAYS ELSE NULL END AS ENROLLEDDAYSMTH,
--CASE WHEN INDICATOR_AREA_DESC = 'Attendance' then ENROLLED_DAYS ELSE NULL END AS ENROLLEDDAYSATT,
--CASE WHEN INDICATOR_AREA_DESC = 'Behavior' then ENROLLED_DAYS ELSE NULL END AS ENROLLEDDAYSBEH,
--CASE WHEN INDICATOR_AREA_DESC = 'Non-specific IA' THEN ENROLLED_DAYS ELSE NULL END AS ENROLLEDDAYSOTH,
CASE WHEN INDICATOR_AREA_DESC = 'ELA/Literacy' then ENROLLDATEEARLIEST ELSE NULL END AS LITENROLLDATE,
CASE WHEN INDICATOR_AREA_DESC = 'ELA/Literacy' then EXITDATELatest ELSE NULL END AS LITEXITDATE,
CASE WHEN INDICATOR_AREA_DESC = 'Math' then ENROLLDATEEARLIEST ELSE NULL END AS MTHENROLLDATE,
CASE WHEN INDICATOR_AREA_DESC = 'Math' then EXITDATELatest ELSE NULL END AS MTHEXITDATE,
CASE WHEN INDICATOR_AREA_DESC = 'Attendance' then ENROLLDATEEARLIEST ELSE NULL END AS ATTENROLLDATE,
CASE WHEN INDICATOR_AREA_DESC = 'Attendance' then EXITDATELatest ELSE NULL END AS ATTEXITDATE,
CASE WHEN INDICATOR_AREA_DESC = 'Behavior' then ENROLLDATEEARLIEST ELSE NULL END AS BEHENROLLDATE,
CASE WHEN INDICATOR_AREA_DESC = 'Behavior' then EXITDATELatest ELSE NULL END AS BEHEXITDATE,
CASE WHEN INDICATOR_AREA_DESC = 'Non-specific IA' then ENROLLDATEEARLIEST ELSE NULL END AS OTHENROLLDATE,
CASE WHEN INDICATOR_AREA_DESC = 'Non-specific IA' then EXITDATELatest ELSE NULL END AS OTHEXITDATE
FROM
(SELECT c.SITE_NAME, c.SCHOOL_NAME, c.CYSCHOOLHOUSE_STUDENT_ID, c.INDICATOR_AREA_DESC, SUM(c.TTL_TIME) as TotalDosage, --SUM(C.ENROLLED_DAYS) as Enrolled_Days, 
MIN(c.FIRST_INTERVENTION) as EnrollDateEarliest, MAX(c.LAST_INTERVENTION) as ExitDateLatest, MAX (c.MATH_TUTORING) AS MATH_TUTORING, MAX (c.LITERACY_TUTORING) AS LITERACY_TUTORING, MAX (c.LEADERSHIP_50ACTS) AS LEADERSHIP_50ACTS,
MAX (c.ATTENDANCE_COACHING) AS ATTENDANCE_COACHING, MAX(c.GREATNESS_50ACTS) AS GREATNESS_50ACTS,
MAX (c.BEHAVIOR_COACHING) AS BEHAVIOR_COACHING, MAX(c.ENRICHMENT) AS ENRICHMENT, MAX(c.HOMEWORK_ASSISTANCE) AS HOMEWORK_ASSISTANCE,
MAX (c.STARFISH_CORPS) AS STARFISH_CORPS, MAX (c.AFTERSCHOOL_HEROES) AS AFTERSCHOOL_HEROES, MAX(ATT_CICO) AS ATT_CICO, MAX(BEH_CICO) AS BEH_CICO
FROM
(select ab.*, CASE WHEN ab2.programdatediff>0 and  ab.PROGRAM_DESC = 'Tutoring: Math' THEN 1 ELSE 0 END AS MATH_TUTORING,
CASE WHEN ab2.programdatediff>0 and  ab.PROGRAM_DESC = 'Tutoring: Literacy' THEN 1 ELSE 0 END AS LITERACY_TUTORING,
CASE WHEN ab2.programdatediff>0 and ab.PROGRAM_DESC = '50 Acts of Leadership' THEN 1 ELSE 0 END AS LEADERSHIP_50ACTS,
CASE WHEN ab2.programdatediff>0 and ab.PROGRAM_DESC = 'Attendance Check in Check Out' THEN 1 ELSE 0 END AS ATT_CICO,
CASE WHEN ab2.programdatediff>0 and  ab.PROGRAM_DESC = 'Coaching: Attendance' THEN 1 ELSE 0 END AS ATTENDANCE_COACHING,
CASE WHEN ab2.programdatediff>0 and ab.PROGRAM_DESC = '50 Acts of Greatness' THEN 1 ELSE 0 END AS GREATNESS_50ACTS,
CASE WHEN ab2.programdatediff>0 and ab.PROGRAM_DESC = 'Coaching: Behavior (Local)' THEN 1 ELSE 0 END AS BEHAVIOR_COACHING,
CASE WHEN ab2.programdatediff>0 and ab.PROGRAM_DESC = 'SEL Check in Check Out' THEN 1 ELSE 0 END AS BEH_CICO,
CASE WHEN ab2.programdatediff>0 and ab.PROGRAM_DESC = 'Enrichment' THEN 1 ELSE 0 END AS ENRICHMENT,
CASE WHEN ab2.programdatediff>0 and ab.PROGRAM_DESC = 'Homework Assistance' THEN 1 ELSE 0 END AS HOMEWORK_ASSISTANCE, 
CASE WHEN ab2.programdatediff>0 and ab.PROGRAM_DESC = 'Starfish Corps' THEN 1 ELSE 0 END AS STARFISH_CORPS,
CASE WHEN ab2.programdatediff>0 and ab.PROGRAM_DESC = 'Afterschool Heroes' THEN 1 ELSE 0 END AS AFTERSCHOOL_HEROES from
(SELECT b.STUDENT_ID, b.PROGRAM_DESC, b.INDICATOR_AREA_DESC, a.TTL_TIME, b.FISCAL_YEAR, b.CYSCHOOLHOUSE_STUDENT_ID, b.SITE_NAME, b.SCHOOL_NAME, b.SCHOOL_ID, b.FIRST_INTERVENTION, b.LAST_INTERVENTION, B.ENROLLED_DAYS
FROM 
[ReportCYData_Prod].[dbo].[8_RPT_STUDENT_TIME_LINEAR] a
FULL OUTER JOIN
[ReportCYData_Prod].[dbo].[3_RPT_STUDENT_ENROLLMENT_WIP] b
on a.PROGRAM_DESC = b.PROGRAM_DESC AND a.INDICATOR_AREA_DESC=b.INDICATOR_AREA_DESC AND a.FISCAL_YEAR=b.FISCAL_YEAR AND a.CYSCHOOLHOUSE_STUDENT_ID=b.CYSCHOOLHOUSE_STUDENT_ID) ab
left join #programdurationinfo ab2
on ab.cyschoolhouse_student_id=ab2.cyschoolhouse_student_id and ab.program_desc=ab2.program_desc) c
GROUP BY c.SITE_NAME, c.SCHOOL_NAME, c.CYSCHOOLHOUSE_STUDENT_ID, c.INDICATOR_AREA_DESC) D) e
GROUP BY SITE_NAME, SCHOOL_NAME, CYSCHOOLHOUSE_STUDENT_ID) f) l
RIGHT JOIN
[ReportCYData_Prod].[dbo].[1_RPT_STUDENT_MAIN_wip] g
ON l.CYSCHOOLHOUSE_STUDENT_ID=g.CYSCHOOLHOUSE_STUDENT_ID
LEFT JOIN [ReportCYData_Prod].[dbo].[2_RPT_SCHOOL_MAIN] h
ON h.CYCHANNEL_SCHOOL_ACCOUNT_NBR = g.CYCHANNEL_SCHOOL_ACCOUNT_NBR) i) j) k


DROP TABLE Eval_Labs.DBO.FY16_EVAL_STUDENTLEVELFILE
SELECT * INTO Eval_Labs.dbo.FY16_EVAL_STUDENTLEVELFILE FROM #Level1


/*select * from
(SELECT A.*, 
b.SKILL_DESCRIPTION as LitAssess_SKILL_DESCRIPTION,
b.DATA_TYPE as LitAssess_DATA_TYPE,
b.PRE_ASSESSMENT_DATE as LitAssess_PRE_ASSESSMENT_DATE,
b.PRE_INTERVAL as LitAssess_PRE_INTERVAL,
b.PRE_VALUE as LitAssess_PRE_VALUE,
b.PRE_SCALE_LOCAL as LitAssess_PRE_SCALE_LOCAL,
b.PRE_SCALE_NORM as LitAssess_PRE_SCALE_NORM,
b.PRE_SCALE_RANK_LOCAL as LitAssess_PRE_SCALE_RANK_LOCAL,
b.PRE_SCALE_RANK_NORM as LitAssess_PRE_SCALE_RANK_NORM,
b.PRE_ALPHA_SCORE_RANK as LitAssess_PRE_ALPHA_SCORE_RANK,
b.PRE_ALPHA_SCORE_RANK_NORM as LitAssess_PRE_ALPHA_SCORE_RANK_NORM,
b.PRE_TARGET_SCORE as LitAssess_PRE_TARGET_SCORE,
b.PRE_ALPHA_TARGET_SCORE_RANK as LitAssess_PRE_ALPHA_TARGET_SCORE_RANK,
b.PRE_ALPHA_TARGET_SCORE_RANK_NORM as LitAssess_PRE_ALPHA_TARGET_SCORE_RANK_NORM,
b.PRE_MET_TARGET_SCORE as LitAssess_PRE_MET_TARGET_SCORE,
b.MY_ASSESSMENT_DATE as LitAssess_MY_ASSESSMENT_DATE,
b.MY_INTERVAL as LitAssess_MY_INTERVAL,
b.MY_VALUE as LitAssess_MY_VALUE,
b.MY_SCALE_LOCAL as LitAssess_MY_SCALE_LOCAL,
b.MY_SCALE_NORM as LitAssess_MY_SCALE_NORM,
b.MY_SCALE_RANK_LOCAL as LitAssess_MY_SCALE_RANK_LOCAL,
b.MY_SCALE_RANK_NORM as LitAssess_MY_SCALE_RANK_NORM,
b.MY_ALPHA_SCORE_RANK as LitAssess_MY_ALPHA_SCORE_RANK,
b.MY_ALPHA_SCORE_RANK_NORM as LitAssess_MY_ALPHA_SCORE_RANK_NORM,
b.MY_TARGET_SCORE as LitAssess_MY_TARGET_SCORE,
b.MY_ALPHA_TARGET_SCORE_RANK as LitAssess_MY_ALPHA_TARGET_SCORE_RANK,
b.MY_ALPHA_TARGET_SCORE_RANK_NORM as LitAssess_MY_ALPHA_TARGET_SCORE_RANK_NORM,
b.MY_MET_TARGET_SCORE as LitAssess_MY_MET_TARGET_SCORE,
b.POST_ASSESSMENT_DATE as LitAssess_POST_ASSESSMENT_DATE,
b.POST_INTERVAL as LitAssess_POST_INTERVAL,
b.POST_VALUE as LitAssess_POST_VALUE,
b.POST_SCALE_LOCAL as LitAssess_POST_SCALE_LOCAL,
b.POST_SCALE_NORM as LitAssess_POST_SCALE_NORM,
b.POST_SCALE_RANK_LOCAL as LitAssess_POST_SCALE_RANK_LOCAL,
b.POST_SCALE_RANK_NORM as LitAssess_POST_SCALE_RANK_NORM,
b.POST_ALPHA_SCORE_RANK as LitAssess_POST_ALPHA_SCORE_RANK,
b.POST_ALPHA_SCORE_RANK_NORM as LitAssess_POST_ALPHA_SCORE_RANK_NORM,
b.POST_TARGET_SCORE as LitAssess_POST_TARGET_SCORE,
b.POST_ALPHA_TARGET_SCORE_RANK as LitAssess_POST_ALPHA_TARGET_SCORE_RANK,
b.POST_ALPHA_TARGET_SCORE_RANK_NORM as LitAssess_POST_ALPHA_TARGET_SCORE_RANK_NORM,
b.POST_MET_TARGET_SCORE as LitAssess_POST_MET_TARGET_SCORE,
b.MY_RAWCHANGE as LitAssess_MY_RAWCHANGE,
b.MY_RAWCHANGE_DEGREE as LitAssess_MY_RAWCHANGE_DEGREE,
b.RAWCHANGE as LitAssess_RAWCHANGE,
b.RAWCHANGE_DEGREE as LitAssess_RAWCHANGE_DEGREE,
b.MY_SCALE_CHANGE_LOCAL as LitAssess_MY_SCALE_CHANGE_LOCAL,
b.SCALE_CHANGE_LOCAL as LitAssess_SCALE_CHANGE_LOCAL,
B.SCALE_CHANGE_LOCAL_DEGREE AS LitAssess_SCALE_CHANGE_LOCAL_DEGREE,
b.MY_SCALE_CHANGE_NORM as LitAssess_MY_SCALE_CHANGE_NORM,
b.SCALE_CHANGE_NORM as LitAssess_SCALE_CHANGE_NORM,
B.SCALE_CHANGE_NORM_DEGREE AS LitAssess_SCALE_CHANGE_NORM_DEGREE,
b.MY_SCALE_CHANGE_LOCAL_TEXT as LitAssess_MY_SCALE_CHANGE_LOCAL_TEXT,
b.SCALE_CHANGE_LOCAL_TEXT as LitAssess_SCALE_CHANGE_LOCAL_TEXT,
b.MY_SCALE_CHANGE_NORM_TEXT as LitAssess_MY_SCALE_CHANGE_NORM_TEXT,
b.SCALE_CHANGE_NORM_TEXT as LitAssess_SCALE_CHANGE_NORM_TEXT,
b.STARTOFFSLIDING as LitAssess_STARTOFFSLIDING,
b.MY_SOS_MoveOn as LitAssess_MY_SOS_MoveOn,
b.SOS_MoveOn as LitAssess_SOS_MoveOn,
b.SRIGrade,
b.SRIFallLexileMeasure,
b.SRIFallLexileMeasureMax,
b.SRISpringLexileMeasure,
b.SRIFallToSpringGrowth,
b.IOG_CRITERIA as LitAssess_IOG_CRITERIA,
b.DN_CRITERIA as LitAssess_DN_CRITERIA,
b.LITASSESS_ANYRAWDP,
b.LITASSESS_2RAWDP,
b.LITASSESS_2PerfLvlDP_LOCAL,
b.LITASSESS_2PerfLvlDP_NORM,
b.LITAssess_RawInc,
b.LITAssess_StartOffSlid,
b.LITAssess_SOSMoveOn,
b.AC_MET_IMP as LitAssess_AC_MET_IMP,
b.AC_MET_PERF_LVL as LitAssess_AC_MET_PERF_LVL,
b.IOG_LITAssess35_anyRawDP,
b.IOG_LITAssess35_2RawDP,
b.IOG_LITAssess35_2PerfLvlDP_LOCAL,
b.IOG_LITAssess35_2PerfLvlDP_NORM,
b.IOG_LITAssess35_RawInc,
b.IOG_LITAssess35_StartOffSlid,
b.IOG_LITAssess35_SOSMoveOn,
b.IOG_LITAssess69_anyRawDP,
b.IOG_LITAssess69_2RawDP,
b.IOG_LITAssess69_2PerfLvlDP_LOCAL,
b.IOG_LITAssess69_2PerfLvlDP_NORM,
b.IOG_LITAssess69_RawInc,
b.IOG_LITAssess69_StartOffSlid,
b.IOG_LITAssess69_SOSMoveOn,
b.IOG_LITAssess39_anyRawDP,
b.IOG_LITAssess39_2RawDP,
b.IOG_LITAssess39_2PerfLvlDP_LOCAL,
b.IOG_LITAssess39_2PerfLvlDP_NORM,
b.IOG_LITAssess39_RawInc,
b.IOG_LITAssess39_StartOffSlid,
b.IOG_LITAssess39_SOSMoveOn,
b.DN_LITAssess69_anyRawDP,
b.DN_LITAssess69_2RawDP,
b.DN_LITAssess69_2PerfLvlDP_LOCAL,
b.DN_LITAssess69_2PerfLvlDP_NORM,
b.DN_LITAssess69_RawInc,
b.DN_LITAssess69_StartOffSlid,
b.DN_LITAssess69_SOSMoveOn,
b.OG_MET_IMP as LitAssess_OG_MET_IMP,
b.OG_MET_PERF_LVL as LitAssess_OG_MET_PERF_LVL,
b.LITASSESS_METPERFGROWTH,
b.LITASSESS_AC_METGOAL,
b.IOG_LITAssess35_MetPerfGrowth,
b.IOG_LITAssess69_MetPerfGrowth,
b.IOG_LITAssess39_MetPerfGrowth,
c.SKILL_DESCRIPTION as MthAssess_SKILL_DESCRIPTION,
c.DATA_TYPE as MthAssess_DATA_TYPE,
c.PRE_ASSESSMENT_DATE as MthAssess_PRE_ASSESSMENT_DATE,
c.PRE_INTERVAL as MthAssess_PRE_INTERVAL,
c.PRE_VALUE as MthAssess_PRE_VALUE,
c.PRE_SCALE_LOCAL as MthAssess_PRE_SCALE_LOCAL,
c.PRE_SCALE_NORM as MthAssess_PRE_SCALE_NORM,
c.PRE_SCALE_RANK_LOCAL as MthAssess_PRE_SCALE_RANK_LOCAL,
c.PRE_SCALE_RANK_NORM as MthAssess_PRE_SCALE_RANK_NORM,
c.PRE_ALPHA_SCORE_RANK as MthAssess_PRE_ALPHA_SCORE_RANK,
c.PRE_ALPHA_SCORE_RANK_NORM as MthAssess_PRE_ALPHA_SCORE_RANK_NORM,
c.PRE_TARGET_SCORE as MthAssess_PRE_TARGET_SCORE,
c.PRE_ALPHA_TARGET_SCORE_RANK as MthAssess_PRE_ALPHA_TARGET_SCORE_RANK,
c.PRE_ALPHA_TARGET_SCORE_RANK_NORM as MthAssess_PRE_ALPHA_TARGET_SCORE_RANK_NORM,
c.PRE_MET_TARGET_SCORE as MthAssess_PRE_MET_TARGET_SCORE,
c.MY_ASSESSMENT_DATE as MthAssess_MY_ASSESSMENT_DATE,
c.MY_INTERVAL as MthAssess_MY_INTERVAL,
c.MY_VALUE as MthAssess_MY_VALUE,
c.MY_SCALE_LOCAL as MthAssess_MY_SCALE_LOCAL,
c.MY_SCALE_NORM as MthAssess_MY_SCALE_NORM,
c.MY_SCALE_RANK_LOCAL as MthAssess_MY_SCALE_RANK_LOCAL,
c.MY_SCALE_RANK_NORM as MthAssess_MY_SCALE_RANK_NORM,
c.MY_ALPHA_SCORE_RANK as MthAssess_MY_ALPHA_SCORE_RANK,
c.MY_ALPHA_SCORE_RANK_NORM as MthAssess_MY_ALPHA_SCORE_RANK_NORM,
c.MY_TARGET_SCORE as MthAssess_MY_TARGET_SCORE,
c.MY_ALPHA_TARGET_SCORE_RANK as MthAssess_MY_ALPHA_TARGET_SCORE_RANK,
c.MY_ALPHA_TARGET_SCORE_RANK_NORM as MthAssess_MY_ALPHA_TARGET_SCORE_RANK_NORM,
c.MY_MET_TARGET_SCORE as MthAssess_MY_MET_TARGET_SCORE,
c.POST_ASSESSMENT_DATE as MthAssess_POST_ASSESSMENT_DATE,
c.POST_INTERVAL as MthAssess_POST_INTERVAL,
c.POST_VALUE as MthAssess_POST_VALUE,
c.POST_SCALE_LOCAL as MthAssess_POST_SCALE_LOCAL,
c.POST_SCALE_NORM as MthAssess_POST_SCALE_NORM,
c.POST_SCALE_RANK_LOCAL as MthAssess_POST_SCALE_RANK_LOCAL,
c.POST_SCALE_RANK_NORM as MthAssess_POST_SCALE_RANK_NORM,
c.POST_ALPHA_SCORE_RANK as MthAssess_POST_ALPHA_SCORE_RANK,
c.POST_ALPHA_SCORE_RANK_NORM as MthAssess_POST_ALPHA_SCORE_RANK_NORM,
c.POST_TARGET_SCORE as MthAssess_POST_TARGET_SCORE,
c.POST_ALPHA_TARGET_SCORE_RANK as MthAssess_POST_ALPHA_TARGET_SCORE_RANK,
c.POST_ALPHA_TARGET_SCORE_RANK_NORM as MthAssess_POST_ALPHA_TARGET_SCORE_RANK_NORM,
c.POST_MET_TARGET_SCORE as MthAssess_POST_MET_TARGET_SCORE,
c.MY_RAWCHANGE as MthAssess_MY_RAWCHANGE,
c.MY_RAWCHANGE_DEGREE as MthAssess_MY_RAWCHANGE_DEGREE,
c.RAWCHANGE as MthAssess_RAWCHANGE,
c.RAWCHANGE_DEGREE as MthAssess_RAWCHANGE_DEGREE,
c.MY_SCALE_CHANGE_LOCAL as MthAssess_MY_SCALE_CHANGE_LOCAL,
c.SCALE_CHANGE_LOCAL as MthAssess_SCALE_CHANGE_LOCAL,
C.SCALE_CHANGE_LOCAL_DEGREE AS MthAssess_SCALE_CHANGE_LOCAL_DEGREE,
c.MY_SCALE_CHANGE_NORM as MthAssess_MY_SCALE_CHANGE_NORM,
c.SCALE_CHANGE_NORM as MthAssess_SCALE_CHANGE_NORM,
c.SCALE_CHANGE_NORM_DEGREE AS MthAssess_SCALE_CHANGE_NORM_DEGREE,
c.MY_SCALE_CHANGE_LOCAL_TEXT as MthAssess_MY_SCALE_CHANGE_LOCAL_TEXT,
c.SCALE_CHANGE_LOCAL_TEXT as MthAssess_SCALE_CHANGE_LOCAL_TEXT,
c.MY_SCALE_CHANGE_NORM_TEXT as MthAssess_MY_SCALE_CHANGE_NORM_TEXT,
c.SCALE_CHANGE_NORM_TEXT as MthAssess_SCALE_CHANGE_NORM_TEXT,
c.STARTOFFSLIDING as MthAssess_STARTOFFSLIDING,
c.MY_SOS_MoveOn as MthAssess_MY_SOS_MoveOn,
c.SOS_MoveOn as MthAssess_SOS_MoveOn,
c.F1 as SMIGrade,
c.[Below Basic] as SMIBelowBasic_GrowthTarget,
c.[Basic] as SMIBasic_GrowthTarget,
c.[Proficient] as SMIProficient_GrowthTarget,
c.[Advanced] as SMIAdvanced_GrowthTarget,
c.IOG_CRITERIA as MthAssess_IOG_CRITERIA,
c.DN_CRITERIA as MthAssess_DN_CRITERIA,
c.MATHASSESS_ANYRAWDP,
c.MATHASSESS_2RAWDP,
c.MATHASSESS_2PerfLvlDP_LOCAL,
c.MATHASSESS_2PerfLvlDP_NORM,
c.MathAssess_RawInc,
c.MathAssess_StartOffSlid,
c.MathAssess_SOSMoveOn,
c.SMI_Target,
c.IOG_MATHAssess35_anyRawDP,
c.IOG_MATHAssess35_2RawDP,
c.IOG_MATHAssess35_2PerfLvlDP_LOCAL,
c.IOG_MATHAssess35_2PerfLvlDP_NORM,
c.IOG_MATHAssess35_RawInc,
c.IOG_MATHAssess35_StartOffSlid,
c.IOG_MATHAssess35_SOSMoveOn,
c.IOG_MATHAssess69_anyRawDP,
c.IOG_MATHAssess69_2RawDP,
c.IOG_MATHAssess69_2PerfLvlDP_LOCAL,
c.IOG_MATHAssess69_2PerfLvlDP_NORM,
c.IOG_MATHAssess69_RawInc,
c.IOG_MATHAssess69_StartOffSlid,
c.IOG_MATHAssess69_SOSMoveOn,
c.IOG_MATHAssess39_anyRawDP,
c.IOG_MATHAssess39_2RawDP,
c.IOG_MATHAssess39_2PerfLvlDP_LOCAL,
c.IOG_MATHAssess39_2PerfLvlDP_NORM,
c.IOG_MATHAssess39_RawInc,
c.IOG_MATHAssess39_StartOffSlid,
c.IOG_MATHAssess39_SOSMoveOn,
c.DN_MATHAssess69_anyRawDP,
c.DN_MATHAssess69_2RawDP,
c.DN_MATHAssess69_2PerfLvlDP_LOCAL,
c.DN_MATHAssess69_2PerfLvlDP_NORM,
c.DN_MATHAssess69_RawInc,
c.DN_MATHAssess69_StartOffSlid,
c.DN_MATHAssess69_SOSMoveOn,
c.AC_MET_IMP as MthAssess_AC_MET_IMP,
c.AC_MET_PERF_LVL as MthAssess_AC_MET_PERF_LVL,
c.OG_MET_IMP as MthAssess_OG_MET_IMP,
c.OG_MET_PERF_LEVEL as MthAssess_OG_MET_PERF_LEVEL,
c.MATHASSESS_IOG_METPERFGROWTH,
c.MATHASSESS_AC_METGOAL,
c.IOG_MATHAssess35_MetPerfGrowth,
c.IOG_MATHAssess69_MetPerfGrowth,
c.IOG_MATHAssess39_MetPerfGrowth,
D.SKILL_DESCRIPTION AS DESSA_SKILL_DESCRIPTION,
D.PRE_DATE AS DESSA_PRE_DATE,
D.PRE_VALUE AS DESSA_PRE_VALUE,
D.PRE_VALUE_DESC AS DESSA_PRE_VALUE_DESC,
D.MY_DATE AS DESSA_MY_DATE,
D.MY_VALUE AS DESSA_MY_VALUE,
D.MY_VALUE_DESC AS DESSA_MY_VALUE_DESC,
D.POST_DATE AS DESSA_POST_DATE,
D.POST_VALUE AS DESSA_POST_VALUE,
D.POST_VALUE_DESC AS DESSA_POST_VALUE_DESC,
D.MY_DAYS_BETWEEN_ASSESSMENTS AS DESSA_MY_DAYS_BETWEEN_ASSESSMENTS,
D.DAYS_BETWEEN_ASSESSMENTS AS DESSA_DAYS_BETWEEN_ASSESSMENTS,
D.MY_RAWCHANGE AS DESSA_MY_RAWCHANGE,
D.RAWCHANGE AS DESSA_RAWCHANGE,
D.MY_RAWCHANGE_DEGREE AS DESSA_MY_RAWCHANGE_DEGREE,
D.RAWCHANGE_DEGREE AS DESSA_RAWCHANGE_DEGREE,
D.MY_DESC_CHANGE AS DESSA_MY_DESC_CHANGE,
D.DESC_CHANGE AS DESSA_DESC_CHANGE,
D.MY_DESC_CHANGE_DEGREE AS DESSA_MY_DESC_CHANGE_DEGREE,
D.DESC_CHANGE_DEGREE AS DESSA_DESC_CHANGE_DEGREE,
D.DESSA_ANYRAWDP AS DESSA_ANYRAWDP,
D.DESSA_2RAWDP AS DESSA_2RAWDP,
D.DESSA_4PTIMP AS DESSA_4PTIMP,
D.DESSA_ANYRAWIMP AS DESSA_ANYRAWIMP,
D.DESSA_START_NEED,
D.DESSA_STARTN_ENDTS,
D.DESSA_STARTTS_ENDTS,
D.AC_MET_IMP AS DESSA_AC_MET_IMP,
D.IOG_DESSA35_anyRawDP,
D.IOG_DESSA35_2RAWDP,
D.IOG_DESSA35_4PTIMP,
D.IOG_DESSA35_ANYRAWIMP,
D.IOG_DESSA35_START_NEED,
D.IOG_DESSA35_STARTN_ENDTS,
D.IOG_DESSA35_STARTTS_ENDTS,
D.IOG_DESSA69_anyRawDP,
D.IOG_DESSA69_2RAWDP,
D.IOG_DESSA69_4PTIMP,
D.IOG_DESSA69_ANYRAWIMP,
D.IOG_DESSA69_START_NEED,
D.IOG_DESSA69_STARTN_ENDTS,
D.IOG_DESSA69_STARTTS_ENDTS,
D.IOG_DESSA39_anyRawDP,
D.IOG_DESSA39_2RAWDP,
D.IOG_DESSA39_4PTIMP,
D.IOG_DESSA39_ANYRAWIMP,
D.IOG_DESSA39_START_NEED],
D.IOG_DESSA39_STARTN_ENDTS],
D.IOG_DESSA39_STARTTS_ENDTS],
D.DN_DESSA69_anyRawDP,
D.DN_DESSA69_2RAWDP,
D.DN_DESSA69_4PTIMP,
D.DN_DESSA69_ANYRAWIMP,
D.DN_DESSA69_START_NEED,
D.DN_DESSA69_STARTN_ENDTS],
D.DN_DESSA69_STARTTS_ENDTS],
e.SKILL_DESCRIPTION as BEHSUS_SKILL_DESCRIPTION,
e.DATA_TYPE as BEHSUS_DATA_TYPE,
e.PRE_INTERVAL as BEHSUS_PRE_INTERVAL,
e.PRE_DATE as BEHSUS_PRE_DATE,
e.PRE_VALUE as BEHSUS_PRE_VALUE,
e.MY_INTERVAL as BEHSUS_MY_INTERVAL,
e.MY_DATE as BEHSUS_MY_DATE,
e.MY_VALUE as BEHSUS_MY_VALUE,
e.POST_INTERVAL as BEHSUS_POST_INTERVAL,
e.POST_DATE as BEHSUS_POST_DATE,
e.POST_VALUE as BEHSUS_POST_VALUE,
e.MY_RAWCHANGE as BEHSUS_MY_RAWCHANGE,
e.MY_RAWCHANGE_DEGREE as BEHSUS_MY_RAWCHANGE_DEGREE,
e.RAWCHANGE as BEHSUS_RAWCHANGE,
e.RAWCHANGE_DEGREE as BEHSUS_RAWCHANGE_DEGREE,
e.PRE_EWI as BEHSUS_PRE_EWI,
e.PRE_EWI_TEXT as BEHSUS_PRE_EWI_TEXT,
e.MY_EWI as BEHSUS_MY_EWI,
e.MY_EWI_TEXT as BEHSUS_MY_EWI_TEXT,
e.POST_EWI as BEHSUS_POST_EWI,
e.POST_EWI_TEXT as BEHSUS_POST_EWI_TEXT,
e.MY_EWI_CHANGE as BEHSUS_MY_EWI_CHANGE,
e.POST_EWI_CHANGE as BEHSUS_POST_EWI_CHANGE,
e.BEHSUS_ANYRAWDP as BEHSUS_BEHSUS_ANYRAWDP,
e.BEHSUS_2RAWDP as BEHSUS_BEHSUS_2RAWDP,
e.StartEWI_EndNoEWI as BEHSUS_StartEWI_EndNoEWI,
e.START_EWI AS BEHSUS_Start_EWI,
e.RawImp as BEHSUS_RawImp,
e.AC_MET_IMP as BEHSUS_AC_MET_IMP,
e.IOG_BEHSUS35_ANYRAWDP,
e.IOG_BEHSUS35_2RAWDP,
e.IOG_BEHSUS35_StartEWI_EndNoEWI,
e.IOG_BEHSUS35_Start_EWI,
e.IOG_BEHSUS35_RawImp,
e.IOG_BEHSUS69_ANYRAWDP,
e.IOG_BEHSUS69_2RAWDP,
e.IOG_BEHSUS69_StartEWI_EndNoEWI,
e.IOG_BEHSUS69_RawImp,
e.IOG_BEHSUS69_Start_EWI,
e.IOG_BEHSUS39_ANYRAWDP,
e.IOG_BEHSUS39_2RAWDP,
e.IOG_BEHSUS39_StartEWI_EndNoEWI,
e.IOG_BEHSUS39_RawImp,
e.IOG_BEHSUS39_Start_EWI,
e.DN_BEHSUS69_ANYRAWDP,
e.DN_BEHSUS69_2RAWDP,
e.DN_BEHSUS69_StartEWI_EndNoEWI,
e.DN_BEHSUS69_RawImp,
e.DN_BEHSUS69_Start_EWI,
f.SKILL_DESCRIPTION as ELACG_SKILL_DESCRIPTION,
f.PRE_INTERVAL as ELACG_PRE_INTERVAL,
f.PRE_DATE as ELACG_PRE_DATE,
f.PRE_VALUE as ELACG_PRE_VALUE,
f.PRE_VALUE_NUM_LOCAL as ELACG_PRE_VALUE_NUM_LOCAL,
f.PRE_VALUE_NUM_NORM as ELACG_PRE_VALUE_NUM_NORM,
f.PRE_SCALE_LOCAL as ELACG_PRE_SCALE_LOCAL,
f.PRE_SCALE_NORM as ELACG_PRE_SCALE_NORM,
f.PRE_SCALE_RANK_LOCAL as ELACG_PRE_SCALE_RANK_LOCAL,
f.PRE_SCALE_NORM_RANK as ELACG_PRE_SCALE_NORM_RANK,
f.MY_INTERVAL as ELACG_MY_INTERVAL,
f.MY_DATE as ELACG_MY_DATE,
f.MY_VALUE as ELACG_MY_VALUE,
f.MY_VALUE_NUM_LOCAL as ELACG_MY_VALUE_NUM_LOCAL,
f.MY_VALUE_NUM_NORM as ELACG_MY_VALUE_NUM_NORM,
f.MY_SCALE_LOCAL as ELACG_MY_SCALE_LOCAL,
f.MY_SCALE_NORM as ELACG_MY_SCALE_NORM,
f.MY_SCALE_RANK_LOCAL as ELACG_MY_SCALE_RANK_LOCAL,
f.MY_SCALE_NORM_RANK as ELACG_MY_SCALE_NORM_RANK,
f.POST_INTERVAL as ELACG_POST_INTERVAL,
f.POST_DATE as ELACG_POST_DATE,
f.POST_VALUE as ELACG_POST_VALUE,
f.POST_VALUE_NUM_LOCAL as ELACG_POST_VALUE_NUM_LOCAL,
f.POST_VALUE_NUM_NORM as ELACG_POST_VALUE_NUM_NORM,
f.POST_SCALE_LOCAL as ELACG_POST_SCALE_LOCAL,
f.POST_SCALE_NORM as ELACG_POST_SCALE_NORM,
f.POST_SCALE_RANK_LOCAL as ELACG_POST_SCALE_RANK_LOCAL,
f.POST_SCALE_NORM_RANK as ELACG_POST_SCALE_NORM_RANK,
f.MY_RAWCHANGE as ELACG_MY_RAWCHANGE,
f.RAWCHANGE as ELACG_RAWCHANGE,
f.MY_RAWCHANGE_NUM_LOCAL as ELACG_MY_RAWCHANGE_NUM_LOCAL,
f.RAWCHANGE_NUM_LOCAL as ELACG_RAWCHANGE_NUM_LOCAL,
f.MY_RAWCHANGE_NUM_NORM as ELACG_MY_RAWCHANGE_NUM_NORM,
f.RAWCHANGE_NUM_NORM as ELACG_RAWCHANGE_NUM_NORM,
f.MY_RAWCHANGE_NUM_LOCAL_DEGREE as ELACG_MY_RAWCHANGE_NUM_LOCAL_DEGREE,
f.RAWCHANGE_NUM_LOCAL_DEGREE as ELACG_RAWCHANGE_NUM_LOCAL_DEGREE,
f.MY_RAWCHANGE_NUM_NORM_DEGREE as ELACG_MY_RAWCHANGE_NUM_NORM_DEGREE,
f.RAWCHANGE_NUM_NORM_DEGREE as ELACG_RAWCHANGE_NUM_NORM_DEGREE,
f.MY_SCALE_CHANGE_LOCAL as ELACG_MY_SCALE_CHANGE_LOCAL,
f.SCALE_CHANGE_LOCAL as ELACG_SCALE_CHANGE_LOCAL,
F.SCALE_CHANGE_LOCAL_DEGREE AS ELACG_SCALE_CHANGE_LOCAL_DEGREE,
f.MY_SCALE_CHANGE_NORM as ELACG_MY_SCALE_CHANGE_NORM,
f.SCALE_CHANGE_NORM as ELACG_SCALE_CHANGE_NORM,
F.SCALE_CHANGE_NORM_DEGREE AS ELACG_SCALE_CHANGE_NORM_DEGREE,
f.MY_SCALE_CHANGE_LOCAL_TEXT as ELACG_MY_SCALE_CHANGE_LOCAL_TEXT,
f.SCALE_CHANGE_LOCAL_TEXT as ELACG_SCALE_CHANGE_LOCAL_TEXT,
f.MY_SCALE_CHANGE_NORM_TEXT as ELACG_MY_SCALE_CHANGE_NORM_TEXT,
f.SCALE_CHANGE_NORM_TEXT as ELACG_SCALE_CHANGE_NORM_TEXT,
f.MY_SOS_MoveOn as ELACG_MY_SOS_MoveOn,
f.MY_INCGRADELEVEL as ELACG_MY_INCGRADELEVEL,
f.ELACG_anyRawDP as ELACG_ELACG_anyRawDP,
f.ELACG_2RawDP as ELACG_ELACG_2RawDP,
f.ELACG_2LOCAL_PERFLVLDP as ELACG_ELACG_2LOCAL_PERFLVLDP,
f.ELACG_2NORM_PERFLVLDP as ELACG_ELACG_2NORM_PERFLVLDP,
f.ELACG_StartBelowB as ELACG_ELACG_StartBelowB,
f.ELACG_StartOffSlid as ELACG_ELACG_StartOffSlid,
f.ELACG_IncreaseGradeLevel as ELACG_ELACG_IncreaseGradeLevel,
f.ELACG_SOSMoveON as ELACG_ELACG_SOSMoveON,
f.ELACG_StartOnStayOn,
f.IOG_ELACG69_anyRawDP,
f.IOG_ELACG69_2RawDP,
f.IOG_ELACG69_2LOCAL_PERFLVLDP,
f.IOG_ELACG69_2NORM_PERFLVLDP,
f.IOG_ELACG69_StartBelowB,
f.IOG_ELACG69_StartOffSlid,
f.IOG_ELACG69_IncreaseGradeLevel,
f.IOG_ELACG69_SOSMoveON,
f.IOG_ELAG69_StartOnStayOn,
f.DN_ELACG69_anyRawDP,
f.DN_ELACG69_2RawDP,
f.DN_ELACG69_2LOCAL_PERFLVLDP,
f.DN_ELACG69_2NORM_PERFLVLDP,
f.DN_ELACG69_StartBelowB,
f.DN_ELACG69_StartOffSlid,
f.DN_ELACG69_IncreaseGradeLevel,
f.DN_ELACG69_SOSMoveON,
f.DN_ELACG69_StartOnStayOn,
g.SKILL_DESCRIPTION as MATHCG_SKILL_DESCRIPTION,
g.PRE_INTERVAL as MATHCG_PRE_INTERVAL,
g.PRE_DATE as MATHCG_PRE_DATE,
g.PRE_VALUE as MATHCG_PRE_VALUE,
g.PRE_VALUE_NUM_LOCAL as MATHCG_PRE_VALUE_NUM_LOCAL,
g.PRE_VALUE_NUM_NORM as MATHCG_PRE_VALUE_NUM_NORM,
g.PRE_SCALE_LOCAL as MATHCG_PRE_SCALE_LOCAL,
g.PRE_SCALE_NORM as MATHCG_PRE_SCALE_NORM,
g.PRE_SCALE_RANK_LOCAL as MATHCG_PRE_SCALE_RANK_LOCAL,
g.PRE_SCALE_NORM_RANK as MATHCG_PRE_SCALE_NORM_RANK,
g.MY_INTERVAL as MATHCG_MY_INTERVAL,
g.MY_DATE as MATHCG_MY_DATE,
g.MY_VALUE as MATHCG_MY_VALUE,
g.MY_VALUE_NUM_LOCAL as MATHCG_MY_VALUE_NUM_LOCAL,
g.MY_VALUE_NUM_NORM as MATHCG_MY_VALUE_NUM_NORM,
g.MY_SCALE_LOCAL as MATHCG_MY_SCALE_LOCAL,
g.MY_SCALE_NORM as MATHCG_MY_SCALE_NORM,
g.MY_SCALE_RANK_LOCAL as MATHCG_MY_SCALE_RANK_LOCAL,
g.MY_SCALE_NORM_RANK as MATHCG_MY_SCALE_NORM_RANK,
g.POST_INTERVAL as MATHCG_POST_INTERVAL,
g.POST_DATE as MATHCG_POST_DATE,
g.POST_VALUE as MATHCG_POST_VALUE,
g.POST_VALUE_NUM_LOCAL as MATHCG_POST_VALUE_NUM_LOCAL,
g.POST_VALUE_NUM_NORM as MATHCG_POST_VALUE_NUM_NORM,
g.POST_SCALE_LOCAL as MATHCG_POST_SCALE_LOCAL,
g.POST_SCALE_NORM as MATHCG_POST_SCALE_NORM,
g.POST_SCALE_RANK_LOCAL as MATHCG_POST_SCALE_RANK_LOCAL,
g.POST_SCALE_NORM_RANK as MATHCG_POST_SCALE_NORM_RANK,
g.MY_RAWCHANGE as MATHCG_MY_RAWCHANGE,
g.RAWCHANGE as MATHCG_RAWCHANGE,
g.MY_RAWCHANGE_NUM_LOCAL as MATHCG_MY_RAWCHANGE_NUM_LOCAL,
g.RAWCHANGE_NUM_LOCAL as MATHCG_RAWCHANGE_NUM_LOCAL,
g.MY_RAWCHANGE_NUM_NORM as MATHCG_MY_RAWCHANGE_NUM_NORM,
g.RAWCHANGE_NUM_NORM as MATHCG_RAWCHANGE_NUM_NORM,
g.MY_RAWCHANGE_NUM_LOCAL_DEGREE as MATHCG_MY_RAWCHANGE_NUM_LOCAL_DEGREE,
g.RAWCHANGE_NUM_LOCAL_DEGREE as MATHCG_RAWCHANGE_NUM_LOCAL_DEGREE,
g.MY_RAWCHANGE_NUM_NORM_DEGREE as MATHCG_MY_RAWCHANGE_NUM_NORM_DEGREE,
g.RAWCHANGE_NUM_NORM_DEGREE as MATHCG_RAWCHANGE_NUM_NORM_DEGREE,
g.MY_SCALE_CHANGE_LOCAL as MATHCG_MY_SCALE_CHANGE_LOCAL,
g.SCALE_CHANGE_LOCAL as MATHCG_SCALE_CHANGE_LOCAL,
G.SCALE_CHANGE_LOCAL_DEGREE AS MATHCG_SCALE_CHANGE_LOCAL_DEGREE,
g.MY_SCALE_CHANGE_NORM as MATHCG_MY_SCALE_CHANGE_NORM,
g.SCALE_CHANGE_NORM as MATHCG_SCALE_CHANGE_NORM,
G.SCALE_CHANGE_NORM_DEGREE AS MTHCG_SCALE_CHANGE_NORM_DEGREE,
g.MY_SCALE_CHANGE_LOCAL_TEXT as MATHCG_MY_SCALE_CHANGE_LOCAL_TEXT,
g.SCALE_CHANGE_LOCAL_TEXT as MATHCG_SCALE_CHANGE_LOCAL_TEXT,
g.MY_SCALE_CHANGE_NORM_TEXT as MATHCG_MY_SCALE_CHANGE_NORM_TEXT,
g.SCALE_CHANGE_NORM_TEXT as MATHCG_SCALE_CHANGE_NORM_TEXT,
g.MY_SOS_MoveOn as MATHCG_MY_SOS_MoveOn,
g.MY_INCGRADELEVEL as MATHCG_MY_INCGRADELEVEL,
g.MATHCG_anyRawDP as MATHCG_MATHCG_anyRawDP,
g.MATHCG_2RawDP as MATHCG_MATHCG_2RawDP,
g.MATHCG_2LOCAL_PERFLVLDP as MATHCG_MATHCG_2LOCAL_PERFLVLDP,
g.MATHCG_2NORM_PERFLVLDP as MATHCG_MATHCG_2NORM_PERFLVLDP,
g.MATHCG_StartBelowB as MATHCG_MATHCG_StartBelowB,
g.MATHCG_StartOffSlid as MATHCG_MATHCG_StartOffSlid,
g.MATHCG_IncreaseGradeLevel as MATHCG_MATHCG_IncreaseGradeLevel,
g.MATHCG_SOSMoveON as MATHCG_MATHCG_SOSMoveON,
g.MATHCG_StartOnStayOn,
g.IOG_MATHCG69_anyRawDP,
g.IOG_MATHCG69_2RawDP,
g.IOG_MATHCG69_2LOCAL_PERFLVLDP,
g.IOG_MATHCG69_2NORM_PERFLVLDP,
g.IOG_MATHCG69_StartBelowB,
g.IOG_MATHCG69_StartOffSlid,
g.IOG_MATHCG69_IncreaseGradeLevel,
g.IOG_MATHCG69_SOSMoveON,
g.IOG_MATHCG69_StartOnStayOn,
g.DN_MATHCG69_anyRawDP,
g.DN_MATHCG69_2RawDP,
g.DN_MATHCG69_2LOCAL_PERFLVLDP,
g.DN_MATHCG69_2NORM_PERFLVLDP,
g.DN_MATHCG69_StartBelowB,
g.DN_MATHCG69_StartOffSlid,
g.DN_MATHCG69_IncreaseGradeLevel,
g.DN_MATHCG69_SOSMoveON,
g.DN_MATHCG69_StartOnStayOn,
	h.SKILL_DESCRIPTION as ATT_SKILL_DESCRIPTION,
		h.PRE_DATE as ATT_PRE_DATE,
		h.PRE_INTERVAL as ATT_PRE_INTERVAL,
		h.PRE_VALUE as ATT_PRE_VALUE,
		h.PRE_SCALE_LOCAL as ATT_PRE_SCALE_LOCAL,
		h.PRE_SCALE_NORM as ATT_PRE_SCALE_NORM,
		h.PRE_SCALE_RANK_LOCAL as ATT_PRE_SCALE_RANK_LOCAL,
		h.PRE_SCALE_RANK_NORM as ATT_PRE_SCALE_RANK_NORM,
		h.MY_DATE as ATT_MY_DATE,
		h.MY_INTERVAL as ATT_MY_INTERVAL,
		h.MY_VALUE as ATT_MY_VALUE,
		h.MY_SCALE_LOCAL as ATT_MY_SCALE_LOCAL,
		h.MY_SCALE_NORM as ATT_MY_SCALE_NORM,
		h.MY_SCALE_RANK_LOCAL as ATT_MY_SCALE_RANK_LOCAL,
		h.MY_SCALE_RANK_NORM as ATT_MY_SCALE_RANK_NORM,
		h.POST_DATE as ATT_POST_DATE,
		h.INTERVAL as ATT_INTERVAL,
		h.POST_VALUE as ATT_POST_VALUE,
		h.POST_SCALE_LOCAL as ATT_POST_SCALE_LOCAL,
		h.POST_SCALE_NORM as ATT_POST_SCALE_NORM,
		h.POST_SCALE_RANK_LOCAL as ATT_POST_SCALE_RANK_LOCAL,
		h.POST_SCALE_RANK_NORM as ATT_POST_SCALE_RANK_NORM,
		h.MY_RAWCHANGE as ATT_MY_RAWCHANGE,
		h.MY_RAWCHANGE_DEGREE as ATT_MY_RAWCHANGE_DEGREE,
		h.RAWCHANGE as ATT_RAWCHANGE,
		h.RAWCHANGE_DEGREE as ATT_RAWCHANGE_DEGREE,
		h.MY_SCALE_CHANGE_LOCAL as ATT_MY_SCALE_CHANGE_LOCAL,
		h.MY_SCALE_CHANGE_LOCAL_TEXT as ATT_MY_SCALE_CHANGE_LOCAL_TEXT,
		h.SCALE_CHANGE_LOCAL as ATT_SCALE_CHANGE_LOCAL,
		H.SCALE_CHANGE_LOCAL_DEGREE AS ATT_SCALE_CHANGE_LOCAL_DEGREE,
		h.SCALE_CHANGE_LOCAL_TEXT as ATT_SCALE_CHANGE_LOCAL_TEXT,
		h.MY_SCALE_CHANGE_NORM as ATT_MY_SCALE_CHANGE_NORM,
		h.MY_SCALE_CHANGE_NORM_TEXT as ATT_MY_SCALE_CHANGE_NORM_TEXT,
		h.SCALE_CHANGE_NORM as ATT_SCALE_CHANGE_NORM,
		H.SCALE_CHANGE_NORM_DEGREE AS ATT_SCALE_CHANGE_NORM_DEGREE,
		h.SCALE_CHANGE_NORM_TEXT as ATT_SCALE_CHANGE_NORM_TEXT,
		h.MY_SOS_MoveOn as ATT_MY_SOS_MoveOn,
		h.MY_SHOW_1PERC_INC as ATT_MY_SHOW_1PERC_INC,
		h.SHOW_1PERC_INC as ATT_SHOW_1PERC_INC,
		h.MY_SHOW_2PERC_INC as ATT_MY_SHOW_2PERC_INC,
		h.SHOW_2PERC_INC as ATT_SHOW_2PERC_INC,
		h.ATT_anyRawDP,
		h.ATT_2RawDP,
		H.IOG_ATT_ANYRAWDP,
		H.IOG_ATT_2RAWDP,
		h.ATT_2PerfLvlDP_Local,
		h.ATT_2PerfLvlDP_Norm,
		h.ATT_StartLTE99ADA,
		h.ATT_StartLTE98ADA,
		h.ATT_StartLT90ADA,
		h.ATT_SOSMoveOn,
		h.ATT_1PercInc,
		h.ATT_2PERCINC,
		h.ATT_StartOnStayOn,
		h.IOG_CRITERIA as ATT_IOG_CRITERIA,
		h.DN_CRITERIA as ATT_DN_CRITERIA,
		h.IOG_ATT69_anyRawDP,
		h.IOG_ATT69_2RawDP,
		h.IOG_ATT69_2PerfLvlDP_Local,
		h.IOG_ATT69_2PerfLvlDP_Norm,
		h.IOG_ATT69_StartLTE99ADA,
		h.IOG_ATT69_StartLTE98ADA,
		h.IOG_ATT69_StartLT90ADA,
		h.IOG_ATT69_SOSMoveOn,
		h.IOG_ATT69_1PercInc,
		h.IOG_ATT69_2PercInc,
		h.IOG_ATT69_StartOnStayOn,
		h.DN_ATT69_anyRawDP,
		h.DN_ATT69_2RawDP,
		h.DN_ATT69_2PerfLvlDP_Local,
		h.DN_ATT69_2PerfLvlDP_Norm,
		h.DN_ATT69_StartLTE99ADA,
		h.DN_ATT69_StartLTE98ADA,
		h.DN_ATT69_StartLT90ADA,
		h.DN_ATT69_SOSMoveOn,
		h.DN_ATT69_1PercInc,
		h.DN_ATT69_2PercInc,
		h.DN_ATT69_StartOnStayOn,
		h.ATT_METACGOAL
FROM Eval_Labs.dbo.FY16_EVAL_STUDENTLEVELFILE A
LEFT JOIN [Eval_Labs].[dbo].[LitAssessment] B
ON A.CYSCHOOLHOUSE_STUDENT_ID=B.CYSCHOOLHOUSE_STUDENT_ID
LEFT JOIN [Eval_Labs].[dbo].[MthAssessment] C
ON A.CYSCHOOLHOUSE_STUDENT_ID=C.CYSCHOOLHOUSE_STUDENT_ID
LEFT JOIN [Eval_Labs].[dbo].[DESSA_mini] D
ON A.CYSCHOOLHOUSE_STUDENT_ID = D.CYSCHOOLHOUSE_STUDENT_ID
left join [Eval_Labs].[dbo].[BEH_SUSP] E
on a.cyschoolhouse_student_id=e.cyschoolhouse_student_id
left join [Eval_Labs].[dbo].[elacg] f
on a.cyschoolhouse_student_id = f.cyschoolhouse_student_id 
left join [Eval_Labs].[dbo].[mathcg] g
on a.cyschoolhouse_student_id=g.cyschoolhouse_student_id
left join [eval_labs].[dbo].[attendance] h
on a.cyschoolhouse_student_id=h.cyschoolhouse_student_id
) i
*/

END

GO
