USE [EVAL_Labs]
GO
/****** Object:  StoredProcedure [dbo].[sp_FY17_MathAssess]    Script Date: 12/19/2016 4:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_FY17_MathAssess]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT A.*, B.*,
	DATEDIFF (D, PRE_ASSESSMENT_DATE, POST_ASSESSMENT_DATE) AS MTHASSESS_DATEDIFF,
		CASE WHEN DIPLOMAS_NOW_SCHOOL=0 AND MATH_IA=1 AND ENROLLED_DAYS>0 AND STATUS_JUNE_DOSAGE_GOAL=1 THEN 1 ELSE NULL END AS IOG_CRITERIA,
		CASE WHEN DIPLOMAS_NOW_SCHOOL=1 AND MATH_IA=1 AND ENROLLED_DAYS>0 AND STATUS_JUNE_DOSAGE_GOAL=1 THEN 1 ELSE NULL END AS DN_CRITERIA,
		CASE WHEN PRE_VALUE IS NOT NULL THEN 1 ELSE 0 END AS MATHASSESS_ANYRAWDP,
		CASE WHEN PRE_VALUE IS NOT NULL AND POST_VALUE IS NOT NULL THEN 1 ELSE 0 END AS MATHASSESS_2RAWDP,
		CASE WHEN PRE_SCALE_LOCAL IS NOT NULL AND POST_SCALE_LOCAL IS NOT NULL THEN 1 ELSE 0 END AS MATHASSESS_2PerfLvlDP_LOCAL,
		CASE WHEN PRE_SCALE_NORM IS NOT NULL AND POST_SCALE_NORM IS NOT NULL THEN 1 ELSE 0 END AS MATHASSESS_2PerfLvlDP_NORM,
		CASE WHEN rawchange> 0 then 1 
			 WHEN rawchange<=0 then 0 else null enD AS MathAssess_RawInc, 
		CASE WHEN PRE_SCALE_NORM IS NOT NULL AND POST_SCALE_NORM IS NOT NULL THEN STARTOFFSLIDING END AS MathAssess_StartOffSlid, 
		CASE WHEN PRE_SCALE_NORM IS NOT NULL AND POST_SCALE_NORM IS NOT NULL THEN SOS_MOVEON END AS MathAssess_SOSMoveOn,
		CASE WHEN SKILL_DESCRIPTION = 'SMI: Scholastic Math Inventory - MATH' AND PRE_SCALE_LOCAL = 'BELOW BASIC' THEN [Below Basic]
			 WHEN SKILL_DESCRIPTION = 'SMI: Scholastic Math Inventory - MATH' AND PRE_SCALE_LOCAL = 'BASIC' THEN [Basic]
			 WHEN SKILL_DESCRIPTION = 'SMI: Scholastic Math Inventory - MATH' AND PRE_SCALE_LOCAL = 'PROFICIENT' THEN [PROFICIENT]
			 WHEN SKILL_DESCRIPTION = 'SMI: Scholastic Math Inventory - MATH' AND PRE_SCALE_LOCAL = 'ADVANCED' THEN [ADVANCED]
			 ELSE NULL END AS SMI_TARGET_FULL
			 into #level1	 
	 FROM 
		(SELECT *, 
			CASE WHEN GRADE= 'K' THEN 0 WHEN GRADE = 'PK' THEN -1 ELSE GRADE END AS GRADE_ID_NUMERIC 
		FROM [ReportCYData_prod_17].[dbo].[EVAL_MATH_ASSESSMENT]) A
		LEFT JOIN [EVAL_LABS].[DBO].[SMI_TARGETS] B
		ON A.GRADE_ID_NUMERIC=B.F1 and skill_description like 'smi%'

		SELECT *, 
		CASE WHEN SKILL_DESCRIPTION = 'SMI: Scholastic Math Inventory - MATH' AND MTHASSESS_DATEDIFF>=180
		THEN SMI_TARGET_FULL
		WHEN SKILL_DESCRIPTION = 'SMI: Scholastic Math Inventory - MATH' AND MTHASSESS_DATEDIFF<180
		and pre_assessment_date <'1/1/2016' THEN SMI_TARGET_FULL*0.6
		WHEN SKILL_DESCRIPTION = 'SMI: Scholastic Math Inventory - MATH' AND MTHASSESS_DATEDIFF<180
		and pre_assessment_date >'12/31/2015' THEN SMI_TARGET_FULL*0.4 else null end as SMI_TARGET
		INTO #LEVEL2
		FROM #LEVEL1
		
		
	SELECT *,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=5 THEN MATHASSESS_ANYRAWDP ELSE NULL END AS IOG_MATHAssess35_anyRawDP,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=5 THEN MATHASSESS_2RAWDP ELSE NULL END AS IOG_MATHAssess35_2RawDP,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=5 THEN MATHASSESS_2PerfLvlDP_LOCAL ELSE NULL END AS IOG_MATHAssess35_2PerfLvlDP_LOCAL,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=5 THEN MATHASSESS_2PerfLvlDP_NORM ELSE NULL END AS IOG_MATHAssess35_2PerfLvlDP_NORM,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=5 THEN MATHAssess_RawInc ELSE NULL END AS IOG_MATHAssess35_RawInc,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=5 THEN MATHAssess_StartOffSlid ELSE NULL END AS IOG_MATHAssess35_StartOffSlid,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=5 THEN MATHAssess_SOSMoveOn ELSE NULL END AS IOG_MATHAssess35_SOSMoveOn,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN MATHASSESS_ANYRAWDP ELSE NULL END AS IOG_MATHAssess69_anyRawDP,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN MATHASSESS_2RAWDP ELSE NULL END AS IOG_MATHAssess69_2RawDP,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN MATHASSESS_2PerfLvlDP_LOCAL ELSE NULL END AS IOG_MATHAssess69_2PerfLvlDP_LOCAL,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN MATHASSESS_2PerfLvlDP_NORM ELSE NULL END AS IOG_MATHAssess69_2PerfLvlDP_NORM,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN MATHAssess_RawInc ELSE NULL END AS IOG_MATHAssess69_RawInc,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN MATHAssess_StartOffSlid ELSE NULL END AS IOG_MATHAssess69_StartOffSlid,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN MATHAssess_SOSMoveOn ELSE NULL END AS IOG_MATHAssess69_SOSMoveOn,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=9 THEN MATHASSESS_ANYRAWDP ELSE NULL END AS IOG_MATHAssess39_anyRawDP,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=9 THEN MATHASSESS_2RAWDP ELSE NULL END AS IOG_MATHAssess39_2RawDP,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=9 THEN MATHASSESS_2PerfLvlDP_LOCAL ELSE NULL END AS IOG_MATHAssess39_2PerfLvlDP_LOCAL,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=9 THEN MATHASSESS_2PerfLvlDP_NORM ELSE NULL END AS IOG_MATHAssess39_2PerfLvlDP_NORM,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=9 THEN MATHAssess_RawInc ELSE NULL END AS IOG_MATHAssess39_RawInc,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=9 THEN MATHAssess_StartOffSlid ELSE NULL END AS IOG_MATHAssess39_StartOffSlid,
		CASE WHEN IOG_CRITERIA=1 AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=9 THEN MATHAssess_SOSMoveOn ELSE NULL END AS IOG_MATHAssess39_SOSMoveOn,
		CASE WHEN DN_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN MATHASSESS_ANYRAWDP ELSE NULL END AS DN_MATHAssess69_anyRawDP,
		CASE WHEN DN_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN MATHASSESS_2RAWDP ELSE NULL END AS DN_MATHAssess69_2RawDP,
		CASE WHEN DN_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN MATHASSESS_2PerfLvlDP_LOCAL ELSE NULL END AS DN_MATHAssess69_2PerfLvlDP_LOCAL,
		CASE WHEN DN_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN MATHASSESS_2PerfLvlDP_NORM ELSE NULL END AS DN_MATHAssess69_2PerfLvlDP_NORM,
		CASE WHEN DN_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN MATHAssess_RawInc ELSE NULL END AS DN_MATHAssess69_RawInc,
		CASE WHEN DN_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN MATHAssess_StartOffSlid ELSE NULL END AS DN_MATHAssess69_StartOffSlid,
		CASE WHEN DN_CRITERIA=1 AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN MATHAssess_SOSMoveOn ELSE NULL END AS DN_MATHAssess69_SOSMoveOn
		----AC_MET_IMP, improvement definition involves score/point improvement
		--CASE WHEN SITE_NAME = 'BATON ROUGE' AND SKILL_DESCRIPTION = 'EADMS - MATH' AND RAWCHANGE>=.05 THEN 1
		--	WHEN SITE_NAME IN ('Columbia') AND SKILL_DESCRIPTION = 'STAR Math - MATH' AND RAWCHANGE>=40 THEN 1
		--	 WHEN SITE_NAME = 'DENVER' AND SKILL_DESCRIPTION = 'ACT Aspire - MATH' AND RAWCHANGE>=.1 THEN 1
		--	 WHEN SITE_NAME = 'JACKSONVILLE' AND SKILL_DESCRIPTION = 'IReady - Math' AND post_met_Target_score=1 then 1
		--	 WHEN SITE_NAME = 'MILWAUKEE' AND SKILL_DESCRIPTION = 'STAR Math - MATH' AND RAWCHANGE>=50 THEN 1
		--	 WHEN SITE_NAME in ('miami') AND SKILL_DESCRIPTION = 'IReady - Math' AND ((GRADE_ID_NUMERIC=3 AND RAWCHANGE>=32) OR (GRADE_ID_NUMERIC IN (4,5) AND RAWCHANGE>=22)
		--	  OR (GRADE_ID_NUMERIC IN (6, 7, 8) AND RAWCHANGE>=13)) THEN 1
		--	   when site_name = 'orlando' and skill_description ='Orlando Common Numeric Assessment - Math' and rawchange>=5 then 1
		--	  WHEN SITE_NAME in ('SACRAMENTO') AND SKILL_DESCRIPTION = 'IReady - Math' AND ((GRADE_ID_NUMERIC=3 AND RAWCHANGE>=32) OR (GRADE_ID_NUMERIC IN (4,5) AND RAWCHANGE>=22)
		--	  OR (GRADE_ID_NUMERIC IN (6, 7,8) AND RAWCHANGE>=13)) THEN 1
		--	 WHEN SITE_NAME = 'SAN JOSE' AND SKILL_DESCRIPTION = 'IREADY - MATH' AND RAWCHANGE>0 THEN 1
		--	 WHEN SITE_NAME LIKE 'WAS%' AND SKILL_DESCRIPTION = 'IREADY - MATH' AND ((GRADE_ID_NUMERIC IN (0,1) AND RAWCHANGE>=20) OR (GRADE_ID_NUMERIC IN (2,3) AND RAWCHANGE>=16)
		--	 OR (gRADE_ID_nUMERIC IN (4,5) AND RAWCHANGE>=11) OR (gRADE_ID_nUMERIC IN (6,7,8) AND RAWCHANGE>=6)) THEN 1
		--	 WHEN SITE_NAME LIKE 'WAS%' AND SKILL_DESCRIPTION = 'UNIT TEST - MATH' AND RAWCHANGE>=.1 THEN 1
		--	 WHEN SITE_NAME LIKE 'WAS%' AND SKILL_DESCRIPTION = 'AGILE MINDS - MATH' AND RAWCHANGE>=.1 THEN 1
		--	 WHEN SITE_nAME LIKE 'WASH%' AND SKILL_DESCRIPTION = 'DC District Unit Test - MATH' AND RAWCHANGE>=.1 THEN 1
		------AC_MET_IMP, improvement definition involves expected growth
		--	 WHEN SITE_NAME = 'NEW ORLEANS' AND SKILL_DESCRIPTION = 'NWEA - MATH' AND isnumeric(post_Target_score)=1 and RAWCHANGE>=(0.75*(CONVERT(FLOAT, POST_TARGET_SCORE)-CONVERT(FLOAT,PRE_VALUE))) THEN 1		 
		--	 WHEN SITE_NAME IN ('Chicago', 'Cleveland', 'Columbia', 'Columbus', 'DETROIT', 'denver', 'kansas city', 'Washington, DC') and SKILL_DESCRIPTION = 'NWEA - MATH' and POST_MET_TARGET_SCORE =1 THEN 1 
		--	WHEN SITE_NAME = 'COLUMBIA' AND SKILL_dESCRIPTION = 'AIMSweb - MATH' AND POST_MET_TARGET_sCORE=1 THEN 1
		--	 WHEN SITE_NAME IN ('boston', 'chicago', 'DENVER', 'LITTLE ROCK', 'LOS ANGELES', 'new york', 'PHILADELPHIA', 'SACRAMENTO', 'SAN ANTONIO', 
		--	 'san jose') AND SKILL_DESCRIPTION = 'SMI: Scholastic Math Inventory - MATH' and RAWCHANGE>=SMI_TARGET THEN 1
		--	 WHEN SITE_NAME IN ('RHODE ISLAND') AND SKILL_DESCRIPTION = 'STAR Math - MATH' AND POST_MET_TARGET_SCORE=1 THEN 1
		--	 WHEN SITE_NAME = 'SEATTLE' AND SKILL_DESCRIPTION = 'SMI: Scholastic Math Inventory - MATH' AND RAWCHANGE>=(0.5*SMI_TARGET) THEN 1
		--	 WHEN SITE_NAME = 'SEATTLE' AND SKILL_DESCRIPTION = 'AIMSWEB - MATH' AND isnumeric(post_target_score)=1 and RAWCHANGE>=(0.5*(CONVERT(FLOAT, POST_TARGET_SCORE)-CONVERT(FLOAT,PRE_VALUE))) THEN 1
		--ELSE NULL END AS AC_MET_IMP,
		-----AC_MET_PERF_LVL 
		--CASE WHEN SITE_NAME IN ('boston','chicago', 'LOS ANGELES', 'san antonio', 'tulsa', 'WASHINGTON DC') AND SKILL_DESCRIPTION = 'SMI: Scholastic Math Inventory - MATH' AND SCALE_CHANGE_LOCAL>=1 THEN 1
		--WHEN SITE_NAME = 'dallas' AND SKILL_DESCRIPTION = 'SMI: Scholastic Math Inventory - MATH' AND SCALE_CHANGE_norm>=1 THEN 1
		--  WHEN SITE_NAME = 'NEW HAMPSHIRE' AND SKILL_DESCRIPTION = 'Manchester School District Computation Assessment - Math' and scale_change_local>=1 then 1
		--     WHEN SITE_NAME = 'DETROIT' AND SKILL_DESCRIPTION = 'NWEA - MATH' AND SCALE_CHANGE_norm>=1 THEN 1
		--	   ELSE NULL END AS AC_MET_PERF_LVL
		INTO #LEVEL3
		FROM #LEVEL2




		SELECT * 
	--OG_MET_IMP, improvement definition involves point/score growth
	--		CASE WHEN SITE_NAME = 'SAN JOSE' AND SKILL_DESCRIPTION = 'IREADY - MATH' AND RAWCHANGE>0 THEN 1
	--			 WHEN SITE_NAME = 'DENVER' AND SKILL_DESCRIPTION = 'ACT Aspire - MATH' AND RAWCHANGE>=.1 THEN 1
	--			 WHEN SITE_NAME = 'JACKSONVILLE' AND SKILL_DESCRIPTION = 'IReady - Math' AND ((GRADE_ID_NUMERIC=3 AND RAWCHANGE>=32) OR (GRADE_ID_nUMERIC IN (4,5) AND RAWCHANGE>=22) OR
	--			(GRADE_ID_NUMERIC IN (6,7,8,9) AND RAWCHANGE>=13)) THEN 1
	--			WHEN SITE_NAME = 'MIAMI' AND SKILL_DESCRIPTION = 'IReady - Math' AND RAWCHANGE>=13 THEN 1
	--			when site_name = 'orlando' and skill_description ='Florida State Assessment Algebra 1 - MATH' and rawchange>=10 then 1
	--			WHEN SITE_NAME in ('SACRAMENTO') AND SKILL_DESCRIPTION = 'IReady - Math' AND ((GRADE_ID_NUMERIC=3 AND RAWCHANGE>=32) OR (GRADE_ID_NUMERIC IN (4,5) AND RAWCHANGE>=22)
	--		  OR (GRADE_ID_NUMERIC IN (6, 7,8) AND RAWCHANGE>=13)) THEN 1
	--			WHEN SITE_NAME = 'SAN ANTONIO' AND SKILL_DESCRIPTION = 'COMPASS LEARNING - MATH' AND RAWCHANGE>=.25 THEN 1
	--			WHEN SITE_nAME LIKE 'WASH%' AND SKILL_DESCRIPTION = 'DC District Unit Test - MATH' AND RAWCHANGE>=.1 THEN 1
	----OG_MET_IMP, improvement definition involves expected growth
	--			 WHEN SITE_NAME in ('Chicago', 'Columbia', 'Denver', 'Kansas City', 'NEW ORLEANS') and SKILL_DESCRIPTION = 'NWEA - MATH' and POST_MET_TARGET_SCORE =1 THEN 1
	--			 WHEN SITE_NAME in ('chicago','dallas', 'Denver', 'new york', 'san jose', 'SEATTLE', 'tulsa') AND SKILL_DESCRIPTION = 'SMI: Scholastic Math Inventory - MATH' and RAWCHANGE>=SMI_TARGET THEN 1
	--			 WHEN SITE_NAME = 'ORLANDO' AND SKILL_DESCRIPTION = 'THINK THROUGH MATH - MATH' AND POST_MET_tARGET_SCORE =1 THEN 1
	--			 	 when site_name = 'orlando' and skill_description ='Orlando Common Numeric Assessment - Math' and rawchange>=5 then 1
	--			 WHEN SITE_NAME = 'SEATTLE' AND SKILL_DESCRIPTION = 'AIMSWEB - MATH' AND POST_MET_tARGET_SCORE =1 THEN 1
	----OG_MET_IMP, improvement definition is same as AC improvement definition
	--			WHEN SITE_NAME IN ('BATON ROUGE', 'boston', 'CLEVELAND', 'COLUMBUS', 'detroit',
	--							    'LITTLE ROCK', 'MILWAUKEE', 'philadelphia',
	--							    'Rhode Island', 'SACRAMENTO', 'SAN ANTONIO', 'WASHINGTON, DC') THEN AC_MET_IMP
	--			WHEN SITE_NAME = 'NEW ORLEANS' AND SKILL_DESCRIPTION !='NWEA - MATH' THEN AC_MET_IMP
	--				WHEN SITE_NAME IN ('Columbia') AND SKILL_DESCRIPTION = 'STAR Math - MATH' THEN AC_MET_IMP
	--				WHEN SITE_NAME = 'COLUMBIA' AND SKILL_dESCRIPTION = 'AIMSweb - MATH' THEN AC_MET_IMP
	--        END AS OG_MET_IMP, 	
	--		CASE WHEN SITE_NAME IN ('LOS ANGELES', 'WASHINGTON DC') AND SKILL_DESCRIPTION = 'SMI: Scholastic Math Inventory - MATH' THEN AC_MET_PERF_LVL 
	--		when site_name = 'NEW HAMPSHIRE' THEN AC_MET_PERF_LVL 
	--		 END AS OG_MET_PERF_LEVEL
		INTO #LEVEL4
		FROM #LEVEL3

DROP TABLE Eval_Labs.dbo.FY17_MthAssessment

	SELECT * 
	--CASE WHEN OG_MET_IMP=1 OR OG_MET_PERF_LEVEL=1 THEN 1 ELSE NULL END AS MATHASSESS_IOG_METPERFGROWTH,
	--CASE WHEN AC_MET_IMP=1 OR AC_MET_PERF_LVL=1 THEN 1 ELSE NULL END AS MATHASSESS_AC_METGOAL,
	--CASE WHEN IOG_CRITERIA=1 AND (OG_MET_IMP=1 OR OG_MET_PERF_LEVEL=1) AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=5 THEN 1 ELSE NULL END AS IOG_MATHAssess35_MetPerfGrowth,
	--CASE WHEN IOG_CRITERIA=1 AND (OG_MET_IMP=1 OR OG_MET_PERF_LEVEL=1)  AND GRADE_ID_NUMERIC>=6 AND GRADE_ID_NUMERIC<=9 THEN 1 ELSE NULL END AS IOG_MATHAssess69_MetPerfGrowth,
	--CASE WHEN IOG_CRITERIA=1 AND (OG_MET_IMP=1 OR OG_MET_PERF_LEVEL=1)  AND GRADE_ID_NUMERIC>=3 AND GRADE_ID_NUMERIC<=9 THEN 1 ELSE NULL END AS IOG_MATHAssess39_MetPerfGrowth
INTO Eval_Labs.dbo.FY17_MthAssessment
FROM #LEVEL4
	
END

GO
