USE [EVAL_Labs]
GO
/****** Object:  Table [dbo].[FY17_DESSA_mini]    Script Date: 12/19/2016 4:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FY17_DESSA_mini](
	[CYSCHOOLHOUSE_STUDENT_ID] [varchar](255) NULL,
	[SCHOOL_ID] [varchar](255) NULL,
	[SITE_NAME] [varchar](255) NULL,
	[STUDENT_NAME] [varchar](255) NULL,
	[GRADE] [varchar](255) NULL,
	[Diplomas_Now_School] [varchar](255) NULL,
	[SCHOOL_NAME] [varchar](255) NULL,
	[INDICATOR_DESC] [varchar](255) NULL,
	[SKILL_DESCRIPTION] [varchar](255) NULL,
	[PRE_DATE] [date] NULL,
	[PRE_INTERVAL] [varchar](255) NULL,
	[PRE_VALUE] [varchar](255) NULL,
	[PRE_VALUE_DESC] [varchar](255) NULL,
	[MY_DATE] [date] NULL,
	[MY_INTERVAL] [varchar](255) NULL,
	[MY_VALUE] [varchar](255) NULL,
	[MY_VALUE_DESC] [varchar](255) NULL,
	[POST_DATE] [date] NULL,
	[POST_INTERVAL] [varchar](255) NULL,
	[POST_VALUE] [varchar](255) NULL,
	[POST_VALUE_DESC] [varchar](255) NULL,
	[MY_DAYS_BETWEEN_ASSESSMENTS] [varchar](255) NULL,
	[DAYS_BETWEEN_ASSESSMENTS] [varchar](255) NULL,
	[MY_RAWCHANGE] [varchar](255) NULL,
	[RAWCHANGE] [float] NULL,
	[MY_RAWCHANGE_DEGREE] [varchar](255) NULL,
	[RAWCHANGE_DEGREE] [varchar](255) NULL,
	[MY_DESC_CHANGE] [varchar](255) NULL,
	[DESC_CHANGE] [varchar](255) NULL,
	[MY_DESC_CHANGE_DEGREE] [varchar](255) NULL,
	[DESC_CHANGE_DEGREE] [varchar](255) NULL,
	[Attendance_IA] [varchar](255) NULL,
	[ELA_IA] [varchar](255) NULL,
	[Math_IA] [varchar](255) NULL,
	[Behavior_IA] [varchar](255) NULL,
	[CURRENTLY_ENROLLED] [varchar](255) NULL,
	[ENROLLED_DAYS] [varchar](255) NULL,
	[MET_56_DAYS] [varchar](255) NULL,
	[GRADE_GROUP] [varchar](255) NULL,
	[FISCAL_YEAR] [varchar](255) NULL,
	[GRANTSITENUM] [varchar](255) NULL,
	[GRANTCATEGORY] [varchar](255) NULL,
	[RUN_DATE] [datetime] NULL,
	[grade_id_numeric] [int] NULL,
	[DESSA_ANYRAWDP] [int] NOT NULL,
	[DESSA_2RAWDP] [int] NOT NULL,
	[DESSA_4PTIMP] [int] NULL,
	[DESSA_ANYRAWIMP] [int] NULL,
	[DESSA_START_NEED] [int] NULL,
	[DESSA_STARTN_ENDTS] [int] NULL,
	[DESSA_STARTTS_ENDTS] [int] NULL,
	[IOG_CRITERIA] [int] NOT NULL,
	[DN_CRITERIA] [int] NOT NULL,
	[IOG_DESSA35_anyRawDP] [int] NULL,
	[IOG_DESSA35_2RAWDP] [int] NULL,
	[IOG_DESSA35_4PTIMP] [int] NULL,
	[IOG_DESSA35_ANYRAWIMP] [int] NULL,
	[IOG_DESSA35_START_NEED] [int] NULL,
	[IOG_DESSA35_STARTN_ENDTS] [int] NULL,
	[IOG_DESSA35_STARTTS_ENDTS] [int] NULL,
	[IOG_DESSA69_anyRawDP] [int] NULL,
	[IOG_DESSA69_2RAWDP] [int] NULL,
	[IOG_DESSA69_4PTIMP] [int] NULL,
	[IOG_DESSA69_ANYRAWIMP] [int] NULL,
	[IOG_DESSA69_START_NEED] [int] NULL,
	[IOG_DESSA69_STARTN_ENDTS] [int] NULL,
	[IOG_DESSA69_STARTTS_ENDTS] [int] NULL,
	[IOG_DESSA39_anyRawDP] [int] NULL,
	[IOG_DESSA39_2RAWDP] [int] NULL,
	[IOG_DESSA39_4PTIMP] [int] NULL,
	[IOG_DESSA39_ANYRAWIMP] [int] NULL,
	[IOG_DESSA39_START_NEED] [int] NULL,
	[IOG_DESSA39_STARTN_ENDTS] [int] NULL,
	[IOG_DESSA39_STARTTS_ENDTS] [int] NULL,
	[DN_DESSA69_anyRawDP] [int] NULL,
	[DN_DESSA69_2RAWDP] [int] NULL,
	[DN_DESSA69_4PTIMP] [int] NULL,
	[DN_DESSA69_ANYRAWIMP] [int] NULL,
	[DN_DESSA69_START_NEED] [int] NULL,
	[DN_DESSA69_STARTN_ENDTS] [int] NULL,
	[DN_DESSA69_STARTTS_ENDTS] [int] NULL
) ON [PRIMARY]

GO
